{#
/**
 * @file
 * Default theme implementation for an export icon.
 *
 * Available variables:
 * - url: An internal system path of the data export.
 * - attributes: Remaining HTML attributes for the export link.
 *   - format: The export format (csv, json, xml).
 *   - class: HTML classes to be applied to the export link.
 *
 * @ingroup themeable
 */
#}
<a href="{{ url }}"{{ attributes.addClass('button button-small') }}>
  {{ 'Download Results as @format File &nbsp;&nbsp;<i class="far fa-arrow-alt-circle-down"></i>'|t({'@format': format}) }}
</a>
