{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}
<!-- START: field-group-html-element--group-document-uploads.html.twig -->
{% include '@drn_base/paragraph/includes/field-group-document-uploads.html.twig' %}
<!-- END: field-group-html-element--group-document-uploads.html.twig -->