<!-- START: paragraph--p-heading-text-anchor.html.twig -->
{% block paragraph %}
	{% block content %}
		<div class="content-block margin-bottom-50 margin-top-50">
			{% if content.field_anchor %}
				<div id="{{ content.field_anchor.0 }}" class="anchor-tag"></div>			
			{% endif %}
			{% if content.field_heading %}
				<h4 class="content-block-heading">
					{{ content.field_heading }}
				</h4>
			{% endif %}
			{% if content.field_text %}
				<div class="content-block-body">
					{{ content.field_text }}
				</div>
			{% endif %}
		</div>
	{% endblock %}
{% endblock paragraph %}
<!-- END: paragraph--p-heading-text-anchor.html.twig -->