<section id="nid-{{ node.id }}">
	{% if perm_edit_iar_page or perm_view_iar_page %}
		<article class="container-fluid" id="iar-wrapper">
			<section class="row mt-4">
				<article class="col-md-auto p-0">
					<h1 class="page-title">I AM Ready™ Program</h1>
				</article>
				<article class="col-sm-auto ml-auto">
					<section class="row">
						<article class="col-6">
							<h3 class="m-4 text-center">{{ page_user_name }}</h3>
						</article>
						<article class="col-4 bkg-light-gray">
							<p class="m-3 text-center text-semibold">Level Status</p>
						</article>
						<article class="col-2">
							<!--img src="" alt="I AM Ready Badge Level" width="" height="" /-->
							<p class="m-4 text-center text-semibold">{{ iar_level }}</p>
						</article>
					</section>
				</article>
			</section>
			<section class="row p-2">
				<p>Highland Lakes Crisis Network’s <strong>I AM Ready™ program</strong> equips, empowers, and engages volunteers through skills training, deployable volunteer response roles, and personal preparedness levels. The goal of the program is to provide opportunities for volunteers to reach maximum preparedness for their family, neighbors, or as leaders as they fulfill the desires of their heart to serve Christ and the church in times of disaster. Through the I AM Ready™ program, volunteers may advance through five levels of readiness by gathering preparedness supplies, fulfilling emergency preparation planning requirements, performing hours of service, and completing training courses.</p>
			</section>
			<!-- <section class="row justify-content-end">
				<a href="#" target="_blank" class="text-underlined mt-4">View I AM Ready™ Program Chart (PDF)</a>
			</section>-->
			<section class="row mt-5">
				<article class="col p-0">
					<!-- IAR Level Tab Nav -->
					<ul class="nav nav-tabs" id="iar-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="level-one-link" data-toggle="tab" href="#level-one-tab" role="tab" aria-controls="level-one" aria-selected="true">Level 1 Basic</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="level-two-link" data-toggle="tab" href="#level-two-tab" role="tab" aria-controls="level-two" aria-selected="false">Level 2 Advanced</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="level-three-link" data-toggle="tab" href="#level-three-tab" role="tab" aria-controls="level-three" aria-selected="false">Level 3 Family</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="level-four-link" data-toggle="tab" href="#level-four-tab" role="tab" aria-controls="level-four" aria-selected="false">Level 4 Neighborhood</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="level-five-link" data-toggle="tab" href="#level-five-tab" role="tab" aria-controls="level-five" aria-selected="false">Level 5 Leadership</a>
						</li>
					</ul>

					<div class="tab-content" id="iar-tab-content">
						<div class="tab-pane fade show active" id="level-one-tab" role="tabpanel" aria-labelledby="level-one-tab">
							<section class="row pt-4">
								<article class="col-lg-5 mt-3">
									<h2>Basic Preparedness</h2>
									<p>A volunteer engages with our Network at this basic level when they have completed the requirements on this page. All Basic Trained volunteers meet the requirements for this engagement level.</p>
								</article>
								<article class="col-lg-7" style="border-left: 1px solid gray;">
									<h3><a href="/courses">Course Requirements</a></h3>
									<table class="table table-sm table-striped">
										<tbody>
											{% for c in iar_level_one_courses %}
												<tr>
													<td>
														<input type="checkbox" {{ (c.checked) ? 'checked="checked"' : '' }} disabled>
														<label>{{ c.name }}</label>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
									<h3>Additional Requirements</h3>
									<table class="table table-sm table-striped">
										<tbody>
											{% for add in iar_level_one_add %}
												<tr>
													<td>
														<input type="checkbox" {{ (add.checked) ? 'checked="checked"' : '' }} disabled>
														<label>{{ add.name }}</label>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</article>
							</section>
						</div>
						<div class="tab-pane fade" id="level-two-tab" role="tabpanel" aria-labelledby="level-two-tab">
							<section class="row pt-4">
								<article class="col-lg-5 mt-3">
									<h2>Advanced Trained</h2>
									<p>A volunteer engages with our Network at this level when they have completed the requirements on this page. This volunteer has begun the process of becoming <strong>personally prepared.</strong></p>
								</article>
								<article class="col-lg-7" style="border-left: 1px solid gray;">
									<h3><a href="/courses">Course Requirements</a></h3>
									<table class="table table-sm table-striped">
										<tbody>
											{% for c in iar_level_two_courses %}
												<tr>
													<td>
														<input type="checkbox" {{ (c.checked) ? 'checked="checked"' : '' }} disabled>
														<label>{{ c.name }}</label>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
									<h3>Additional Requirements</h3>
									<table class="table table-sm table-striped">
										<tbody>
											{% for add in iar_level_two_add %}
												<tr>
													<td>
														<input type="checkbox" {{ (add.checked) ? 'checked="checked"' : '' }} disabled>
														<label>{{ add.name }}</label>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</article>
							</section>
							<section class="row pt-4" style="border-top: 1px solid gray;">
								<article class="col">
									<h3>Preparedness Supplies Checklist</h3>
									<p>This checklist allows you to track your progress in reaching I AM Ready Level 2. In order to attain Level 2 status, you must confirm you have the items listed in the checklist below. By checking off the following statements, you are confirming you have them and you understand they are required. </p>
								</article>
							</section>
							<section class="row">
								<article class="col">
									{{ form_level_two_supplies }}
								</article>
							</section>
						</div>
						<div class="tab-pane fade" id="level-three-tab" role="tabpanel" aria-labelledby="level-three-tab">
							<section class="row pt-4">
								<article class="col-lg-5 mt-3">
									<h2>Help My Family</h2>
									<p>A volunteer engages with our Network at this level when they have completed the requirements on this page. Volunteers at this level have become personally prepared and have started the process of <strong>preparing their families.</strong></p>
								</article>
								<article class="col-lg-7" style="border-left: 1px solid gray;">
									<h3><a href="/courses">Course Requirements</a></h3>
									<table class="table table-sm table-striped">
										<tbody>
											{% for c in iar_level_three_courses %}
												<tr>
													<td>
														<input type="checkbox" {{ (c.checked) ? 'checked="checked"' : '' }} disabled>
														<label>{{ c.name }}</label>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
									<h3>Additional Requirements</h3>
									<table class="table table-sm table-striped">
										<tbody>
											{% for add in iar_level_three_add %}
												<tr>
													<td>
														<input type="checkbox" {{ (add.checked) ? 'checked="checked"' : '' }} disabled>
														<label>{{ add.name }}</label>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</article>
							</section>
							<section class="row pt-4" style="border-top: 1px solid gray;">
								<article class="col">
									<h3>Preparedness Supplies Checklist</h3>
									<p>This checklist allows you to track your progress in reaching I AM Ready Level 3. In order to attain Level 3 status, you must confirm you have the items listed in the checklist below. By checking off the following statements, you are confirming you have them and you understand they are required. </p>
								</article>
							</section>
							<section class="row">
								<article class="col">
									{{ form_level_three_supplies }}
								</article>
							</section>
							<section class="row pt-4" style="border-top: 1px solid gray;">
								<article class="col">
									<h3>Certification Checklist</h3>
									<p>I minimally have completed 8 hours of citywide disaster drill or disaster relief field experience (ie. warehouse, site cleanup, debriefing). Please check the box that applies below:</p>
								</article>
							</section>
							<section class="row">
								<article class="col">
									{{ form_level_three_app }}
								</article>
							</section>
						</div>
						<div class="tab-pane fade" id="level-four-tab" role="tabpanel" aria-labelledby="level-four-tab">
							<section class="row pt-4">
								<article class="col-lg-5 mt-3">
									<h2>Help My Neighbors</h2>
									<p>A volunteer engages with our Network at this level when they have completed the requirements on this page. Volunteers at this level have prepared their families and have started the process of <strong>being ready to help their neighborhood.</strong></p>
								</article>
								<article class="col-lg-7" style="border-left: 1px solid gray;">
									<h3><a href="/courses">Course Requirements</a></h3>
									<table class="table table-sm table-striped">
										<tbody>
											{% for c in iar_level_four_courses %}
												<tr>
													<td>
														<input type="checkbox" {{ (c.checked) ? 'checked="checked"' : '' }} disabled>
														<label>{{ c.name }}</label>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
									<h3>Additional Requirements</h3>
									<table class="table table-sm table-striped">
										<tbody>
											{% for add in iar_level_four_add %}
												<tr>
													<td>
														<input type="checkbox" {{ (add.checked) ? 'checked="checked"' : '' }} disabled>
														<label>{{ add.name }}</label>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</article>
							</section>
							<section class="row pt-4" style="border-top: 1px solid gray;">
								<article class="col">
									<h3>Preparedness Supplies Checklist</h3>
									<p>This checklist allows you to track your progress in reaching I AM Ready Level 4. In order to attain Level 4 status, you must confirm you have the items listed in the checklist below. By checking off the following statements, you are confirming you have them and you understand they are required. </p>
								</article>
							</section>
							<section class="row">
								<article class="col">
									{{ form_level_four_supplies }}
								</article>
							</section>
							<section class="row pt-4" style="border-top: 1px solid gray;">
								<article class="col">
									<h3>Certification Checklist</h3>
									<p>I have applied minimally 16 hours CERT or CISM training in a local, national or international disaster or crisis situation. Please check the box that applies below:</p>
								</article>
							</section>
							<section class="row">
								<article class="col">
									{{ form_level_four_app }}
								</article>
							</section>
						</div>
						<div class="tab-pane fade" id="level-five-tab" role="tabpanel" aria-labelledby="level-five-tab">
							<section class="row pt-4">
								<article class="col-lg-5 mt-3">
									<h2>Leadership</h2>
									<p>A volunteer engages with our Network at this highest level when they have completed the requirements on this page. Volunteers at this level are ready to <strong>lead other volunteers</strong> in the Network.</p>
								</article>
								<article class="col-lg-7" style="border-left: 1px solid gray;">
									<h3><a href="/courses">Course Requirements</a></h3>
									<table class="table table-sm table-striped">
										<tbody>
											{% for c in iar_level_five_courses %}
												<tr>
													<td>
														<input type="checkbox" {{ (c.checked) ? 'checked="checked"' : '' }} disabled>
														<label>{{ c.name }}</label>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
									<h3>Additional Requirements</h3>
									<table class="table table-sm table-striped">
										<tbody>
											{% for add in iar_level_five_add %}
												<tr>
													<td>
														<input type="checkbox" {{ (add.checked) ? 'checked="checked"' : '' }} disabled>
														<label>{{ add.name }}</label>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</article>
							</section>
							<section class="row pt-4" style="border-top: 1px solid gray;">
								<article class="col">
									<h3>Certification Checklist</h3>
									<p>Please check the below boxes to indicate completion of the items:</p>
								</article>
							</section>
							<section class="row">
								<article class="col">
									{{ form_level_five_app }}
								</article>
							</section>
						</div>
					</div>
				</article>
			</section>
		</article>
	{% else %}
		<h1 class="page-title">Access Denied</h1>
		<p>You do not have access to this user's I AM Ready™ page.</p>
	{% endif %}
</section>
