<!-- node--1.html.twig - Home Page -->
<div id="nid-{{ node.id }}">

  <!-- HOME: Main Banner -->
  <div class="container-fluid py-6 text-center bkg-img-overlay" id="home-main-banner">
    <div class="row">
      <div class="col">
        <!-- <h2 class="color-drn-secondary">Welcome to ADRN's Volunteer Portal</h2> -->
        <h1 class="text-white">Love God</h1>
        <h1 class="text-white">Love People</h1>
        <h1 class="text-white">Mobilize the Kingdom</h1>
        {% if not logged_in %}
          <p class="text-white"><em>Sign in to register for training and access your volunteer profile.</em></p>
          <a class="button" href="/user">Sign In</a>
        {% endif %}
        <!-- <h2 class="color-drn-secondary mt-4">#yellowshirts</h2> -->
      </div>
    </div>
  </div>

  <!-- HOME: Marquee -->
  {% if not logged_in %}
    <div class="container-fluid bkg-darkest-gray text-center" id="home-marquee">
      <div class="row">
        <div class="col">
          <p><span class="text-white text-semibold">NEW VOLUNTEER?</span> <a href="/user/register" class="d-inline-block d-md-inline text-yellow text-underlined">Complete a Volunteer Profile to get started ></a>.</p>
        </div>
      </div>
    </div>
  {% endif %}
        
  <!-- HOME: WHAT WE DO - TEXT -->
  <a name="about"></a>
  <div class="container pt-6 text-center" id="home-what-we-do">
    <div class="row">
      <div class="col">
        <h2>What is HLCN?</h2>
        <p>The Highland Lakes Crisis Network (HLCN) is a network of local churches meeting the physical, emotional and spiritual needs of our neighbors during times of crisis and disaster. We seek to equip and connect the Body of Christ to love our neighbors through acts of service.</p>
      </div><!-- /column -->
    </div><!-- /row -->
  </div><!-- /container #home-what-we-do -->

  <!-- HOME: WHAT WE DO - BADGES -->
  <div class="container pb-6 text-center" id="home-what-we-do-badges">
    <div class="row justify-content-center">

      <div class="col-lg-2 col-md-4 col-6">
        <div class="badge-column">
            <img alt="Uniting Network Churches" src="/{{ base_path ~ directory }}/images/home-page/churches-badge.png" /> 
          <div class="badge-label"><h3>Uniting the Churches</h3></div>
        </div><!-- /badge-column -->
      </div><!-- /columns -->


      <div class="col-lg-2 col-md-4 col-6">
        <div class="badge-column">
            <img alt="Engaging Volunteers" src="/{{ base_path ~ directory }}/images/home-page/volunteers-badge.png" /> 
          <div class="badge-label"><h3>Engaging HLCN Volunteers</h3></div>
        </div><!-- /badge-column -->
      </div><!-- /columns -->


      <div class="col-lg-2 col-md-4 col-6">
        <div class="badge-column">
            <img alt="Equipping Kingdom Leaders" src="/{{ base_path ~ directory }}/images/home-page/training-badge.png" /> 
          <div class="badge-label"><h3>Equipping Kingdom Leaders</h3></div>
        </div><!-- /badge-column -->
      </div><!-- /columns -->


      <div class="col-lg-2 col-md-4 col-6">
        <div class="badge-column">
            <img alt="Crisis/Disaster Assistance" src="/{{ base_path ~ directory }}/images/home-page/survivor-badge.png" /> 
          <div class="badge-label"><h3>Crisis/Disaster Assistance</h3></div>
        </div><!-- /badge-column -->
      </div><!-- /columns -->

      <div class="col-lg-2 col-md-4 col-6">
        <div class="badge-column">
            <img alt="Deployment Ready Teams" src="/{{ base_path ~ directory }}/images/home-page/deployment-badge.png" /> 
          <div class="badge-label"><h3>Deployment Ready Teams</h3></div>
        </div><!-- /badge-column -->
      </div><!-- /columns -->

    </div><!-- /row -->
  </div><!-- /container #home-what-we-do-badges -->

  <!-- HOME: SCRIPTURE -->
  <div class="container-fluid px-0 bkg-light-gray" id="home-scripture">
    <div class="row">
      <div class="col-12 col-md-6 p-0">
        <div id="scripture-img"></div>
        <div class="d-none d-md-block" id="scripture-gradient"></div>
      </div>
      <div class="col-12 col-md-6 p-4">
        <p><em>“And he said to him, “You shall love the Lord your God with all your heart and with all your soul and with all your mind.  This is the great and first commandment. And a second is like it: You shall love your neighbor as yourself.  On these two commandments depend all the Law and the Prophets.”</em></p>
        <p class="mt-4"><em>~Matthew 22:37-40</em></p>
      </div>
    </div>
  </div>

  <!-- HOME: VOLUNTEER -->
  <div class="container py-6" id="home-volunteer">
    <div class="row">
      <div class="col-lg-6 order-2 order-md-1">
          <img class="my-4" alt="Volunteer with us" src="/{{ base_path ~ directory }}/images/home-page/bkg-volunteer-opportunities.png" /> 
      </div>
      <div class="col-lg-6 col-with-text order-1 order-md-2 align-center text-center">
        <h2>Volunteer with Us</h2>
        <p>We are so grateful for your support and know that God has big things planned!
We hope that you will join us by sharing your time, talent, and resources toward helping advance the Kingdom through the Highland Lakes Crisis Network. As a representative of HLCN, your actions in the service of your neighbors during times of crisis or disaster will reflect God’s love and bring glory to His Name. <br/><br/>
We would love to visit with you about your heart for serving others!
</p>
        {% if not logged_in %}
          <a href="/user" class="button button-rounded button-gray mt-4">Sign In</a>
          <p class="login-instructions mt-3">New Volunteer? <a class="text-underlined" href="/user/register">Complete a Volunteer Profile to Get Started ></a>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- HOME: JOIN THE NETWORK -->  
  <div class="container py-6 border-top-on-mobile" id="home-join">
    <div class="row">
      <div class="col align-center text-center">
        <h2>Join the Network</h2>
        <p>HLCN coordinates with local and state government, disaster agencies, businesses, ministries and local churches. We facilitate and assist in communication, building bridges and fostering trust and understanding.</p>
      </div>
    </div>
    <div class="row justify-content-center py-5" id="home-network-entrypoints">
      <div class="col col-md-6 col-lg-4 p-3">
        <div class="container-fluid home-network-entrypoint-col  my-4 p-5 bkg-white box-with-solid-border text-center" id="home-join-volunteer">
          <img alt="Volunteer" src="/{{ base_path ~ directory }}/images/home-page/volunteer-icon.png" alt="Volunteer with HLCN" width="100" height="100"/> 
          <h3>Volunteer</h3>
          <p>Make an impact in your community through service.</p>
        </div>
      </div>
      <div class="col col-md-6 col-lg-4 p-3">
        <div class="container-fluid home-network-entrypoint-col my-4 p-5 bkg-white box-with-solid-border text-center" id="home-join-church">
          <img alt="Church" src="/{{ base_path ~ directory }}/images/home-page/church-icon.png" alt="Join the HLCN network" width="100" height="100"/> </h3>
          <h3>Church</h3>
          <p>Engage your church to live God’s mission in your own community.</p>
        </div>
      </div>
      <div class="col col-md-6 col-lg-4 p-3">
        <div class="container-fluid home-network-entrypoint-col my-4 p-5 bkg-white box-with-solid-border text-center" id="home-join-partner">
          <img alt="Donor" src="/{{ base_path ~ directory }}/images/home-page/donor-icon.png" alt="Donote to ADRN" width="100" height="100"/> 
          <h3>Donate</h3>
          <p>Make a difference in the lives of those in need. Support HLCN’s mission!</p>
        </div>
      </div>
    </div>
  </div>

</div>
