{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<!-- START: user--dashboard.html.twig -->
{# Note: has_access_to_this_user_dashboard is set in drn_users.module and is based off user roles and permissions #}
{% if (has_access_to_this_user_dashboard) and content %}

	<!-- ========== IF NTA ============= -->
	{%  if user_is_nta %}
		<article id="user-dashboard" class="container-fluid">
			<section class="row">
				<article class="col-xl-4">
					<h1 class="page-title mb-3">{{ (user_this_dashboard_user_id == loggedin_user_user_id) ? "My" : "User"}} Dashboard</h1>
					<!--
					{% if user_this_dashboard_user_id == loggedin_user_user_id %}
						<h1 class="page-title mb-3">My Dashboard</h1>
					{% else %}
						<h1 class="page-title" style="margin-bottom:5px; padding-bottom:0;">User Dashboard</h1>
						<div style="color:#2e9fb0; font-weight:bold;">{{ user_first_name }} {{ user_last_name }}</div>
					{% endif %}
					-->
				</article>
				<article class="col-xl-8">
					{% if dashboard_notice_enabled %}
						<div id="dashboard-notice" class="dashboard-notice-regular">
							{{ dashboard_notice_text | raw }}
						</div>
					{% endif %}
				</article>
			</section>
			<section class="row">
				<article class="col-xl-4">
					<section class="row mb-4" id="dashboard-box-user-general">
						<article class="col box-with-dropshadow-border">
							<section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
								<article class="col text-right"><p>
								{% if (has_access_to_edit_this_user) %}
									<a href="/user/{{ user.id }}/edit" class="user-edit-link">Edit</a>
								{%  endif %}
								</p></article>
							</section>
							<div class="user-photo text-center">
								<div class="picto">
									{%  if user_picture_url %}
										<style>
											.user-photo .picto{
												background-image: url({{ user_picture_url }});
											}
										</style>
									{% endif %}
								</div>
							</div>
							<section class="row user-full-name text-center mb-4">
								<article class="col">
									{{ user_first_name }} {% if user_preferred_name %} ({{ user_preferred_name }}) {%  endif %} {{ user_last_name }}
								</article>
							</section>
						</article>
					</section>
			</article>
			<article class="col-xl-8">
					<section id="dashboard-box-user-training" class="mb-4 box-with-dropshadow-border">
						<section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
							<article class="col py-2">
								<h3>My Training</h3>
							</article>
						</section>
						<article class="dashboard-box-content">
							<!-- ============= SCHEDULED (NTA) ============= -->
							<section class="row">
								<article class="col">
									<h4>Scheduled</h4>
								</article>
							</section>
							{% if user_trainings_scheduled %}
								<section class="row px-2 d-none d-lg-flex">
									<article class="col-9">
										<h5>Onsite & Livestream Courses</h5>
									</article>
									<article class="col-3 text-center">
										<!-- <h5>Date</h5> -->
									</article>
								</section>
								{% for ts in user_trainings_scheduled %}
									<section class="row px-2 pt-3 banded-row {{ loop.index % 2 == 1 ? "dark" : "light" }} {{ loop.index == 1 ? "first" : "" }}">
										<article class="col-12 col-lg-9 align-self-center text-center text-lg-left">
											{% if ts.published %}
												<p><a href="/group/{{ ts.gid }}">{{ ts.name }}</a> ({{ ts.delivery_method }})</p>
											{% else %}
												<p>{{ ts.name }} ({{ ts.delivery_method }})</p>
											{% endif %}
										</article>
										<article class="col col-lg-3 d-none d-lg-flex align-self-center justify-content-center text-center">
											<!-- <p>{{ ts.completed | date("m/d/Y") }}</p> -->
												<p><a href="/group/{{ ts.gid }}" class="button button-small button-teal">View Details</a></p>

										</article>
									</section>
								{% endfor %}
							{% else %}
									<p>You are currently not enrolled in any scheduled trainings.</p>
							{% endif %}

							<!-- ============= IN PROGRESS (NTA) ============= -->
							<section class="row mt-5">
								<article class="col">
									<h4>OnDemand</h4>
								</article>
							</section>
							{% if user_trainings_in_progress %}
								<section class="row px-2 d-none d-lg-flex">
									<article class="col-6">
										<h5>Online Courses</h5>
									</article>
									<article class="col-3 text-center">
										<h5>Progress</h5>
									</article>
									<article class="col-3 text-center">
										<!-- <h5>Complete Course</h5> -->
									</article>
								</section>
								{% for tc in user_trainings_in_progress %}
									<section class="row px-2 pt-3 banded-row {{ loop.index % 2 == 1 ? "dark" : "light" }} {{ loop.index == 1 ? "first" : "" }}">
										<article class="col-12 col-lg-6 align-self-center text-center text-lg-left">
											{% if tc.published %}
												<p><a href="/group/{{ tc.gid }}">{{ tc.name }}</a></p>
											{% else %}
												<p>{{ tc.name }}</p>
											{% endif %}
										</article>
										<article class="col col-lg-3 d-none d-lg-flex ">
											<p>{{ tc.progress }}%</p>
										</article>
										<article class="col-12 col-lg-3 align-self-center justify-content-center text-center">
											{% if user_this_dashboard_user_id == loggedin_user_user_id %}
												{% if (tc.progress == 0) %}
													<p><a href="/group/{{ tc.gid }}" class="button button-small button-primary">Get Started</a></p>
												{% else %}
													<p><a href="/group/{{ tc.gid }}" class="button button-small button-teal">Continue Course</a></p>
												{% endif %}
											{% endif %}
										</article>
									</section>
								{% endfor %}
							{% else %}
								<p>No In Progress training records found.</p>
							{% endif %}

							<!-- ============= COMPLETED (NTA) ============= -->
							<section class="row mt-5">
								<article class="col">
									<h4>Completed</h4>
								</article>
							</section>
							{% if user_trainings_completed %}
								<section class="row px-2 d-none d-lg-flex">
									<article class="col-9">
										<h5>Course Title</h5>
									</article>
									<article class="col-3 text-center">
										<h5>Completed</h5>
									</article>
								</section>
								{% for tc in user_trainings_completed %}
									<section class="row px-2 pt-3 banded-row {{ loop.index % 2 == 1 ? "dark" : "light" }} {{ loop.index == 1 ? "first" : "" }}">
										<article class="col-12 col-lg-9 align-self-center text-center text-lg-left">
											{% if tc.published %}
												<p><a href="/group/{{ tc.gid }}">{{ tc.name }}</a></p>
											{% else %}
												<p>{{ tc.name }}</p>
											{% endif %}
										</article>
										<article class="col col-lg-3 d-none d-lg-flex align-self-center justify-content-center text-center">
											<p>{{ tc.completed | date("m/d/Y") }}</p>
										</article>
									</section>
								{% endfor %}
							{% else %}
									<p>No Completed training records found.</p>
							{% endif %}
						</article>
					</section>
			</article>

	{%  else %}
		<!-- ========== IF ANYONE ELSE ============= -->	
		<article id="user-dashboard" class="container-fluid">
			<section class="row">
				<article class="col-xl-4">
					<h1 class="page-title mb-3">{{ (user_this_dashboard_user_id == loggedin_user_user_id) ? "My" : "User"}} Dashboard</h1>
					<!--
					{% if user_this_dashboard_user_id == loggedin_user_user_id %}
						<h1 class="page-title mb-3">My Dashboard</h1>
					{% else %}
						<h1 class="page-title" style="margin-bottom:5px; padding-bottom:0;">User Dashboard</h1>
						<div style="color:#2e9fb0; font-weight:bold;">{{ user_first_name }} {{ user_last_name }}</div>
					{% endif %}
					-->
				</article>
				<article class="col-xl-8">
					{% if dashboard_notice_enabled %}
						<div id="dashboard-notice" class="dashboard-notice-regular">
							{{ dashboard_notice_text | raw }}
						</div>
					{% endif %}
				</article>
			</section>
			<section class="row">
				<article class="col-xl-4">
					<section class="row mb-4" id="dashboard-box-user-general">
						<article class="col box-with-dropshadow-border">
							<section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
								<article class="col text-right"><p>
								{% if (has_access_to_edit_this_user) %}
									<a href="/user/{{ user.id }}/edit" class="user-edit-link">Edit</a>
								{%  endif %}
								</p></article>
							</section>
							<div class="user-photo text-center">
								<div class="picto">
									{%  if user_picture_url %}
										<style>
											.user-photo .picto{
												background-image: url({{ user_picture_url }});
											}
										</style>
									{% endif %}
								</div>
							</div>
							<section class="row user-full-name text-center mb-4">
								<article class="col">
									{{ user_first_name }} {% if user_preferred_name %} ({{ user_preferred_name }}) {%  endif %} {{ user_last_name }}
								</article>
							</section>
						</article>
					</section>
					<section class="row mb-4" id="dashboard-box-user-status">
						<article class="col box-with-dropshadow-border">
							<section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
								<article class="col">
									<h3>Volunteer Status</h3>
								</article>
							</section>
							<section class="row">
								<article class="col dashboard-box-content">
									<div class="user-badge-level">
										<label>ADRN Badge:</label> {{ user_badge_color }} 
									</div>
									<div class="user-volunteer-roles">
										<label>Volunteer Response Roles:</label>
										{{ user_response_roles }}
									</div>
									<div class="user-background-check-status">
										<label>Background Check Status:</label>
										{{ user_bgc_status }}
									</div>
									<div class="user-background-check-date">
										<label>Background Check Date:</label>
										{{ user_bgc_date }}
									</div>
							</section>
					</section>
					<section class="row mb-4" id="dashboard-box-user-profile">
						<article class="col box-with-dropshadow-border">
							<section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
								<article class="col-12 col-lg-6 pl-0">
									<h3>My Profile</h3>
								</article>
								<article class="col-12 col-lg-6 pr-0 text-right">
									<p>
									{% if (has_access_to_edit_this_user) %}
										<a href="/user/{{ user.id }}/edit" class="user-edit-link">Edit</a>
									{%  endif %}
									</p>
								</article>
							</section>
							<section class="row">
								<article class="col dashboard-box-content">
									<h4>Basic Info</h4>
									<div class="dashboard-box-item">
										<label>Address: </label> {{ user_address }}
									</div>
									<div class="dashboard-box-item">
										<label>Email: <a href="mailto:{{ user.mail.value }}" class="text-wrap-anywhere">{{ user.mail.value }}</a>
									</div>
									<div class="dashboard-box-item">
										<label>Cell Phone: </label> {{ user_cell_phone }}
									</div>
									<div class="dashboard-box-item">
										<label>Preferred Name: </label> {{ user_preferred_name }}
									</div>
									<hr>
									<h4>Additional Info</h4>
									<div class="dashboard-box-item">
										<label>DOB: </label> {{ user_dob is empty ? "" : user_dob|date("m/d/Y") }}
									</div>
									<div class="dashboard-box-item">
										<label>DL#:</label> {{ user_dl_id }} &nbsp; Exp: {{ user_dl_expiration_date is empty ? '' : user_dl_expiration_date|date('m/d/Y') }}
									</div>
									<div class="dashboard-box-item">
										<label>DL Class: </label> {{ user_dl_class|raw }}
									</div>
									{% if user_ham_callsign %}
										<div class="dashboard-box-item">
											<label>HAM Callsign: </label> {{ user_ham_callsign}}
										</div>
									{% endif %}
									<div class="dashboard-box-item">
										<label>Emergency Contact: </label> {{ user_emergency_contact_name}}
									</div>
									<div class="dashboard-box-item">
										<label>Emergency Ph: </label> {{ user_emergency_contact_phone }}
									</div>
									<div class="dashboard-box-item">
										<label>Shirt Size: </label> {{ user_shirt_size }}
									</div>
									<hr>
									<h4>Church</h4>
									<div class="dashboard-box-item hide-label">
										{{ user_org|raw }}
									</div>
									<hr>
									<h4>Availability</h4>
									{% if user_availabilities %}
										<section class="row px-2">
											<article class="col"></article>
											<article class="col text-center text-wrap-anywhere">
												<h5 class="d-none d-md-block">Morning</h5>
												<h5 class="d-md-none">Morn</h5>
											</article>
											<article class="col text-center text-wrap-anywhere">
												<h5 class="d-none d-md-block">Afternoon</h5>
												<h5 class="d-md-none">Noon</h5>
											</article>
											<article class="col text-center text-wrap-anywhere">
												<h5 class="d-none d-md-block">Evening</h5>
												<h5 class="d-md-none">Eve</h5>
											</article>
										</section>
										{% for k, v in user_availabilities %}
											<section class="row px-2 pt-3 banded-row {{ loop.index % 2 == 1 ? "dark" : "light" }} {{ loop.index == 1 ? "first" : "" }}">
												<article class="col text-wrap-anywhere"><p class="d-none d-md-block"><strong>{{ k }}</strong></p><p class="d-md-none"><strong>{{ v['Abbreviation'] }}</strong></p></article>
												<article class="col text-center"><input type="checkbox" {{ (v['Morning']) ? 'checked="checked"' : '' }} disabled></article>
												<article class="col text-center"><input type="checkbox" {{ (v['Afternoon']) ? 'checked="checked"' : '' }} disabled></article>
												<article class="col text-center"><input type="checkbox" {{ (v['Evening']) ? 'checked="checked"' : '' }} disabled></article>
											</section>
										{% endfor %}
									{%  else %}
										<p>N/A</p>
									{%  endif %}
									{% if user_availability_distance %}
										<p class="mt-4">Distance: {{ user_availability_distance }}</p>
									{% endif %}
									<hr>
									<h4>Communication</h4>
									<div class="dashboard-box-item">
										<label>Emergency Broadcast System Text:</label>
										{% if user_sms %}
											Enabled
										{% else %}
											Disabled
										{% endif %}
									</div>
									<hr>
									<h4>Skills</h4>
									<div class="dashboard-box-item">
										<label>Occupation:</label>
										{{ user_occupation }}
									</div>

									<div class="dashboard-box-item hide-label">
										<label>Skills:</label>
										{{ user_skills }}
									</div>

									<div class="dashboard-box-item">
										<label>Languages:</label>
										{% for l in user_languages %}
											<p class="mb-1">{{ l }}</p>
										{% endfor %}
									</div>
									<hr>
									<h4>Agreements</h4>
									<p>
										<label>Statement of Faith: </label>
										<span class="float-right">
											{% if user_sof %}
												Completed
											{% else %}
												Not Completed
											{% endif %}
										</span>
									</p>
									<p>
										<label>Confidentiality: </label>
										<span class="float-right">
											{% if user_confidentiality %}
												Completed
											{% else %}
												Not Completed
											{% endif %}
										</span>
									</p>
									<p>
										<label>Volunteer Ethics: </label>
										<span class="float-right">
											{% if user_ethics %}
												Completed
											{% else %}
												Not Completed
											{% endif %}
										</span>
									</p>
									<hr>
									<h4>Documents</h4>
									{%  if user_document_uploads %}
										{% for d in user_document_uploads %}
											<div class="doc_upload_item">
											{{ d | raw }}
											</div>
										{% endfor %}
									{%  else %}
										No documents have been uploaded.
									{%  endif %}

									{% if (has_access_to_edit_this_user) %}
										<div class="dashboard-documents-footnote margin-top-25">
											<a href="/user/{{ user_this_dashboard_user_id }}/edit#documents" class="button button-small button-light-gray">Add Documents to User Profile</a>
										</div>
									{% endif %}
								</article>
							</section>
						</article>
					</section>
				</article>
				<article class="col-xl-8">
					<section id="dashboard-box-user-iar-status" class="mb-4 container-fluid p-0 box-with-dropshadow-border ">
						<section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
							<article class="col-12 col-lg-6 pl-0 py-2">
								<h3>I AM Ready Program - My Status</h3>
							</article>
							<article class="col-12 col-lg-6 pr-0 py-2 text-right">
								<p><strong>Current I AM Ready Level:</strong> Level {{ user_iar_level }}</p>
							</article>
						</section>
						<section class="row justify-content-center p-3">
							{% for iar in user_iar_levels %}
								<article class="col-shrink mx-2">
									<div class="progress-circle mx-auto my-2 per{{ iar.percent }}{% if iar.percent > 50 %} over50{% endif %}">
										<span>{{ iar.percent }}%</span>
										<div class="left-half-clipper">
											<div class="first50-bar"></div>
											<div class="value-bar"></div>
										</div>
									</div>
									<div class="text-center">
										<p class="mb-0">Level {{ iar.level }}<!--sup><button type="button" class="btn btn-secondary button-tooltip" data-toggle="tooltip" data-placement="right" title="Description of this iar level goes here.">?</button></sup--></p>
										<p class="color-drn-accent">
											{% if iar.level == 5 %}
												Leadership
											{% elseif iar.level == 4 %}
												Neighborhood
											{% elseif iar.level == 3 %}
												Family
											{% elseif iar.level == 2 %}
												Advanced
											{% else %}
												Basic
											{% endif %}
										</p>
									</div>
								</article>
							{% endfor %}
						</section>
						<section id="dashboard-box-user-iar-status-buttons" class="row p-3">
							<article class="col-lg-6 col-sm-12 py-2">
								<!-- <a href="/i-am-ready" class="button button-primary">Preparedness Supply Checklist</a> -->
								<a href="/user/{{ user_this_dashboard_user_id }}/i-am-ready" class="button button-primary">View I AM Ready Program Requirements</a>
							</article>
							<!-- <article class="col-lg-6 col-sm-12 py-2">
								<a href="/i-am-ready" class="button button-primary">View I AM Ready Requirements</a>
							</article> -->
						</section>
					</section>
					<section id="dashboard-box-user-training" class="mb-4 box-with-dropshadow-border">
						<section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
							<article class="col py-2">
								<h3>My Training</h3>
							</article>
						</section>
						<article class="dashboard-box-content">

							<!-- ============= SCHEDULED (anyone but NTA) ============= -->
							<section class="row">
								<article class="col">
									<h4>Scheduled</h4>
								</article>
							</section>
							{% if user_trainings_scheduled %}
								<section class="row px-2 d-none d-lg-flex">
									<article class="col-9">
										<h5>Onsite & Livestream Courses</h5>
									</article>
									<article class="col-3 text-center">
										<!-- <h5>Date</h5> -->
									</article>
								</section>
								{% for ts in user_trainings_scheduled %}
									<section class="row px-2 pt-3 banded-row {{ loop.index % 2 == 1 ? "dark" : "light" }} {{ loop.index == 1 ? "first" : "" }}">
										<article class="col-12 col-lg-9 align-self-center text-center text-lg-left">
											{% if ts.published %}
												<p><a href="/group/{{ ts.gid }}">{{ ts.name }}</a> ({{ ts.delivery_method }})</p>
											{% else %}
												<p>{{ ts.name }} ({{ ts.delivery_method }})</p>
											{% endif %}
										</article>
										<article class="col col-lg-3 d-none d-lg-flex align-self-center justify-content-center text-center">
											<!-- <p>{{ ts.completed | date("m/d/Y") }}</p> -->
												<p><a href="/group/{{ ts.gid }}" class="button button-small button-teal">View Details</a></p>

										</article>
									</section>
								{% endfor %}
							{% else %}
									<p>You are currently not enrolled in any scheduled trainings.</p>
							{% endif %}

							<!-- ============= ONDEMAND IN PROGRESS (anyone but NTA) ============= -->
							<section class="row mt-5">
								<article class="col">
									<h4>OnDemand</h4>
								</article>
							</section>
							{% if user_trainings_in_progress %}
								<section class="row px-2 d-none d-lg-flex">
									<article class="col-6">
										<h5>Online Courses</h5>
									</article>
									<article class="col-3 text-center">
										<h5>Progress</h5>
									</article>
									<article class="col-3 text-center">
										<!--<h5>Complete Course</h5>-->
									</article>
								</section>
								{% for tc in user_trainings_in_progress %}
									<section class="row px-2 pt-3 banded-row {{ loop.index % 2 == 1 ? "dark" : "light" }} {{ loop.index == 1 ? "first" : "" }}">
										<article class="col-12 col-lg-6 align-self-center text-center text-lg-left">
											{% if tc.published %}
												<p><a href="/group/{{ tc.gid }}">{{ tc.name }}</a></p>
											{% else %}
												<p>{{ tc.name }}</p>
											{% endif %}
										</article>
										<article class="col col-lg-3 d-none d-lg-flex align-self-center justify-content-center text-center">
											<p>{{ tc.progress }}%</p>
										</article>
										<article class="col-12 col-lg-3 align-self-center justify-content-center text-center">
											{% if user_this_dashboard_user_id == loggedin_user_user_id %}
												{% if (tc.progress == 0) %}
													<p><a href="/group/{{ tc.gid }}" class="button button-small button-primary">Get Started</a></p>
												{% else %}
													<p><a href="/group/{{ tc.gid }}" class="button button-small button-teal">Continue Course</a></p>
												{% endif %}
											{% endif %}
										</article>
									</section>
								{% endfor %}
							{% else %}
								<p>No In Progress training records found.</p>
							{% endif %}

							<!-- ============= COMPLETED (anyone but NTA) ============= -->
							<section class="row mt-5">
								<article class="col">
									<h4>Completed</h4>
								</article>
							</section>
							{% if user_trainings_completed %}
								<section class="row px-2 d-none d-lg-flex">
									<article class="col-9">
										<h5>Course Title</h5>
									</article>
									<article class="col-3 text-center">
										<h5>Completed</h5>
									</article>
								</section>
								{% for tc in user_trainings_completed %}
									<section class="row px-2 pt-3 banded-row {{ loop.index % 2 == 1 ? "dark" : "light" }} {{ loop.index == 1 ? "first" : "" }}">
										<article class="col-12 col-lg-9 align-self-center text-center text-lg-left">
											{% if tc.published %}
												<p><a href="/group/{{ tc.gid }}">{{ tc.name }}</a></p>
											{% else %}
												<p>{{ tc.name }}</p>
											{% endif %}
										</article>
										<article class="col col-lg-3 d-none d-lg-flex align-self-center justify-content-center text-center">
											<p>{{ tc.completed | date("m/d/Y") }}</p>
										</article>
									</section>
								{% endfor %}
							{% else %}
									<p>No Completed training records found.</p>
							{% endif %}
						</article>
					</section>


					<section id="dashboard-box-user-response-roles" class="mb-4 box-with-dropshadow-border">
						<article class="col">
							<section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
								<article class="col py-2">
									<h3>Volunteer Response Roles</h3>
									<p>Training leads to badged and certified roles of response.</p>
								</article>
							</section>
							<section class="row p-4">
								<article class="col">
									<section class="row px-2 d-none d-lg-flex">
										<article class="col-4">
											<h5>Volunteer Response Roles</h5>
										</article>
										<article class="col-3 text-center">
											<h5>Badge</h5>
										</article>
										<article class="col-3 text-center">
											<h5>Certified</h5>
										</article>
										<article class="col-2 text-center">
											<h5>Deployable</h5>
										</article>
									</section>
									{% for rr in user_response_roles_list %}
										<section class="row px-2 pt-3 banded-row {{ loop.index % 2 == 1 ? "dark" : "light" }} {{ loop.index == 1 ? "first" : "" }}">
											<article class="col-12 col-lg-4 align-self-center text-center text-lg-left">
												<p><a href="{{ rr.link }}">{{ rr.name }} ({{ rr.acronym }})</a></p>
											</article>
											<article class="col-12 col-lg-3 d-none d-lg-flex align-self-center justify-content-center text-center">
												<p>{{ rr.badge }}</p>
											</article>
											<article class="col col-lg-3 d-none d-lg-flex align-self-center justify-content-center text-center">
												{% if rr.completed %}
													<p>Completed</p>
												{% elseif rr.inprog %}
													<p>In Progress</p>
												{% else %}
													<p>Not Started</p>
												{% endif %}
											</article>
											<article class="col col-lg-2 align-self-center justify-content-center text-center">
												<p>
													<span class="d-lg-none">Deployable: </span>
													{% if rr.completed %}
														✓
													{% else %}
														⦸
													{% endif %}
												</p>
											</article>
										</section>
									{% endfor %}
								</article>
							</section>
							<section class="row p-4">
								<article class="col-lg-6 col-sm-12 py-2">
									<a href="/opportunities" class="button button-primary">Volunteer Opportunities</a>
								</article>
								<article class="col-lg-6 col-sm-12 py-2">
									<a href="/deployments" class="button button-primary">Deployment Opportunities</a>
								</article>
							</section>
						</article>
					</section>
					<section id="dashboard-box-user-my-church" class="row mb-4 box-with-dropshadow-border">
						<article class="col">
							<section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
								<article class="col py-2">
									<h3>My Church Information</h3>
									<p>Connect with your Church DRC to find ways to engage with ADRN.</p>
								</article>
							</section>
							<section class="row p-4">
								<article class="col">
									<p>
										<strong>Church:</strong> {{ user_org }}
									</p>
									<h4>Disaster Relief Coordinator (DRC):</h4>
									<p>
										{% if user_org_drc_first_name %}
											<strong>Name:</strong> {{ user_org_drc_first_name }} {{ user_org_drc_last_name }}
											<br>
											<strong>Cell Phone:</strong> {{ user_org_drc_phone }}
											<br>
											<strong>Email:</strong> <a href="mailto:{{ user_org_drc_email }}">{{ user_org_drc_email }}</a>
										{% else %}
											No Active DRC
										{% endif %}
									</p>
								</article>
							</section>
						</article>
					</section>
					<section id="dashboard-box-user-interests" class="container-fluid p-0 mb-4 box-with-dropshadow-border">
						<section class="row bkg-light-gray m-0 px-4 pb-3 pt-4">
							<article class="col">
								<h3>My Interests</h3>
							</article>
						</section>
						<div class="dashboard-box-content">
							<div id="dashboard-box-user-interests-training">
							<div class="subtitle subtitle-with-background">Training Course Interests</div>
								<article class="container" style="max-width: 100%;">
									<section class="row">
										{% if user_training_interests %}
											{% for ti in user_training_interests %}
												<article class="col-md-12">
													<p class="mb-1">{{ ti }}</p>
												</article>
											{% endfor %}

											{% if (has_access_to_edit_this_user) %}
											<a href="/user/{{ user.id }}/edit#interests" class="edit-interests-link">+ Add/Edit Training Interests</a>
											{%  endif %}
										{% else %}
											{% if (has_access_to_edit_this_user) %}
											<a href="/user/{{ user.id }}/edit#interests" class="add-interests-link">+ Add Training Interests</a>
											{%  endif %}
										{% endif %}
									</section>
								</article>
							</div>
						</div>
						<div class="dashboard-box-content">
							<div id="dashboard-box-user-interests-opportunity">
							<div class="subtitle subtitle-with-background">Volunteer Opportunity Interests</div>
								<article class="container" style="max-width: 100%;">
									<section class="row">
										{% if user_opportunity_interests %}
											{% for oi in user_opportunity_interests %}
												<article class="col-md-12">
													<p class="mb-1">{{ oi }}</p>
												</article>
											{% endfor %}
												{% if (has_access_to_edit_this_user) %}
													<a href="/user/{{ user.id }}/edit#interests" class="edit-interests-link">+ Add/Edit Volunteer Opportunity Interests</a>
												{%  endif %}
										{% else %}
											{% if (has_access_to_edit_this_user) %}
												<a href="/user/{{ user.id }}/edit#interests" class="add-interests-link">+ Add Volunteer Opportunity Interests</a>
											{%  endif %}
										{% endif %}
									</section>
								</article>
							</div>
						</div>
					</section>
					<section id="dashboard-help-button">
						<div class="float-right text-right">
							<a class="button button-gray" href="/contact?subject=portal">Need Help? Submit a Ticket</a>
						</div>
					</section>
				</article>
			<section>
		</article>
	{% endif %}
{% else %}
	<h1 class="page-title">Access Denied</h1>
	<p><strong>You do not have access to this user's dashboard.</strong></p>
{% endif %}
