{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}

{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="nav">
    {% else %}
      <ul class="dropdown-menu">
    {% endif %}
    {% for item in items %}
      {% if item.below %}
        {% if menu_level == 0 %}
          <li class="dropdown px-3 py-2">
            <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }} <span class="caret"></span></a>
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          </li>
        {% else %}
          <li class="dropdown-submenu">
            <a href="{{ item.url }}">{{ item.title }}</a>
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          </li>
        {% endif %}
      {% else %}
        <li class="dropdown-item" {{ item.attributes }}>{{ link(item.title, item.url) }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
