{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<!-- START: user--dashboard.html.twig -->
{# Note: has_access_to_this_user_dashboard and has_access_to_edit_this_user is set in drn_users.module and is based off user roles and permissions #}
{% if (has_access_to_this_user_dashboard) and content %}
	<article class="container-fluid">
		<section class="row">
			<article class="col-xl-4">
				<h1 class="page-title mb-3">{{ (user_this_dashboard_user_id == loggedin_user_user_id) ? "My" : "User"}} Dashboard</h1>
				<!--
				{% if user_this_dashboard_user_id == loggedin_user_user_id %}
					<h1 class="page-title mb-3">My Dashboard</h1>
				{% else %}
					<h1 class="page-title" style="margin-bottom:5px; padding-bottom:0;">User Dashboard</h1>
					<div style="color:#2e9fb0; font-weight:bold;">{{ user_first_name }} {{ user_last_name }}</div>
				{% endif %}
				-->
			</article>
			<article class="col-xl-8">
				{% if dashboard_notice_enabled %}
					<div id="dashboard-notice" class="dashboard-notice-regular">
						{{ dashboard_notice_text | raw }}
					</div>
				{% endif %}
			</article>
		</section>
		<section class="row">
			<article class="col-xl-4">
				<div id="dashboard-box-user-general" class="box-with-dropshadow-border">
					<div class="dashboard-box-heading dashboard-box-heading-with-link">
						<div class="float-left"></div>
						<div class="float-right">
							{% if (has_access_to_edit_this_user) %}
								<a href="/user/{{ user.id }}/edit" class="user-edit-link">Edit</a>
							{%  endif %}
						</div>
					</div>
					<div class="user-photo text-center">
						<div class="picto">
							{%  if user_picture_url %}
								<style>
									.user-photo .picto{
									    background-image: url({{ user_picture_url }});
									}
								</style>
							{% endif %}
						</div>
					</div><!-- /user-photo -->
					<div class="user-full-name text-center mb-4">
						{{ user_first_name }} {{ user_last_name }}
					</div> <!-- /user-full-name -->
					<!--div class="user-title text-center padding-bottom-25">
						{{ user_response_roles }}
					</div><!-- user-title -->
				</div>
				<div id="dashboard-box-user-status" class="mt-4 box-with-dropshadow-border">
					<div class="dashboard-box-heading">
						Volunteer Status
					</div>

					<div class="dashboard-box-content">
						<div class="user-badge-level">
							<label>Badge:</label> {{ user_badge_color }} <!--  user.field_user_badge_color.value -->
						</div>
						<div class="user-volunteer-roles">
							<label>Volunteer Response Rolessss:</label>
							{{ user_response_roles }}
						</div>
						<div class="user-background-check-status">
							<label>Background Check Status:</label>
							{{ user_bgc_status }}
						</div>
						<div class="user-background-check-date">
							<label>Background Check Date:</label>
							{{ user_bgc_date }}
						</div>
					</div>
				</div>
				<div id="dashboard-box-user-profile" class="mt-4 box-with-dropshadow-border">
					<div class="dashboard-box-heading dashboard-box-heading-with-link">
						<div class="float-left">My Profile</div>
						<div class="float-right text-right">
							{% if (has_access_to_edit_this_user) %}
							<a href="/user/{{ user.id }}/edit" class="user-edit-link">Edit</a>
							{%  endif %}
						</div>
					</div>
					<div class="dashboard-box-content">
						<div class="dashboard-box-section" id="dashboard-box-section-basic-info">
							<h4>Basic Info</h4>
							<div class="dashboard-box-item">
								<label>Address: </label> {{ user_address }}
							</div>
							<div class="dashboard-box-item">
								<label>Email: <a href="mailto:{{ user.mail.value }}">{{ user.mail.value }}</a>
							</div>
							<div class="dashboard-box-item">
								<label>Cell Phone: </label> {{ user_cell_phone }}
							</div>
							<div class="dashboard-box-item">
								<label>Preferred Name: </label> {{ user_preferred_name }}
							</div>
						</div>
						<div class="dashboard-box-section" id="dashboard-box-section-additional-info">
							<h4>Additional Info</h4>
							<div class="dashboard-box-item">
								<label>DOB: </label> {{ user_dob is empty ? "" : user_dob|date("m/d/Y") }}
							</div>
							<div class="dashboard-box-item">
								<label>DL#:</label> {{ user_dl_id }} &nbsp; Exp: {{ user_dl_expiration_date is empty ? '' : user_dl_expiration_date|date('m/d/Y') }}
							</div>
							<div class="dashboard-box-item">
								<label>DL Class: </label> {{ user_dl_class }}
							</div>
							{% if user_ham_callsign %}
								<div class="dashboard-box-item">
									<label>HAM Callsign: </label> {{ user_ham_callsign}}
								</div>
							{% endif %}
							<div class="dashboard-box-item">
								<label>Emergency Contact: </label> {{ user_emergency_contact_name}}
							</div>
							<div class="dashboard-box-item">
								<label>Emergency Ph: </label> {{ user_emergency_contact_phone }}
							</div>
							<div class="dashboard-box-item">
								<label>Shirt Size: </label> {{ user_shirt_size }}
							</div>
						</div>
						<div class="dashboard-box-section" id="dashboard-box-section-church">
							<h4>Church</h4>
							<div class="dashboard-box-item hide-label">
								{{ user_org|raw }}
							</div>
						</div>
						<div class="dashboard-box-section" id="dashboard-box-section-availability">
							<h4>Availability</h4>
							{% if user_availabilities %}
								<div class="dashboard-box-item">
									<table class="table table-bordered table-sm">
										<thead>
											<tr>
												<th scope="col"></th>
												<th scope="col" class="text-center">Morning</th>
												<th scope="col" class="text-center">Afternoon</th>
												<th scope="col" class="text-center">Evening</th>
											</tr>
										</thead>
										<tbody>
											{% for k, v in user_availabilities %}
												<tr>
													<th scope="row">{{ k }}</th>
													<td class="text-center"><input type="checkbox" {{ (v['Morning']) ? 'checked="checked"' : '' }} disabled></td>
													<td class="text-center"><input type="checkbox" {{ (v['Afternoon']) ? 'checked="checked"' : '' }} disabled></td>
													<td class="text-center"><input type="checkbox" {{ (v['Evening']) ? 'checked="checked"' : '' }} disabled></td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							{%  else %}
								N/A
							{%  endif %}
							{% if user_availability_distance %}
								<p class="mt-4">Distance: {{ user_availability_distance }}</p>
							{% endif %}
						</div>
						<div class="dashboard-box-section" id="dashboard-box-section-communication">
							<h4>Communication</h4>
							<div class="dashboard-box-item">
								<label>Emergency Broadcast System Text:</label>
								{% if user_sms %}
									Enabled
								{% else %}
									Disabled
								{% endif %}
							</div>
						</div>
						<div class="dashboard-box-section" id="dashboard-box-section-skills">
							<h4>Skills</h4>
							<div class="dashboard-box-item">
								<label>Occupation:</label>
								{{ user_occupation }}
							</div>

							<div class="dashboard-box-item hide-label">
								<label>Skills:</label>
								{{ user_skills }}
							</div>

							<div class="dashboard-box-item">
								<label>Languages:</label>
								{% for l in user_languages %}
									<p class="mb-1">{{ l }}</p>
								{% endfor %}
							</div>
						</div>
						<div class="dashboard-box-section" id="dashboard-box-section-agreements">
							<h4>Agreements</h4>
							<p>
								<label>Statement of Faith: </label>
								<span class="float-right">
									{% if user_sof %}
										Completed
									{% else %}
										Not Completed
									{% endif %}
								</span>
							</p>
							<p>
								<label>Confidentiality: </label>
								<span class="float-right">
									{% if user_confidentiality %}
										Completed
									{% else %}
										Not Completed
									{% endif %}
								</span>
							</p>
							<p>
								<label>Volunteer Ethics: </label>
								<span class="float-right">
									{% if user_ethics %}
										Completed
									{% else %}
										Not Completed
									{% endif %}
								</span>
							</p>
						</div>
			
						<div class="dashboard-box-section last" id="dashboard-box-section-documents">
							<h4>Documents</h4>
							{%  if user_document_uploads %}
								{% for d in user_document_uploads %}
									<div class="doc_upload_item">
									{{ d | raw }}
									</div>
								{% endfor %}
							{%  else %}
								No documents have been uploaded.
							{%  endif %}

							{% if (has_access_to_edit_this_user) %}
								 <div class="dashboard-documents-footnote margin-top-25">
								 	<a href="/user/{{ user_this_dashboard_user_id }}/edit#documents" class="button button-small button-light-gray">Add Documents to User Profile</a>
								 </div>
							{% endif %}
						</div>
					</div>
				</div>
			</article>
			<article class="col-xl-8">
				<article id="dashboard-box-user-iar-status" class="container-fluid p-0 box-with-dropshadow-border ">
					<section class="row bkg-light-gray m-0 px-4 pb-3 pt-4">
						<article class="col">
							<h3>I AM Ready Program - My Status</h3>
						</article>
						<article class="col text-right">
							<p><strong>Current I AM Ready Level:</strong> Level {{ user_iar_level }}</P>
						</article>
					</section>
					<section class="row justify-content-center p-3">
						{% for iar in user_iar_levels %}
							<article class="col-shrink mx-2">
								<div class="progress-circle mx-auto my-2 per{{ iar.percent }}{% if iar.percent > 50 %} over50{% endif %}">
									<span>{{ iar.percent }}%</span>
									<div class="left-half-clipper">
										<div class="first50-bar"></div>
										<div class="value-bar"></div>
									</div>
								</div>
								<div class="text-center">
									<p class="mb-0">Level {{ iar.level }}<!--sup><button type="button" class="btn btn-secondary button-tooltip" data-toggle="tooltip" data-placement="right" title="Description of this iar level goes here.">?</button></sup--></p>
									<p class="color-drn-accent">
										{% if iar.level == 5 %}
											Leadership
										{% elseif iar.level == 4 %}
											Neighborhood
										{% elseif iar.level == 3 %}
											Family
										{% elseif iar.level == 2 %}
											Advanced
										{% else %}
											Basic
										{% endif %}
									</p>
								</div>
							</article>
						{% endfor %}
					</section>
					<section id="dashboard-box-user-iar-status-buttons" class="row p-3">
						<article class="col-lg-6 col-sm-12 py-2">
							<!-- <a href="/i-am-ready" class="button button-primary">Preparedness Supply Checklist</a> -->
							<a href="/user/{{ user_this_dashboard_user_id }}/i-am-ready" class="button button-primary">View I AM Ready Program Requirements</a>
						</article>
						<!-- <article class="col-lg-6 col-sm-12 py-2">
							<a href="/i-am-ready" class="button button-primary">View I AM Ready Requirements</a>
						</article> -->
					</section>
				</article>
				<div id="dashboard-box-user-training" class="mt-4 box-with-dropshadow-border">
					<div class="dashboard-box-heading">
						<div class="float-left">My Training</div>
						<div class="float-right text-right helper-text"></div>
					</div>
					<div class="dashboard-box-content">
						<div class="subtitle">In Progess</div>
						{% if user_trainings_in_progress %}
							<table class="table table-striped" id="user-dashboard-training-in-progress">
								<thead>
									<tr>
										<th class="table-col-1">Course Title</th>
										<th class="table-col-2">Progress</th>
										{% if user_this_dashboard_user_id == loggedin_user_user_id %}
											<th class="table-col-3">Complete Course</th>
										{% endif %}

									</tr>
								</thead>
								<tbody>
									{% for tc in user_trainings_in_progress %}
										<tr>
											{% if tc.published %}
												<td><a href="/group/{{ tc.gid }}">{{ tc.name }}</a></td>
											{% else %}
												<td>{{ tc.name }}</td>
											{% endif %}

											<td class="align-center">{{ tc.progress }}%</td>

											{% if user_this_dashboard_user_id == loggedin_user_user_id %}
												<td class="user-dashboard-training-in-progress-buttons">
													{% if (tc.progress == 0) %}
														<a href="/group/{{ tc.gid }}" class="button button-small button-primary">Get Started</a>
													{% else %}
														<a href="/group/{{ tc.gid }}" class="button button-small button-teal">Continue Course</a>
													{% endif %}
												</td>
											{% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% else %}
							<p>No In Progress training records found.</p>
						{% endif %}
						<div class="subtitle">Completed</div>
						{% if user_trainings_completed %}
							<table class="table table-striped" id="user-dashboard-training-completed">
								<thead>
									<tr>
										<th class="table-col-1">Course Title</th>
										<th class="table-col-2 class="align-right"">Completed</th>
										<!-- <th class="table-col-3">Need Refresher?</th> -->
									</tr>
								</thead>

								<tbody>
									{% for tc in user_trainings_completed %}
										<tr>
											{% if tc.published %}
												<td><a href="/group/{{ tc.gid }}">{{ tc.name }}</a></td>
											{% else %}
												<td>{{ tc.name }}</td>
											{% endif %}
											
											<td class="align-right">{{ tc.completed|date("m/d/Y") }}</td>
										</tr>
									{% endfor %}
							</table>
						{% else %}
								<p>No Completed training records found.</p>
						{% endif %}
					</div>
				</div>
				<div id="dashboard-box-user-response-roles" class="mt-4 box-with-dropshadow-border">
					<!-- as of 8/14/2020 these are the ones we want to list below.  Use the tooltip to show all the items
					that help you achive being deployable for the response role -->
					<!-- Volunteer Response Roles
					Basic Trained Volunteer - IAR 1
					or IAR 1 missing  background but have  sex offender check

					Advanced Response Roles
					CISM Volunteer - IAR Level 1 + CISM & IS-100 (110,114)
					CERT Volunteer - IAR  Level 1 + CERT + IS-100 & IS-700 (107,114,118)
					Ham Radio Operator - IAR Level 1 + Valid FCC HAM license (121,122 or 131)
					DAT Volunteer - IAR Level 1 + CERT Volunteer or HAM Volunteer & Approval from FOM (107)
					Prayer Hotline Volunteer - Level 1 + Hotline Training (182)
					Call Center Volunteer - IAR Level 1 + Call Center Training (129)
					Disaster Relief Shepherd - Level 1 + DRS (127) -->
					<div class="dashboard-box-heading">
						<div class="float-left">Volunteer Response Roles</div>
						<div class="float-right text-right helper-text">Training leads to badged and certified roles of response.</div>
					</div>
					<div class="dashboard-box-content">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Volunteer Response Roles</th>
									<th>Badge</th>
									<th>Certified</th>
									<th>Deployable</th>
								</tr>
							</thead>
							<tbody>
							{% for rr in user_response_roles_list %}
								<tr>
									<td><a href="{{ rr.link }}">{{ rr.name }} ({{ rr.acronym }})</a></td>
									<td>{{ rr.badge }}</td>
									<td>
										{% if rr.completed %}
											Completed
										{% elseif rr.inprog %}
											In Progress
										{% else %}
											Not Started
										{% endif %}
									</td>
									<td class="text-center">
										{% if rr.completed %}
											✓
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</table>
						<section id="dashboard-box-user-opportunity-buttons" class="row p-3">
							<article class="col-lg-6 col-sm-12 py-2">
								<a href="/opportunities" class="button button-primary">Volunteer Opportunities</a>
							</article>
							<article class="col-lg-6 col-sm-12 py-2">
								<a href="/deployments" class="button button-primary">Deployment Opportunities</a>
							</article>
						</section>
					</div>
				</div>
				<div id="dashboard-box-user-my-church" class="mt-4 box-with-dropshadow-border">
					<div class="dashboard-box-heading">
						<div class="float-left">My Church Information</div>
						<div class="float-right text-right helper-text">Connect with your Church DRC to find ways to engage with us.</div>
					</div>

					<div class="dashboard-box-content">
						<div class="subtitle">
							Disaster Relief Coordinator (DRC):
						</div>

						<div id="dashboard-box-user-drc-info">
							<div class="container" style="max-width: 100%;">
								<div class="row">
									<div class="col-lg-6 col-sm-12 hide-label">
										<strong>Name: {{ user_org_drc_first_name }} {{ user_org_drc_last_name }}</strong><br/>
										{{ user_org }}<br/>
									</div>

									<div class="col-lg-6 col-sm-12">
										<strong>Contact</strong><br/>
										Cell Phone: {{ user_org_drc_phone }}<br/>
										Email: <a href="mailto:{{ user_org_drc_email }}">{{ user_org_drc_email }}</a>
									</div>
								</div> <!-- /row -->
							</div><!-- /container -->
						</div>
					</div><!-- /dashboard-box-content -->

				</div>
				<article id="dashboard-box-user-interests" class="container-fluid p-0 mt-4 box-with-dropshadow-border">
					<section class="row bkg-light-gray m-0 px-4 pb-3 pt-4">
						<article class="col">
							<h3>My Interests</h3>
						</article>
					</section>
					<div class="dashboard-box-content">
						<div id="dashboard-box-user-interests-training">
						<div class="subtitle subtitle-with-background">Training Course Interests</div>
							<article class="container" style="max-width: 100%;">
								<section class="row">
									{% if user_training_interests %}
										{% for ti in user_training_interests %}
											<article class="col-md-12">
												<p class="mb-1">{{ ti }}</p>
											</article>
										{% endfor %}

										{% if (has_access_to_edit_this_user) %}
											<a href="/user/{{ user.id }}/edit#interests" class="edit-interests-link">+ Add/Edit Training Interests</a>
										{%  endif %}
									{% else %}
										{% if (has_access_to_edit_this_user) %}
											<a href="/user/{{ user.id }}/edit#interests" class="add-interests-link">+ Add Training Interests</a>
										{%  endif %}
									{% endif %}
								</section>
							</article>
						</div>
					</div>
					<div class="dashboard-box-content">
						<div id="dashboard-box-user-interests-opportunity">
						<div class="subtitle subtitle-with-background">Volunteer Opportunity Interests</div>
							<article class="container" style="max-width: 100%;">
								<section class="row">
									{% if user_opportunity_interests %}
										{% for oi in user_opportunity_interests %}
											<article class="col-md-12">
												<p class="mb-1">{{ oi }}</p>
											</article>
										{% endfor %}
											{% if (has_access_to_edit_this_user) %}
												<a href="/user/{{ user.id }}/edit#interests" class="edit-interests-link">+ Add/Edit Volunteer Opportunity Interests</a>
											{%  endif %}
									{% else %}
										{% if (has_access_to_edit_this_user) %}
											<a href="/user/{{ user.id }}/edit#interests" class="add-interests-link">+ Add Volunteer Opportunity Interests</a>
										{%  endif %}
									{% endif %}
								</section>
							</article>
						</div>
					</div>
				</article>
				<div id="dashboard-help-button" class="mt-4">
					<div class="float-right text-right">
						<a class="button button-gray" href="/contact?subject=portal">Need Help? Submit a Ticket</a>
					</div>
				</div>
			</article>
		<section>
	</article>
{% else %}
	<h1 class="page-title">Access Denied</h1>
	<p><strong>You do not have access to this user's dashboard.</strong></p>
{% endif %}
