.calendar .pager {
	text-align: center;
	margin-bottom: 20px;
}
.calendar.pager ul,
.calendar .pager ul li{
	list-style: none;
	list-style-image:none;	
}
.calendar .pager ul li{
	display: inline-block;
}
.calendar .pager__item--current{
	font-size: 28px;
    font-weight: 600;
    margin-left: 30px;
    margin-right: 30px;
}
.calendar-calendar th.days {
	background-color: #f5f5f5;
    color: #221e1f;
    font-weight: 600;
    padding:5px;
}
.calendar-calendar td,
.calendar-calendar th.days,
.calendar-calendar td.empty{
    border: solid 1px #e7e7e7;
}
.calendar-calendar .month-view .full td.single-day .calendar-empty, .calendar-calendar .month-view .full td.single-day.empty, .calendar-calendar .month-view .full td.date-box.empty{
	background-color: #fff;
}
.calendar-calendar .month-view .full td.date-box.today,
.calendar-calendar .month-view .full tr td.single-day.today{
	border-color: var(--drn-link);
}
.calendar-calendar .future-month,
.calendar-calendar .past-month{
	color:#ccc;
}
.calendar-calendar td{
	color:#6d6e71;
}
[id$="_empty"].today.no-entry{
	display: none;
}

.icon-chevron-double-left:before {
	content: "<<";
}
.icon-chevron-double-right:before {
	content: ">>";
}
