/* =========== SHOPPING CART  ============ */
/* hide the quantity field (at least for now - we may want to add it back in) */
table #view-edit-quantity-table-column /* table header for quantity */,
table .views-field-edit-quantity /* table column for quantity */,
#edit-update-cart, /* update cart button */
[id^="edit-payment-information-payment-method"],
.checkout-pane-review /* Payment information section of cart review */ {
  display: none;
}

#paypal-buttons-container::before{
  content:'Click either the "PayPal" or "Debit or Credit Card" to continue with your Payment';
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 2rem;
}

/* Temporarily hide the "checkout" button on the /cart page until we can fix where the PayPal buttons show up */
.view-commerce-cart-form input#edit-submit{
  display: block;
}

/* make buttons gray */
/*.view-commerce-cart-form input.button,*/
input.delete-order-item{
    background-color: #f5f5f5 !important;
    border: 1px solid #f5f5f5 !important;
    color: #6d6e71;
    font-size: 14px;
    padding: 5px 10px;
}

input.delete-order-item:hover{
    color: #6d6e71;  
}

/* checkout pages */
@media screen and (min-width: 780px), (orientation: landscape) and (min-device-height: 780px) {

  .layout-region-checkout-main, .layout-region-checkout-footer {
    float: none;
    width: 100%;
    padding-right: 0;
    box-sizing: border-box;
    clear: both;
    display: block;
    text-align: left;
  }

  .layout-region-checkout-secondary{
    float:none !important;
    width:100% !important;
  }

  .order-total-line {
    text-align: left;
  }

  #edit-payment-information legend{
    border-bottom: 1px solid #dee2e6;
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
  }
}

#edit-payment-information legend{
	display: block;
	width:100%;
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
}

@media screen and (min-width: 780px), (orientation: landscape) and (min-device-height: 780px) {
.layout-region-checkout-secondary {
    width: 25%;
  }
}

.layout-region-checkout-secondary,
.layout-region-checkout-main{
  clear: both;
  display: block;
  overflow: auto;
}

.form-item-payment-information-billing-information-select-address label{
	font-weight: normal;
	display: block;
	float: none;
	color:#000;
}

/* Order Information page */
#edit-coupon-redemption-form{
  border: 1px solid #efefef;
  padding: 15px;
  width: 500px;
  margin: 35px 0;
}

#edit-coupon-redemption-form label{
display: block;
width: 100%;
}

#edit-coupon-redemption-form .button{
background-color: #aab02e !important;
border: 1px solid #aab02e !important;
padding: 5px 10px;
font-size: 14px;
text-transform: capitalize;	
}

#edit-coupon-redemption-form input#edit-coupon-redemption-form-code {
width:250px;
}

/* Review page */
#paypal-buttons-container {
	width:300px;
	margin: 25px 0;
}

#commerce-checkout-flow-multistep-default #edit-actions-next {
	background-color: var(--drn-secondary) !important;
	color: var(--drn-light);
}
#commerce-checkout-flow-multistep-default #edit-actions-next:hover{
	background-color: var(--drn-secondary-darker) !important;
	color: var(--drn-light);
}

input#edit-payment-information-billing-information-edit-button, a.link--previous {
	background-color: var(--drn-neutral-light);
	color: var(--drn-neutral-dark) !important;
	font-size: 1.2rem;
	padding: .5rem 1.5rem !important;
	transition: background-color 300ms, color 300ms, filter 300ms;
}
input#edit-payment-information-billing-information-edit-button, a.link--previous:hover {
	background-color: var(--drn-neutral-lighter);
	color: var(--drn-dark) !important;
}


.checkout-order-summary{
  width: 800px;
  max-width: 80%;
}

/* ----- Checkout Billing Info section ----- */
.checkout-pane-payment-information{
  width: 500px;
  max-width: 80%;
}

.checkout-pane-payment-information label{
  width: 150px;
}

.checkout-pane-payment-information .form-item-payment-information-billing-information-address-0-address-address-line2 label{
  display: none;
}

.checkout-pane-payment-information .address-container-inline > .form-item {
  margin-right: 0;
}


/* ----- Product Page ----- */
.form-item-purchased-entity-0-attributes-attribute-course-options{
  margin-top: 20px;
}

.form-item-purchased-entity-0-attributes-attribute-course-options select{
  width: auto;
}
