/* These are color specific styles that we will want to overwrite for each DRN */

/* ========================================== */
/* ---------------- BOLD FONT  -------------- */
/* ========================================== */
form.opigno-answer-form input#edit-back, 
form.opigno-answer-form input#edit-submit
body.section-module .form-actions a.btn,
form.opigno-answer-form input#edit-back, 
form.opigno-answer-form input#edit-submit,
form.opigno-answer-form input#edit-back,
form.opigno-answer-form input#edit-submit,
.lp_progress_summary_date,
#learning_path_left h3,
#user-form #edit-user-picture-0--label,
#agreements-intro,
.button-tooltip,
.admin-report table caption,
.local-tasks a.is-active,
.views-field-field-user-last-name,
.views-field-field-user-first-name,
.views-field-field-user-preferred-name,
.field-first-or-preferred-name{
	font-weight: bold;
}

/* ========================================== */
/* --------------- CAPITALIZE  -------------- */
/* ========================================== */
.button,
input.button,
input.btn,
.btn,
#edit-field-availability-wrapper thead th,
#edit-field-availability-wrapper th{
	text-transform: capitalize;
}


/* ========================================== */
/* ---------------- UPPERCASE  -------------- */
/* ========================================== */
h4,
.table th, table:not(.table) th, table th,
#sidebar-nav h2,
#site-header .dropdown-menu nav > ul > li > a,
form.opigno-answer-form input#edit-back, 
form.opigno-answer-form input#edit-submit
body.section-module .form-actions a.btn,
a.start-link,
a.start-link:hover,
.field-training-outline .label,
.field-learning-path-files .label,
.field-lp-price .label,
.lp-enroll-button a,
body.section-module .form-actions .btn-group.operations > a, 
body.section-module .form-actions a.btn, body.section-module .form-actions a.button, 
body.section-module .form-actions a[type="button"], 
body.section-module .form-actions a[type="reset"], 
body.section-module .form-actions a[type="submit"], 
body.section-module .form-actions input[type="submit"],
body.section-module .lp_progress_wrapper .lp_progress .lp_progress_label,
.local-tasks a.is-active {
	text-transform: uppercase;
}



/* ========================================== */
/* ------------------- WHITE  --------------- */
/* ========================================== */
body,
.bkg-white,
#sidebar-nav ul li a:hover,
.vertical-tabs .vertical-tabs__panes{
	background-color:#fff;
}
.text-white
a.text-white,
#footer-link-to-main-site a{
	color:#fff;
}

/* ------------------ DARK  ----------------- */
body,
label,
select,
textarea,
input{
	font-family: 'Open Sans', arial !important;
	color:#221e1f;
}
.button a.button-dark-text,
.button a.button-dark-text:link,
a.button.button-dark-text,
a.button.button-dark-text:link,
input.button.dark-text{
	color:#221e1f !important;
	text-decoration: none;
}


.admin-page-title h1{
  border-bottom: 2px solid #221e1f;
  color: #221e1f;
}

/* ----------------- YELLOW ----------------- */
h1,
h2{
   	color: #221e1f;
}
label.form-required::after{
	background-color: yellow; /* yellow highlight */
}

/* ------------ NEUTRAL = Gray ------------ */
.text-almost-black,
a.text-almost-black{
	color:#221e1f !important;
}
#user-form .form-section .field--type-entity-reference legend .fieldset-legend
#user-form .form-section .field--type-entity-reference-revisions .form-wrapper strong
#user-form .form-group label,
#user-form #edit-status--wrapper legend,
#user-form #edit-roles--wrapper legend,
#user-form #edit-field-user-notes-0-inline-entity-form-field-user-notes-date-0 legend,
#progress-bar a {
    color:#6d6e71;
}

/* ==================================================== */
/* ------------ NEUTRAL LIGHT = Light Gray ------------ */
/* ==================================================== */
#sidebar-nav {
  background-color:#e9e9e9;
}
.button-neutral-light,
.button-neutral-light a,
.button-light-gray a,
a.button-light-gray,
input.button-light-gray,
a.button-light-gray:link,
input#edit-delete,
.paragraph-type-top .button,
.paragraph-type-top input.button,
.paragraph-type-top input.btn,
.region-title__action .button {
	background-color:#e9e9e9 !important;
	border: 1px solid #efefef !important;
	color:#7d7d7d !important;
}
.button-light-gray a{
	border:none !important;
}
.views-field .button-small {
    font-size: 12px !important;
    background-color: #e9e9e9 !important;
    border: 1px solid #c3c3c3 !important;
    color: #7d7d7d !important;
}
.button-neutral-light:hover,
.button-neutral-light a:hover,
.button-light-gray a:hover,
.button-light-gray:hover a,
a.button-light-gray:hover,
input.button-light-gray:hover,
button.button-light-gray:hover,
input#edit-delete:hover,
.paragraph-type-top .button:hover,
.paragraph-type-top input.button:hover,
.paragraph-type-top input.btn:hover,
.region-title__action .button:hover,
.views-field .button-small:hover{
	background-color: #f5f5f5 !important;
	color:#221e1f !important;
}
.views-field .button-small:hover{
    border: 1px solid #c3c3c3 !important;
}
ul#local-tasks-secondary{
	border-bottom: 1px solid #e9e9e9;
}
#breadcrumb ul:not(.contextual-links) li a{
	color: #767674;
}
.views-exposed-form {
	background-color:#efefef;
}
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"], 
input[type="tel"], 
input[type="date"],
input[type=radio], 
select, textarea, 
.form-control {
    border: 2px solid #c3c3c3;
    background-color: #fff;
}

/* ------------ Other Neutrals ------------ */
.text-light-gray,
a.text-light-gray{
	color:#c3c3c3;
}
.label,
label,
input[type="checkbox"] + label,
.fieldset-wrapper h4,
fieldset label,
#user-form legend{
	color: #6D6E71;
}
.form-text{
    color:#495057;
}
.views-exposed-form .form-item input[type="text"],
.views-exposed-form .form-item input[type="number"],
.views-exposed-form .form-item select,
.views-exposed-form .form-itemtextarea {
    border: 2px solid #c3c3c3;
}
#sidebar-nav ul:not(.contextual-links) li a{
  color:#3c3c3b;
}
 #footer-block h3{
	color:#f5f5f5;
}


/* -- Font Awesome -- */
i {
	color:#9a9999; 
}
.paragraph-type-title{
	color:#6D6E71;
}
#sidebar-nav h2{
    border-top: 1px solid #2e2e2e;
    border-bottom: 1px solid #2e2e2e;
}
#footer-block ul li a{
	color:#7d7d7d;
}


/* -- BACKGROUNDS AND BORDERS -- */
.bkg-light-gray{
	background-color:#f5f5f5;
}
.bkg-medium-gray{
	background-color:#e9e9e9;
}
.bkg-darkest-gray{
	background-color: #2e2e2e;
}
.bkg-gradient-white-to-faint-gray{
	background: -webkit-rgb(245, 245, 245);
	background: -o-rgb(245, 245, 245);
	background: -ms-rgb(245, 245, 245);
	background: -moz-rgb(245, 245, 245);
	background: rgb(245, 245, 245);
}
.box-with-solid-border{
	border:1px solid #c4c4c4;
}
.border-top-on-mobile{
	border-top: 1px solid #ccc;
}
.border-top-heavy{
  border-top: 2px solid #e1e1e1;
}
.border-bottom-heavy{
  border-bottom: 2px solid #e1e1e1;
}
.section-in-box{
	box-shadow: 2px 2px 8px #aaa;
}
.section-in-box h3.section-header {
	background-color: #e9e9e9;
}

/* -- FIELDSETS -- */
#user-form .form-section .form-section-header {
    background-color: #e9e9e9;
}
fieldset#edit-field-org-join-network-date-0 legend,
fieldset#edit-field-org-resources-list--wrapper legend,
fieldset#edit-field-org-website-0 legend{
	color:#6D6E71;
}
fieldset#edit-group-org-primary-contact,
fieldset#edit-group-org-church-leader,
fieldset#edit-group-org-prayer-leader {
	border-bottom: 1px solid #ccc;
}

/* -- FORMS, BUTTONS -- */
.bg-primary, 
.lp_step_title_wrapper, 
.user-info-name, 
.user-info-email, 
.statistics-table thead th {
    background-color: #e9e9e9 !important;
    color: #212529 !important;
}
.views-field .button-small{
	background-color: #e9e9e9;
    border: 1px solid #c3c3c3;
    color: #7d7d7d;
}
.webform-submission-form{
	background-color: #f5f5f5;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type=radio],
select,
textarea {
	border:2px solid #c3c3c3;
	background-color: #fff;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before{
	border:2px solid #c3c3c3;
}
.checklist input[type="checkbox"] + label{
	color:#221e1f;
}
.newsletter-form-inputs-text-field{
	border: 1px solid #6d6e71;
}
.field--widget-entity-reference-paragraphs .table thead th,
.field--widget-inline-entity-form-simple .table thead th,
table#field-user-tags-values thead th{
    background-color: #f5f5f5;
}
.alert button{
	background-color: transparent !important;
	color:gray;
}

/* -- Tooltips -- */
.button-tooltip{
	background-color: #fff;
    border: 1px solid gray;
    color: gray;
}

/* ======================================== */
/* ------------ ALERTS/CAUTION ------------ */
/* ======================================== */
input#edit-delete,
.text-alert,
label.form-required::after{
	color:#ef7971 !important; /* red */
}
.alert-success {
    color: #657838;
    background-color: #f3fae1;
}

/* ========================================== */
/* -------------- TRANSPARENT  -------------- */
/* ========================================== */
.tabledrag-toggle-weight-wrapper button{
	background-color: transparent;
	border:none;
}
