#faqs-wrapper .faqs-sidebar h3 {
    font-weight: 800;
}
#faqs-wrapper .faqs-sidebar ul {
    list-style: none;
}
#faqs-wrapper .faqs-sidebar .faqs-nav {
    box-shadow: 1px 1px 4px 1px #ccc;
}
#faqs-wrapper .faqs-sidebar .faqs-nav > div{
    background-color: var(--drn-secondary);
}
#faqs-wrapper .faqs-sidebar .nav-item.nav-link {
    border: none;
    padding: 15px 20px;
    color: #333;
    font-weight: 600;
}
#faqs-wrapper .faqs-sidebar .nav-item.nav-link.active {
    background-color: #f0f0f0;
}
@media (min-width: 992px) {
    #faqs-wrapper .faqs-sidebar {
        width: 250px;
    }
    #faqs-wrapper .faqs-sidebar .nav-item.nav-link.active::after {
        content: '';
        width: 34px;
        height: 54px;
        background-image: url(../../images/icons/gray-arrow.png);
        background-size: cover;
        position: absolute;
        right: -34px;
        margin-top: -15px;
    }
}
