/* ========================================== */
/* ===== FORMS: Global/Shard Styles ========= */
/* ========================================== */

/* ===== Structure ==== */
form{
    margin:0;
}

form .form-item{
    margin-bottom: 1rem;
    clear: both;
}

form .form-actions{
    margin-top: 2rem;
}


.fieldgroup-section-header{
    padding:20px 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}


abbr[title],
abbr[data-original-title]{
    border-bottom: none !important;
    text-decoration: none;
}


form .form-wrapper>.form-group{
    overflow: auto;
}

/* ==== Paragraphs ==== */
.js .field--widget-entity-reference-paragraphs .tabledrag-handle .handle{
    width:25px;
}

.paragraphs-dropbutton-wrapper{
    margin-bottom: 10px;
}


/* ===== Labels ==== */
.label,
label,
input[type="checkbox"] + label,
.fieldset-wrapper h4,
fieldset label {
    text-transform:none;
    width:auto;
}
form label{
    margin-bottom: 3px;
}
.webform-submission-form label,
#user-form label,
#user-form legend {
    padding-right: 1.5rem;
    font-weight: 700;
    font-size: 1rem;
}
#user-form label{
    width: auto;
}

/* ==== Input Boxes ==== */
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"], 
input[type="tel"], 
input[type="date"], 
select, 
textarea, 
.form-control {
    border: 2px solid #c3c3c3;
    background-color: #fff;
}

details summary:focus {
    outline: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
select,
textarea{
    max-width: 100%;
    width: 100%;
    height: calc(1.5em + .75rem + 0);
    padding: .375rem .75rem;
    border-radius: 0;
}



/* ==== Checkboxes and Radio Buttons ==== */
input[type=checkbox], 
input[type=radio]{
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    transition-duration: 0.3s;
    background-color: white;
    border: 2px solid #c3c3c3;
    cursor: pointer;
    padding:0;
    margin: 0 .25em 0 0;
}

/* - Disabled - UN-checked - */
input[type=checkbox]:disabled, 
input[type=radio]:disabled {
    opacity: .5;
    background: #fff;
}

/* - Disabled - Checked - */
input[type=checkbox]:checked, input[type=checkbox]:disabled:checked, 
input[type=radio]:checked, input[type=radio]:disabled:checked{
    background-color: var(--drn-primary);
    border: 2px solid var(--drn-primary);
}

input[type=radio]{
    border-radius: 50px;
}

input[type=checkbox]{
    border-radius: 0;
}

/*
input[type="checkbox"] + label:before,
input[type="radio"] + label:before{
    border-radius: 0;
    height: 20px;
    width: 20px;
    line-height: 20px;

}

.checklist input[type="checkbox"] + label{
    font-weight: 400;
}

.checklist span{
    clear: both;
    display: block;
    margin-left: 15px;
}*/


/*input[type="checkbox"], input[type="radio"] {
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: .25em;
    padding: 0;
    background: #eeebe6;
    background-color: rgb(238, 235, 230);
    border: 1px solid #eeebe6;
    width: 16px !important;
    height: 16px !important;
    -webkit-transition: background .5s ease;
    transition: background .5s ease;
    outline: none;
    vertical-align: top;
}*/


/*.js-form-type-checkbox, .js-form-type-radio {
    position: relative;
}

.js-form-type-checkbox, .js-form-type-radio {
    margin-bottom: 0;
}*/


/* In theory this adds a checkbox but it doesn't actually work. Maybe come back to it later. */
/*input[type=checkbox]:checked + span::before, 
input[type=radio]:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #000;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
}*/



/*form .form-check-input {
    margin-left: 0;
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}*/


/* 3/23/2021 - Julie - this was from Opigno - may need to put it back; not sure */
/*.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 0);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #eeebe6;
    background-clip: padding-box;
    border: 0 solid #ececeb;
    border-radius: 0;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}*/

/*
input[type=date], 
input[type=datetime-local], 
input[type=month], 
input[type=time] {
    -webkit-appearance: listbox;
}*/

/*
#user-form .form-control,
.webform-submission-form .form-text{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0;
}*/


/* ===== Views Exposed Filters ===== */
.views-exposed-form .form-actions{
    margin-top: 0
}

/* do not use the same md-3 and md-9 formatting for Exposed Filters since the other forms use md-3 for the label and md-9 for the field */
.views-exposed-form .col-md-3,
.views-exposed-form .col-md-9{
    flex: 0 0 100%;
    max-width: 100%;
}


/* ===== Image/File Uploads ===== */
.image-widget{
    display: block;
    background-color: #eee;
    width: 425px;
    max-width: 100%;
    margin: 0 0 20px 0;
    padding: 3rem 1.23rem;
}

.image-widget .file{
    margin-left:5px;
}

.image-widget .button{
    clear: both;
    display: block;
    width: 100%;
    margin:20px 0 0 0;
}

.image-widget #edit-user-picture-0-remove-button.button{
    width: 102px;
    padding: 5px 0;
}


/* === EDIT USER PROFILE - General === */
#user-form .form-section .form-required::after {
    content: "*";
    color: red;
    margin-left: 4px;
    padding: 0;
    background-color: transparent;
}


#user-form .form-checkboxes label.option,
#user-form .js-form-type-radio label.option{
    float:none;
    width: auto;
    padding:0;
    margin:0;
    font-weight: normal;
}


#user-form .form-section {
    box-shadow: 2px 2px 8px #aaa;
    padding: 1rem;
    margin-bottom: 1.5rem;
    overflow: auto;
}


#user-form .form-section .form-section-header {
    padding: 0.75rem;
    margin: -1rem -1rem 1.5rem -1rem;
    font-weight: 600;
}

form #edit-field-user-middle-name-wrapper.form-wrapper>.form-group{
    overflow: hidden;
}


/* add bottom margin after some groups of fields */
#user-form #edit-user-picture-wrapper,
#user-form #edit-field-user-preferred-name-wrapper,
#user-form #edit-field-user-work-phone-wrapper,
#user-form #edit-field-user-availability-distance-wrapper,
#user-form #edit-field-user-occupation-wrapper,
#user-form #edit-field-comm--wrapper .fieldset-wrapper,
#user-form #edit-field-user-sms-consent-wrapper,
#user-form #edit-field-comm-preferred-method-wrapper,
#edit-field-user-ec-phone-wrapper,
#edit-field-user-gender-wrapper,
#edit-field-user-dl-expiration-date-wrapper,
#user-form #edit-field-user-church-other-wrapper {
    margin-bottom: 50px;
}

#edit-field-user-position-interests-wrapper {
    margin-top: 50px;
}

/* clear floats after some groups of fields */
#user-form #edit-field-user-cell-phone-wrapper,
#user-form #edit-field-user-address-wrapper{
    clear: both;
 }


/* fields to keep at 100% */
#user-form #edit-top-submit-group.form-wrapper,
#user-form .field--name-field-comm.form-wrapper,
#user-form #edit-field-pause-notifications-wrapper,
#user-form #form-item-field-user-sms-consent-value,
#user-form #edit-user-picture-wrapper,
#user-form .field--name-field-user-middle-name input,
#user-form #edit-account.form-wrapper,
#edit-field-user-training-int-updated-wrapper legend,
#edit-field-user-position-int-updated-wrapper legend{
    width: 100%;
}


/* fields with a special width */
#user-form input#edit-field-user-address-0-address-postal-code,
#user-form input#edit-field-user-mailing-address-0-address-postal-code,
#edit-field-user-availability-distance,
#edit-field-user-ec-phone-wrapper label{
    width: 155px;
}

#user-form input#edit-field-user-middle-name-0-value{
    width: 50px;
}

#user-form #edit-field-user-middle-name-wrapper,
#user-form #edit-field-user-middle-name-wrapper .form-wrapper{
    width: 150px;
}


/* adjust vertical space on some fields */
#user-form .form-wrapper.address-container-inline label{
    margin-bottom: 0;
    padding: 11px 15px 0 0;
}

#edit-field-user-availability-distance--description{
    padding-top: 5px;
}

/* adjust horizontal space on some fields */
#user-form #edit-field-user-address-wrapper,
#user-form #edit-field-user-mailing-address-wrapper{
    margin-right: 80px;
}

@media (max-width:575.98px) {
    #user-form #edit-field-user-address-wrapper,
    #user-form #edit-field-user-mailing-address-wrapper{
        margin-right: 0px;
    }
}


/* Make field look like just text */
#edit-field-user-training-int-updated-0-value #edit-field-user-training-int-updated-wrapper input{
    width: 170;
    border: none;
    padding: 0;
    background-color: #fff;
}


/* do not show the * as required field for current password */
#user-form #form-section-username-password.form-section .form-required::after {
    display: none;
}

.form-item-pass-pass1 label::before {
    content: "New ";
}


#bgc-status{
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #ababab;
    padding: 10px 10px 0 10px;
    margin-bottom: 30px;
    width: 300px;
    max-width: 100%;
}



/* Edit User Profile - Interests */
#edit-field-user-training-interests-wrapper .form-item,
#edit-field-user-position-interests-wrapper .form-item{
    margin-bottom: 3px;
}

#edit-field-user-training-interests--description,
#edit-field-user-position-interests--description{
    font-size: 14px;
    padding-top: 5px;
    font-weight: 600;
    font-style: italic;
}

#edit-field-user-training-interests-wrapper label,
#edit-field-user-position-interests-wrapper label,
#user-form #edit-field-user-notes-0-inline-entity-form-field-user-notes-date-0 legend{
    font-size: 1rem;
    font-weight: 700;
}


#edit-field-user-training-int-updated-0{
    display: block;
}

#edit-field-user-training-int-updated-0 .fieldset-legend,
#edit-field-user-position-int-updated-0 .fieldset-legend,
#edit-field-user-training-int-updated-0 legend,
#edit-field-user-position-int-updated-0 legend,
.form-item-field-user-training-int-updated-0-value-date,
.form-item-field-user-training-int-updated-0-value-time,
.form-item-field-user-position-int-updated-0-value-date,
.form-item-field-user-position-int-updated-0-value-time{
    display: none;
}

#edit-field-user-training-int-updated-0 #edit-field-user-training-int-updated-0-value--description,
#edit-field-user-position-int-updated-0 #edit-field-user-position-int-updated-0-value--description{
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: var(--drn-neutral-dark);
    margin: 0;
    padding: 0;
    font-style: italic;
}


/* Edit User Profile - Communications, Languages, Positions, Tags, Notes*/
#user-form .field--widget-entity-reference-paragraphs .table thead th,
#user-form #field-user-positions-values thead th,
#user-form #field-user-tags-values thead th,
#user-form #field-user-notes-values thead th{
    border-bottom: none !important;
}
#user-form #edit-field-comm--wrapper--description.description,
#edit-field-pause-notifications-0-value--description{
    font-size: 80%;
    font-weight: 400;
    clear: both;
}
#user-form .form-section #edit-field-comm--wrapper input[type=checkbox] {
    background-color: var(--drn-primary);
    border: 2px solid var(--drn-primary);
}
#user-form .form-section #edit-field-comm--wrapper input[type=checkbox]:checked {
    background-color: white;
    border: 2px solid #c3c3c3;
}
#user-form #field-user-positions-values legend{
    display: none;
}

/* Edit User Profile - Availability */
#edit-field-availability-wrapper thead th{
	color: #7d7d7d;
    border-bottom: 3px solid #2e9fb0;
}
#edit-field-availability-wrapper th{
	color: #7d7d7d;
}


/* Edit User Profile - Interests*/
.multiselect-wrapper {
    display: flex;
}

.multiselect-available,
.multiselect-btns,
.multiselect-selected{
    float: none;
    margin-right: 20px;
    overflow: auto;
}

.multiselect-btns{
    padding-top: 80px;
}

.multiselect-available label,
.multiselect-selected label{
    font-size: 400 !important;
    font-size: 12px !important;
}

/* ==== Address Fields (User + Organization) ==== */
.form-item-field-user-address-0-address-locality,
.form-item-field-user-address-0-address-administrative-area,
.form-item-field-user-address-0-address-postal-code,
.form-item-field-user-mailing-address-0-address-locality,
.form-item-field-user-mailing-address-0-address-administrative-area,
.form-item-field-user-mailing-address-0-address-postal-code {
    width:100%;
}


#user-form .form-section .form-item-field-user-address-0-address-address-line2 .form-element-wrapper, 
#user-form .form-section .form-item-field-user-mailing-address-0-address-address-line2 .form-element-wrapper {
    float: right;
}
#user-form .form-section [data-drupal-selector="edit-field-user-address-0-address-country-code"], 
#user-form .form-section [data-drupal-selector="edit-field-user-mailing-address-0-address-country-code"] {
    display: none;
}


/* ==== Edit User Profile - Admin Section w/ Vertical Tabs ==== */
#user-form .admin-only .vertical-tabs .form-item{
    clear: both;
    display: block;
}


#user-form .admin-only .form-wrapper>.form-group>.form-element-wrapper,
#user-form .admin-only .vertical-tabs .vertical-tabs__panes .form-wrapper>.form-group label,
#user-form .admin-only #field-user-notes-values fieldset legend{
    float:none;
    width: auto;
}

#user-form .admin-only .vertical-tabs{
    border:none;
}

#user-form .admin-only #edit-field-user-bgc-date-wrapper label{
    width: 100%;
}
#user-form .admin-only #edit-field-user-badge-date-0-value-date,
#user-form .admin-only #edit-field-user-badge-date-0-value-time,
#user-form .admin-only #edit-field-user-bgc-date-0-value-date{
    width:250px;
}

#user-form > div.field-group-tabs-wrapper > div > ul.vertical-tabs__menu{
	height: 100%;
	margin-right: 3rem;
    border:none;
    box-shadow: 1px 1px 4px 1px #ccc;
}

#user-form > div.field-group-tabs-wrapper > div > ul.vertical-tabs__menu > li.vertical-tabs__menu-item{
	background-color: transparent;
    border:none;
}
#user-form > div.field-group-tabs-wrapper > div > ul.vertical-tabs__menu > li.vertical-tabs__menu-item > a{
	padding: 15px 20px;
}
#user-form > div.field-group-tabs-wrapper > div > ul.vertical-tabs__menu > li.vertical-tabs__menu-item.is-selected > a{
    background-color: #f0f0f0;
}
#user-form > div.field-group-tabs-wrapper > div > ul.vertical-tabs__menu > li.vertical-tabs__menu-item > a > strong{	
    color: #333;
	font-weight: 600;
	text-decoration: none !important;
}
@media (min-width: 992px) {
	#user-form > div.field-group-tabs-wrapper > div > ul.vertical-tabs__menu{
        margin-right: 0;
    }

}
#user-form > div.field-group-tabs-wrapper > div.vertical-tabs > div.vertical-tabs__panes{
	box-shadow: none;
	padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/**********************************************/
/*      Sign In, Sign Up, Forgot Password     */
/**********************************************/
.user-form-wrapper,
#change-pwd-form {
    width: 100%;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 0 5px 1px #ccc;
    margin: 50px auto;
    text-align: center;
    padding: 50px 50px 40px 50px;
}

.user-form-wrapper form,
#change-pwd-form {
    text-align: left !important;
}

.user-form-wrapper form label,
#change-pwd-form label {
    width: 100% !important;
    color: #2c2c2c !important;
    font-weight: 400 !important;
    font-size: .8rem !important;
    text-align: left !important;
    text-transform: capitalize !important;
}

.user-form-wrapper .form-element-wrapper,
#change-pwd-form .form-element-wrapper {
    width: 100%;
}

.user-form-wrapper form #edit-submit,
.user-form-wrapper form .button,
#change-pwd-form #edit-submit,
#change-pwd-form .button {
    margin: 40px auto 40px auto;
    display: block;
    padding: 10px 50px;
    font-size: 1.2rem;
}

.user-form-wrapper .description,
#change-pwd-form .description  {
    color: #6c757d;
}

.user-form-wrapper .description a,
#change-pwd-form .description a {
    text-decoration: none;
}

.user-form-wrapper summary,
#change-pwd-form summary {
    display: none;
}

.user-form-wrapper details,
#change-pwd-form details {
    border: none;
    box-shadow: none;
}

#user-register-form--2 .fieldgroup-section-header {
    display: none;
}

.password-strength__title, 
.password-strength__text,
.js-password-confirm-message{
    font-size: 10px;
    padding: 0;
    line-height: 10px;
}

#edit-pass--description{
    display: none;
}

#change-pwd-form .password-confirm{
    margin-top: 5px;
}

#change-pwd-form #edit-pass--description{
    font-size: 100%;
    font-weight: 700;
    display: none;
}

#change-pwd-form .form-item-pass-pass1 .form-required::before{
    content: 'New ';
}

#change-pwd-form .password-confirm .error,
#change-pwd-form .password-suggestions.description {
    color: var(--drn-error); /*red*/
    font-size: 12px;
}

/* hide the "Reset your password" link under the Current Password field */
/*#edit-current-pass--description a{
    display: none;
}*/



/***************************/
/**  Grant Manual Credit  **/
/***************************/
.credit-form{
    width: 600px;
}

/*************************/
/**      WEBFORMS       **/
/*************************/
.webform-submission-form{
    padding:40px 25px;
}


.webform-submission-form .form-element-wrapper{
    float: left;
    width: 80%;
}

.webform-submission-form .form-text,
.webfomr-submission-form #edit-phone-number{
    width: 100%;
}

.webform-submission-form .form-group{
    display: block;
    clear: both;
    margin-bottom: 25px;
    overflow: auto;
}

.address-container-inline > .form-item {
    display: flex;
}

/* Set max width and center specific forms */
.webform-submission-webform-opportunities-form,
.webform-submission-deployments-form,
.webform-submission-contact-form {
    margin: 40px auto 0 auto;
}
.opigno-calendar-event-form,
.node-training-master-record-form {
    max-width: 600px;
}

.webform-tip-text{
    padding: 10px 10px 0 10px;
    border: 1px solid var(--drn-dark);
}

/* Organization Edit Form */
.group-organization-edit-form {
    max-width: 50rem;
    margin: auto;
}

@media (min-width:576px) {
    .group-organization-edit-form .section-in-box:not(#org-fieldgroup-contactinformation) {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 0.5rem));
        grid-gap: 1rem;
    }

    .group-organization-edit-form .section-in-box .section-header {
        grid-column-start: span 2;
        margin-bottom: 0rem;
    }
    
    .group-organization-edit-form .field-group-html-element .form-select,
    .group-organization-edit-form .field-group-html-element .form-control,
    .group-organization-edit-form .field-group-html-element .form-email {
        margin-top: 0.25rem
    }
    
    /* Specific Items */
    .group-organization-edit-form .field-group-html-element #edit-field-org-church-sector-wrapper {
        grid-column-start: span 2;
    }

    /* Set max width and center specific forms */
    .webform-submission-webform-opportunities-form,
    .webform-submission-deployments-form,
    .webform-submission-contact-form {
        max-width: 600px;
        margin-left: 0;
        margin-right: 0;
    }

}

/* Multiselect btns */
.multiselect-btns > ul > li.multiselect-add, 
.multiselect-btns > ul > li.multiselect-remove {
	width: 30px;
	height: 32px;
}


/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .interests.d-none.d-lg-block { display: none !important; }
    .interests.d-lg-none { display: block !important; }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .interests.d-none.d-lg-block { display: none !important; }
    .interests.d-lg-none { display: block !important; }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .interests.d-none.d-lg-block { display: none !important; }
    .interests.d-lg-none { display: block !important; }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .interests.d-none.d-lg-block { display: none !important; }
    .interests.d-lg-none { display: block !important; }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .interests.d-none.d-lg-block { display: none !important; }
    .interests.d-lg-none { display: block !important; }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .interests.d-none.d-lg-block { display: none !important; }
    .interests.d-lg-none { display: block !important; }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    .interests.d-none.d-lg-block { display: none !important; }
    .interests.d-lg-none { display: block !important; }
}

/* Portrait */
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .interests.d-none.d-lg-block { display: none !important; }
    .interests.d-lg-none { display: block !important; }
}

/* Landscape */
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .interests.d-none.d-lg-block { display: none !important; }
    .interests.d-lg-none { display: block !important; }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .interests.d-none.d-lg-block { display: none !important; }
    .interests.d-lg-none { display: block !important; }
}

/* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .interests.d-none.d-lg-block { display: none !important; }
    .interests.d-lg-none { display: block !important; }
}

/* Landscape */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .interests.d-none.d-lg-block { display: none !important; }
    .interests.d-lg-none { display: block !important; }
}