#shopping-cart-link a {
    position: relative;
}
#shopping-cart-link a .unread {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    font-size: 11px;
    background-color: #e22f22;
    border: 1px solid;
    border-radius: 100%;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: -10px;
    margin-left: 10px;
}

#header-notifications-dropdown .unread {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    font-size: 11px;
    background-color: #e22f22;
    border: 1px solid;
    border-radius: 100%;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 3px;
    left: 14px;
}

#header-user-dropdown .dropdown-menu{
    top: 40px !important;
    margin-left: 40px;
}
