/* ========================================== */
/* ================== HOME ================== */
/* ========================================== */
.page-front #main.flex-item{
	display: none;  /* hide the main div, including status messages */
}

html body.page-front header#site-header{
	border-bottom: none; /*remove border under site-header */
}

/* Home - Main Banner */
#home-main-banner{
	background-image: url('../../images/home-page/bkg-home-hero.png');
	background-size: cover;
	background-position-y: top;
} 

#home-main-banner h1{
	margin: 0 0 10px 0;
	font-size: 3rem !important;
	font-family: 'Bitter', "Times New Roman";
}

#home-main-banner h2{
	font-size: 1.7rem;
} 

#home-main-banner p{
	font-size: 1.3rem;
	line-height: 30px;
	font-family: 'Source Sans Pro', arial;
	padding:0;
	margin:0;
}

#home-main-banner .button{
	margin:40px 0 0 0;
	font-size:26px;
	padding:20px 60px;
	display: inline-block;
}
/* Home - Marquee */
#home-marquee{
	padding:10px;
}
#home-marquee a{
	color: var(--drn-neutral);
}

#home-marquee p{
	padding:0;
	margin:0;
}

#home-marquee a{
	color: var(--drn-neutral);
}

/* Home - What We Do */
#home-what-we-do h2{
	font-family: 'Bitter', "Times New Roman";
	font-size: 36px;
	line-height: 42px;
	font-weight: 600;
	margin: 0 0 40px;
}

#home-what-we-do p{
	font-weight: 400;
	padding: 0;
	margin: 0 auto 55px auto;
}

.badge-label h3{
	margin: 15px 0 50px 0;
	font-family: 'Source Sans Pro';
	font-size: 20px;
	font-weight: 600;
	color: #6d6e71;
	line-height: 25px;
}

/* Home - Scripture */
#home-scripture #scripture-img{
	width: 100%;
	height: 100%;
	min-height: 175px;
	background-image: url('../../images/home-page/bkg-scripture.png');
	background-size: cover;
	background-position-y: top;
}
/*#home-scripture #scripture-gradient{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: linear-gradient(90deg, rgba(255,255,255,0) 80%, rgba(245,245,245,1) 95%);
}*/


/* Home - Volunteer with Us */
#home-volunteer a.button{
	display: inline-block;
}

/* Home - Join Network */
#home-network-entrypoints h3{
	margin: 25px 0 5px 0;
	font-weight: 800;
	font-size: 25px;
	line-height: 25px;
}

#home-network-entrypoints{
	font-size: 20px;
	line-height: 24px;
}

.home-network-entrypoint-col{
	box-shadow: 0px 130px 0px 0px #f5f5f5 inset;
}
/* Home - Newsletter */
#newsletter-block h2{
	font-family: 'Bitter', "Times New Roman";
}
/* If user has role of new_user, hide sidebar and footer */
.new-user-role #sidebar-nav, .new-user-role footer{
	display: none;
}

.role-nta_l1 #sidebar-nav, 
.role-nta_l1 footer,
.role-nta_l1 #sidebar-nav, 
.role-nta_l1 footer{
	display: block;
}

.role-nta_l1 #sidebar-nav-button,
.role-nta_l2 #sidebar-nav-button{
	display: none;
}
