:focus-visible {
	outline: var(--drn-link) auto 1px;
}

#main.flex-item{
	max-width:1020px;
	padding-top:10px;
}

.align-center-on-mobile-left-on-desktop{
	text-align: center;
}

.align-center-on-mobile-right-on-desktop{
	text-align: center;
}

.views-view-grid .views-row{
  float:none;
  width:auto;
}

body,
label,
select,
textarea,
input{
	font-weight: normal;
}

h1{
	font-weight: 600 !important;
	font-size: 40px !important;
	line-height: 45px !important;
   	margin-top: 0 !important;
   	text-decoration: none !important;
   	text-transform: none !important;
   	border:none !important;
}

h1.page-title,
.field-display-title{
	margin:0 0 15px 0;
	font-weight: 800;
   	border:none !important;
}

body.section-module.section-group h1.page-title, 
body.section-module.section-group h1, 
div[id$="page-title"] h1,
div[id$="page-title"] h1.page-title{
    text-transform: none !important;
    margin: 25px 0;
}


h1.page-title-indent{
	padding-left:20px;
}


h2{
	font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    margin:0 0 20px 0;
}


h3{
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
}

h4{
	font-size: 20px;
	font-weight: 800;
	line-height: 24px;
	margin:0 0 5px 0;
	padding:0;
	margin-bottom: 10px;
}
a,
.text-blue,
a.text-blue {
	color: var(--drn-link);
}
a:hover{
	color: var(--drn-primary);
	text-decoration: none !important;
}
a.active{
	text-decoration: none !important;
}

.text-normal,
.text-normal p{
	font-weight: 400;
}

.text-bold,
.text-bold p{
	font-weight: 700;
}

.text-semibold,
.text-semibold p{
	font-weight: 600 !important;
}

.text-extrabold,
.text-extrabold p{
	font-weight: 800;
}

.text-italics{
	font-style: italic;
}

.text-smaller,
.text-smaller p{
	font-size: 16px;
	line-height: 20px;
}

.text-wrap-anywhere {
	overflow-wrap: anywhere !important;
}

.more-link a{
	font-weight: 800;
}

.text-underlined{
	text-decoration: underline;
}

label.form-required::after {
    content: "*";
    padding: 0 8px;
    margin-left: 5px;
}

[class*=" icon-"], [class^="icon-"] {
    /*font-family: icomoon !important;*/
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Colors */
.color-drn-secondary {
	color: var(--drn-secondary);
}
.color-drn-accent {
	color: var(--drn-accent);
}

/* ========================================== */
/* ======== FONT AWESOME AND ARROWS ========= */
/* ========================================== */
i {
	font-weight: 600;
	margin:0 10px 0 0;
}

.icon-close::before {
    content: "\E94D";
}


/* ========================================== */
/* == LISTS (used for Navs and Link Lists) == */
/* ========================================== */
.header-wrapper ul,
.header-wrapper ul li,
#footer-block ul,
#footer-block ul li
ul.no-bullets,
ul.no-bullets li {
	list-style: none;
	list-style-image: none;
}
.header-wrapper ul,
#footer-block ul,
ul.no-bullets{
	margin:0;
	padding:0;
}
.horizontal li,
#horizontal-menu li,
.ul-horizontal ul li{
	display: inline-block;
	margin-right: 10px;
}

/* ========================================== */
/* ===  HORIZONTAL SPACING AND ALIGNMENT   == */
/* ========================================== */
.center-element-within-container{
	margin-left:auto;
	margin-right: auto;
}

/*this is an opigno thing*/
.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}


/* --- Floats --- */
.float-right{
	float:right;
}

.float-left{
	float:left;
}

.clear-floats{
	clear: both;
}

.views-display-column.clear-floats{
	clear: none;
}

/* --- Horizontal Padding --- */
.padding-left-40{
	padding-left: 40px;
}

.padding-right-40{
	padding-right: 40px;
}


.field--label-inline .label,
.field--label-inline .content{
	display:inline;
	margin-right: 15px;
}

.field--label-inline .label::after,
.field--label-above .label::after{
	content:": ";
}



/* ========================================== */
/* ==========  VERTICAL SPACING   ========== */
/* ========================================== */
.padding-top-100{
	padding-top: 100px;
}

.padding-bottom-100{
	padding-bottom: 100px;
}

.padding-top-75{
	padding-top: 75px;
}

.padding-bottom-75{
	padding-bottom: 75px;
}

.padding-top-50{
	padding-top: 50px;
}

.padding-bottom-50{
	padding-bottom: 50px;
}

.padding-top-25{
	padding-top: 25px;
}

.padding-bottom-25{
	padding-bottom: 25px;
}

.margin-top-100{
	margin-top: 100px;
}

.margin-bottom-100{
	margin-bottom: 100px;
}

.margin-top-75{
	margin-top: 75px;
}

.margin-bottom-75{
	margin-bottom: 75px;
}

.margin-top-50{
	margin-top: 50px;
}

.margin-bottom-50{
	margin-bottom: 50px;
}

.margin-top-25{
	margin-top: 25px;
}

.margin-bottom-25{
	margin-bottom: 25px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-top-20{
	margin-top: 20px;
}

.pb-6, .py-6 {
    padding-bottom: 5rem !important;
}
.pt-6, .py-6 {
    padding-top: 5rem !important;
}



/* ========================================== */
/* ==========  BACKGROUND IMAGES   ========== */
/* ========================================== */
.lp_progress_summary_passed,
.lp_progress_summary_failed,
.lp_step_state_passed,
.lp_step_state_failed,
.lp_step_state_pending  {
    background-repeat: no-repeat;
    background-size: 40px;
}

.lp_progress_summary_passed,
.lp_step_state_passed {
    background-image: url(../../images/icons/icon-check.png);
}

.lp_progress_summary_failed,
.lp_step_state_failed  {
    background-image: url(../../images/icons/icon-x.png);
}

.lp_step_state_pending{
	background-image: url(../../images/icons/icon-circular-arrow.png);
}

/* ========================================== */
/* ==========  BOXES AND BORDERS   ========== */
/* ========================================== */
.box-with-dropshadow-border,
.field-group-tab{
	border: solid 1px #e7e7e7;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(204,204,204,1);
	-moz-box-shadow: 0 0 5px rgba(204,204,204,1);
	-webkit-box-shadow: 0 0 5px rgba(204,204,204,1);
	-o-box-shadow: 0 0 5px rgba(204,204,204,1);
}

.vertical-tabs__pane.field-group-tab {
	border:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	padding: 20px 0 20px 0;
}



/* These classes are used in various "Manage Display" and "Manage Form Display" configs */
.section-in-box{
	margin-bottom: 1.5rem;
	padding: 1rem;
}

.section-in-box h3.section-header {
	padding: 0.75rem;
	margin: -1rem -1rem 1.5rem -1rem;
}

/* ========================================== */
/* ========== FIELDSETS AND GROUPS ========== */
/* ========================================== */
/* Edit forms - Dates */
fieldset#edit-field-org-join-network-date-0 legend,
fieldset#edit-field-org-resources-list--wrapper legend,
fieldset#edit-field-org-website-0 legend{
	font-size: 16px;
}

fieldset#edit-group-org-primary-contact,
fieldset#edit-group-org-church-leader,
fieldset#edit-group-org-prayer-leader {
	padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 40px;
}

/* Paragraphs (field collections) */
form .field--widget-entity-reference-paragraphs,
form .field--widget-inline-entity-form-simple {
	margin-bottom: 50px;
}

form .field--widget-entity-reference-paragraphs em{
	display: none;
}

form .description{
	font-size: 80%;
	font-weight: 400;
}

.field--widget-entity-reference-paragraphs h4.label,
.field--widget-inline-entity-form-simple h4.label,
#field-user-tags-values h4.label{
	font-size: 16px;
	font-weight: 700;
	margin:0;
}

.paragraph-type-title{
	font-size: 15px;
	line-height:18px;
}

.field--widget-entity-reference-paragraphs .tabledrag-toggle-weight,
.field--widget-inline-entity-form-simple .tabledrag-toggle-weight {
	display: none;
}

.field--widget-entity-reference-paragraphs .table thead th,
.field--widget-inline-entity-form-simple .table thead th,
table#field-user-tags-values thead th{
    border-bottom: none;
    border-top: none;
}


/* ========================================== */
/* ====== ALERTS AND DRUPAL MESSAGES ======== */
/* ========================================== */
.message-wrapper{
	width:80%;
	margin: 0px auto;
	clear:both;
}

.page-user-login .message-wrapper {
	margin-top:30px;
}

.region-status_messages .alert {
    margin-bottom: 50px;
    border: none;
    border-radius: 0;
}


.alert,
.views-admin .messages--warning{
    position: relative;
    padding: .75rem 1.25rem;
	margin-bottom: 10px;
	width: 100%;
	display: block;
	z-index: 1;
}

.alert button{
	border:none !important;
	float:right;
}

/* ========================================== */
/* =============== IMAGES =================== */
/* ========================================== */
img {
    max-width: 100%;
    min-height: 1px;
    height: auto;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}
.profile-pic img{
	border-radius: 50%;
}
.bkg-img-overlay{
	box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.5) inset;
}

/* =============== TABLES =============== */
table {
	width: 100%;
}
th {
    vertical-align: middle;
    font-weight: 600;
    text-align: inherit;
    padding: .75rem;
    border-top: 3px solid var(--drn-neutral-light);
    border-bottom: 3px solid var(--drn-neutral-light);
}
th a,
th a:link{
	text-decoration: none;
}
td {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid var(--drn-neutral-light);
}
.table-sm td, 
.table-sm th {
    padding: .3rem;
}
.admin-report table {
	border: 2px solid var(--drn-neutral-light);
}
.admin-report table th{
	color: var(--drn-neutral-dark);
}
.admin-report table caption {
	caption-side: top;
    color: var(--drn-dark);
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    background-color: var(--drn-neutral-light);
}
table.training-scheduled-options thead th {
    border-bottom: 3px solid var(--drn-accent);
}
.tabledrag-toggle-weight-wrapper button,
.field--name-field-activity-display-name {
	color: var(--drn-accent);
}

/* ========================================== */
/* === NAVIGATION - Sidebar Nav          ==== */
/* ========================================== */
#sidebar-nav ul{
  width:255px;
  margin: 0;
  padding:0;
}
#sidebar-nav ul li{
  display: block;
  float:none;
  width: 100%;
  margin:0;
  padding:0 1rem 0 1rem;
  text-align: left;
}
#sidebar-nav ul:not(.contextual-links) li a{
  height: auto;
  text-align: left;
  padding: 0.5rem;
  border-radius: 7.5px;
  font-size: 16px;
  line-height: 18px;
  border: none;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}
#sidebar-nav ul:not(.contextual-links) li a:hover{
	color: var(--drn-primary);
}
#sidebar-nav h2{
	font-size: 15px;
	line-height: 20px;
    margin: 30px 15px 5px 1rem;
    padding: 3px 0 0 0;
}
#sidebar-nav ul li span{
	display: block;
	margin: 0;
	font-style: italic;
	font-weight: 600;
}
#sidebar-nav #block-adrn-main-menu ul li{
	padding-top: 0;
	padding-bottom: 8px;
}
.navbar-toggler {
	background-color: transparent !important;
	border: none;
}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* ======================================================= */
/* ====================== HEADER  ======================== */
/* ======================================================= */
#site-header {
    border-bottom: 3px solid #e9e9e9;
}
#site-header #header-right .button {
	display: inline-block;
	margin: 1rem 0;
}
#site-header #header-right .login-instructions a {
	color: var(--drn-neutral-dark);
	transition: color 300ms;
}
#site-header #header-right .login-instructions a:hover {
	color: var(--drn-primary);
}
#site-header #header-logo{
    padding:25px 0;	
}
#site-header #header-logo img {
    max-height: calc(115px - 1.5rem);
    width: 110px;
}
#site-header #header-nav ul li a{
	font-family: 'Open Sans', arial;
	font-weight: 600;
	font-size: 17px;
	line-height: 20px;
	color: #221e1f;
}
#site-header #header-icons .header-icon {
	color: gray;
	font-size: 20px;
}
#site-header #header-notifications-dropdown .dropdown-menu .mark-as-read {
	display: block;
    background-color: #f8f7f5;
    text-decoration: underline;
    padding: .75rem 2rem;
    font-style: italic;
    color: #212529;
}
#site-header #header-notifications-dropdown .dropdown-menu .dropdown-menu-content {
	max-height: 400px;
    overflow: auto;
}
#site-header #header-user-dropdown {
    padding: 16px 20px;
	border-left: 3px solid #e9e9e9;
}
#site-header .close-dropdown {
	cursor: pointer;
}
#site-header .dropdown-menu {
    margin: 0rem;
    padding: 0rem;
    border: 0;
    -webkit-box-shadow: 0 0 20px 2px rgb(0 0 0 / 20%);
    box-shadow: 0 0 20px 2px rgb(0 0 0 / 20%);
    min-width: 300px;
    -webkit-transform: translate(-100%,38px)!important;
    transform: translate(-100%,38px)!important;
}
#site-header .dropdown-menu .dropdown-menu-header {
	min-height: calc(100px - .5rem);
	border-bottom: 1px solid;
}
#site-header .dropdown-menu .dropdown-menu-content .dropdown-item {
	padding: 0;
	white-space: normal;
}

#site-header .dropdown-menu .dropdown-menu-content a.dropdown-item,
#site-header .dropdown-menu .dropdown-menu-content .dropdown-item a {
	padding: .75rem 2rem;
	background-color: #f8f7f5;
	position: relative;
	z-index: 0;
	display: block;
	color: gray;
    margin-top: 0.5rem;
}
#site-header .dropdown-menu .dropdown-menu-content a.dropdown-item:after,
#site-header .dropdown-menu .dropdown-menu-content .dropdown-item a:after {
	content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--drn-primary);
    -webkit-transition: width .2s;
    transition: width .2s;
    z-index: -1;
}
#site-header .dropdown-menu .dropdown-menu-content a.dropdown-item:hover,
#site-header .dropdown-menu .dropdown-menu-content .dropdown-item a:hover {
	color: white;
}
#site-header .dropdown-menu .dropdown-menu-content a.dropdown-item:hover:after,
#site-header .dropdown-menu .dropdown-menu-content .dropdown-item a:hover:after {
	width: 100%;
}
#site-header .dropdown-menu .dropdown-menu-end-button a {
	display: block;
	background-color: #898988;
    color: #fff;
    padding: .75rem 2rem;
}
#site-header .dropdown-menu .dropdown-menu-end-button a:hover {
	background-color: var(--drn-secondary);
}
#site-header .dropdown-menu nav > ul {
	max-width: 100vw;
    display: flex;
}
#site-header .dropdown-menu nav > ul > li + li {
	padding-left: 1.5rem;
}
#site-header .dropdown-menu nav > ul > li > a {
	display: block;
    color: inherit;
    margin-bottom: 1em;
    font-weight: 600;
    pointer-events: none;
    min-height: 48px;
}
#site-header .dropdown-menu nav > ul > li ul li + li {
    margin-top: 10px;
}
#site-header .dropdown-menu nav > ul > li ul li a {
    padding: .75rem 2rem;
    background-color: #f8f7f5;
    position: relative;
    z-index: 0;
    display: block;
    color: inherit;
}
#site-header .dropdown-menu nav > ul > li ul li a:after {
	content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--drn-primary);
    -webkit-transition: width .2s;
    transition: width .2s;
    z-index: -1;
}
#site-header .dropdown-menu nav > ul > li ul li a:hover {
	color: white;
}
#site-header .dropdown-menu nav > ul > li ul li a:hover:after {
	width: 100%;
}
#site-header .picto {
	background-size: cover;
	width: 65px;
	height: 65px;
	border-radius: 100%;
    background-image: url(../../images/icons/picto-user.png);
}
@media (min-width: 768px) {
	#site-header button.navbar-toggler {
		display: none;
	}
}

/* ======================================================= */
/* ===== ADMIN BUTTONS, BREADCUMBS, and TOP TABS ========= */
/* ======================================================= */
/* admin menu - push body down a bit so header isn't hidden by admin menu */
body.toolbar-tray-open{
	padding-top: 85px !important;
}

div[id$="administrationheader"] h4{
    font-size: 18px;
    font-weight: 400;
	color: var(--drn-primary);
    letter-spacing: 1px;
    text-transform: none;
    font-style: italic;
}
#toolbar-administration a{
	color:#000;
}
.local-tasks a.is-active{
	color:#212529 !important;
}

ul#local-tasks-secondary li.button-rounded{
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}


.tabledrag-toggle-weight-wrapper button{
    margin: 5px 125px 0 0;
    font-size: 14px;
}

.dropbutton-toggle button{
	margin:0 0 0 5px;
	padding:3px;
}

button.trigger{
	background-color: #fff !important;
}

.region-title__action .button{
	font-weight: normal;
}

a.tabledrag-handle .handle{
	height: auto;
	width: auto;
	margin:-3px 10px 0 25px;
}


/* dropdown for rich text boxes to choose input filter */
.filter-wrapper{
	border:none;
}

.filter-wrapper,
.filter-wrapper input,
.filter-wrapper select{
	font-size: 12px;
}

.filter-wrapper .form-item .col-md-3{
	text-align: right;
	padding-right: 10px;
}

/* buttons in the View Header */
.views-element-container a.button:not([class*="h5p-"]):not([class*="btn-"]):not([class*="mat-"]):not(.link):not(.close):not(.trigger):not(.toolbar-icon){
	display: inline-block;
}

/* buttons in the View content - JULIE - COME BACK TO THIS!!!*/
.table .dropdown-toggle::after, 
table .dropdown-toggle::after, 
table:not(.table) .dropdown-toggle::after {
    /*font-family: icomoon !important;*/
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E94A";
    background: none;
    border: 0 none;
    font-size: 20px;
    display: block;
    width: 1rem;
    height: 1rem;
}

/* DRN Tools Menu Tab */
.toolbar-icon-menu-link-content21460b02-febd-4bf1-ae37-92428387af11{
  background-color: var(--drn-secondary);
}

#breadcrumb ul:not(.contextual-links) li a{
	font-size: 14px;
	text-decoration: none;
}

#breadcrumb ul:not(.contextual-links) li + li::before {
    content: ">";
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    color: var(--drn-primary);
    font-size: 10px;
    font-weight: 800;
}
.vertical-tabs .vertical-tabs__panes{
	margin-bottom: 50px;
}

.admin-learning-path form .form-actions{
	margin: 40px 0 0 0;
}

.progress__track {
	height: auto;
}

.progress {
	display: block;
	height: 0;
	overflow: initial;
	line-height: 1rem;
	font-size: 1rem;
}
[id$="-local-actions"] {
	margin: 1rem 0rem;	
}

/* ========================================== */
/* ============= POPUPS - Hide Nav ========== */
/* ========================================== */
html.inIframe .region-drn_admin_menu,
html.inIframe #sidebar-nav,
html.inIframe footer{
	display: none;
}

/* ================== BUTTONS =============== */
.button,
[class^="button-wrapper-"] a {
	text-align: center;
	border: none;
	border-radius: 0;
	font-size: 1.2rem;
	padding: .5rem 1.5rem;
	background-color: var(--drn-secondary);
	color: var(--drn-light);
	transition: background-color 300ms, color 300ms, filter 300ms;
}
.button:hover,
[class^="button-wrapper-"] a:hover {
	background-color: var(--drn-secondary-darker);
	color: var(--drn-light);
}
.button-small,
.views-exposed-form .button,
.region-title__action .button {
	font-size: 16px !important;
	padding: 5px 15px 5px 15px !important;
}
.button-rounded{
	border-radius: 5px !important;
}
.button-primary {
	background-color: var(--drn-primary);
}
.button-primary:hover {
	background-color: var(--drn-primary-lighter);
}
.button-secondary {
	background-color: var(--drn-secondary);
}
.button-secondary a:hover {
	background-color: var(--drn-secondary-darker);
}
.button-neutral,
.button-gray {
	background-color: var(--drn-neutral) !important;
	border: none;
	color: #fff !important;
}
.button-neutral:hover,
.button-gray:hover {
	background-color: var(--drn-dark) !important;
}
.button-wrapper-secondary a {
	background-color: var(--drn-secondary);
	color: var(--drn-light);
}
.button-wrapper-secondary a:hover {
	background-color: var(--drn-secondary-darker);
}
.button-wrapper-neutral-light a {
	background-color: var(--drn-neutral-light);
	color: var(--drn-neutral-dark) !important;
}
.button-wrapper-neutral-light a:hover {
	background-color: var(--drn-neutral-lighter);
	color: var(--drn-dark) !important;
}
.button-accent,
.button-teal {
	background-color: var(--drn-accent) !important;
	color:var(--drn-light) !important;
}
.button-accent:hover,
.button-teal:hover {
	background-color: var(--drn-neutral) !important;
}
.views-field .button-small{
	font-size: 12px !important;
	line-height: 16px;
	text-align: center;
	display: block;
}
.button-tooltip {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid gray;
    color: gray;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 7px;
    margin-left: 5px;
}
.view-header .button {
	margin-bottom: 25px;
}
#edit-cancel.button {
	display: inline-block;
    background-color: var(--drn-neutral-lighter);
    color: var(--drn-neutral-dark);
}
#edit-cancel.button:hover {
	background-color: var(--drn-neutral);
	color: var(--drn-dark);
}
/* ========================================== */
/* ========= EXPOSED FILTERS FORMS ========== */
/* ========================================== */
.views-exposed-form {
	padding:20px 40px;
	display:block;
	margin-bottom: 25px;
	max-width: 1200px;
}

.views-exposed-form .form-item,
.views-exposed-form .form-actions {
	display:inline-block;
}

.views-exposed-form .form-element-wrapper{
	width: auto;
	float: none;
}

.views-exposed-form .form-item{
    margin: 0 10px 10px 0;
}

.views-exposed-form .form-text{
	margin-top: 0;
}

.views-exposed-form .form-item input[type="text"],
.views-exposed-form .form-item input[type="number"],
.views-exposed-form .form-item select,
.views-exposed-form .form-itemtextarea {
    border-radius: 0;
    padding: 2px;
    margin-right: 20px;
}

.views-exposed-form .form-item input[type="text"]:focus{
	border-radius: 0;
}

.views-exposed-form .form-inline label{
	/* override Platon to make left justify instead of center */
	text-align: left !important;
	-webkit-box-align: left;
	align-items: left;
	-webkit-box-pack: left;
	justify-content: left;
	font-size: 14px;
	padding-bottom: 2px;
}

.views-exposed-form .form-inline a.button, 
.views-exposed-form .form-inline input[type="submit"] {
    padding: 3px 10px;
    text-transform: none;
    font-size: 17px;
    font-weight: 400;
}

.views-exposed-form .button {
	margin-right: 10px;
}

.views-exposed-form .button,
.views-exposed-form .button:hover,
.views-exposed-form .button:focus{
	border: none !important;
}


.no-results{
	margin:0 0 50px 20px;
}


/* ========================================== */
/* =============== PAGERS =================== */
/* ========================================== */
.pager li .page-link{
	border: none;
}
.page-item.active .page-link {
    background-color: var(--drn-primary);
    border-radius: 0;
}

/* ========================================== */
/* ============= Views Footer ================ */
/* ========================================== */
.view-result-total-count {
	margin-top: 25px;
	font-weight: 600;
	font-style: italic;
}

/* ========================================== */
/* ================= FOOTER ================= */
/* ========================================== */
#footer-block{
	font-size: 14px;
    line-height: 20px;
    width: 100%
}

#footer-donate-button a.button{
	display: inline-block;
}

#footer-block h3{
	font-family: 'Open Sans', arial !important;
	font-size: 27px;
	font-weight: 600;
	line-height: 27px;
	padding: 0;
    margin: 35px 0 15px 0;
}

#footer-block ul li{
	padding-left:0;
}

#footer-block ul li {
	margin:0 0 10px 0;
}

#footer-block ul li a{
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
}

#footer-block ul li a:hover{
	color: var(--drn-secondary);
}

.copyright.mobile-only{
	margin: 40px 0 20px 0;
}

#footer-block .copyright{
	color:#fff;
	font-family: 'Open Sans', arial;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
}

#footer-block .copyright .copyright-year,
#footer-block .copyright .copyright-text,
#footer-block .copyright .copyright-text p{
	display: inline;
}

#footer-social-links {
	padding-top: 30px;
}

#footer-social-links li img{
	height:40px;
	width: 40px;
	margin-right: 8px;
}

#footer-social-links li.last img{
	margin-right: 0;
}

#footer-link-to-main-site a{
	font-weight: 800;
	font-size: 30px;
	line-height:30px;
	text-decoration: none;
}

/* ===================================================== */
/* === NEWSLETTER SIGNUP BLOCK (BOTTOM OF ALL PAGES) === */
/* ===================================================== */
#newsletter-block p{
	margin:0 auto;
}

.newsletter-form{
	margin:40px auto 0 auto;
	text-align: center;
	width:500px;
	max-width: 95%;
}

#newsletter-block h3{
	margin-bottom: 10px;
}

#newsletter-block h2{
	margin-bottom: 5px;
}

.newsletter-form-inputs-text-field{
    width: 300px;
    display: inline-block;
    padding: 4px;
    margin-bottom: 5px;
}


/* ========================================== */
/* == Veritcal Tabs (copied from Platon)  === */
/* ========================================== */
.vertical-tabs {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.vertical-tabs ul.vertical-tabs__menu {
    float: none;
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 15em;
    flex: 1 0 15em;
    max-width: 15em;
}
.vertical-tabs .vertical-tabs__panes {
    background-color: #fff;
    margin-bottom: 50px;
}
.vertical-tabs .vertical-tabs__panes {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(100% - 15rem);
    flex: 1 0 calc(100% - 15rem);
    padding: 1rem 2rem;
    max-width: calc(100% - 15rem);
    -webkit-box-shadow: 0 0 0 5px #eee inset;
    box-shadow: inset 0 0 0 5px #eee;
}
.vertical-tabs__panes {
    flex: auto !important;
}

/* ========================================== */
/* ============= James's Stuff  ============= */
/* ========================================== */
.dialog-off-canvas-main-canvas {
	width: 100%;
}
#main {
	margin: 0 !important;
}
.scrolling-text {
	overflow: auto;
	height: 600px;
	max-height: 600px;
}
[id^=user-form-wrapper-] .form-element-wrapper {
  width: 100% !important;
}
[id^=user-form-wrapper-] form .form-actions input[type=submit] {
  margin: auto;
  padding: .75rem 2rem !important;
}
.row {
	margin: 0px;
}
.col {
	padding: 0px;
}
.vertical-tabs__panes {
	flex: auto !important;
}
.message-wrapper {
	z-index: 9 !important;
}

.header-cart {
	position: relative;
}
.header-cart a {
	position: relative;
}

/* Banded bootstrap rows */
.banded-row {
	border-top: 1px solid var(--drn-neutral);
}
.banded-row.dark {
	background-color: var(--drn-neutral-lighter);
}
.banded-row.first {
	border-top: 3px solid var(--drn-accent);
}
.banded-row .button {
	width: 100%;
}

/* Dashboard */
#user-dashboard h4 {
	font-size: 1rem;
	text-transform: capitalize;
	color: var(--drn-dark);
}

#user-dashboard h5 {
	font-size: 1rem;
	font-weight: 900;
	word-wrap: break-word;
	color: var(--drn-neutral-dark);
}

#user-dashboard .button {
	width: 100%;
	display: block;
	font-size: 1rem;
	padding: 0.5rem 1.5rem;
}

#user-dashboard #dashboard-box-user-status .dashboard-box-content > div {
	line-height: 1rem;
}

#user-dashboard #dashboard-box-user-status .dashboard-box-content > div:not(:last-child) {
	margin-bottom: 1rem;
}

#user-dashboard #dashboard-box-user-status .dashboard-box-content .user-volunteer-roles {
	overflow-wrap: anywhere;
}

/* Sitewide Notification Message */
#sitewide-notification {
	background-color: var(--drn-secondary);
	color: var(--drn-dark);
	text-align: center;
	padding: 1rem;
}
#sitewide-notification p {
	margin-bottom: 0rem;
	font-size: 1.25rem;
}

/* Config sync and view export progress bar */
.progress {
	display: block;
	height: unset;
	overflow: unset;
	line-height: unset;
	font-size: unset;
	background: none;
	border-radius: none;
}

/* Show only for role */
[class^="show-only-"] {
	display: none;
}
.role-administrator [class^="show-only-"] {
	display: initial;
}
.role-staff .show-only-staff {
	display: initial;
}
