/* ======================================================================= */
/* =========================== START: RESPONSIVE ========================= */
/* ======================================================================= */


/* ===========  DEFAULT: Start with Small Devices b/c Bootstrap is Mobile First ============== */
#debug-header{
	background-color: yellow;
}

.desktop-only{
	display: none;
}

.mobile-only{
	display: block;
}

.align-center-on-mobile-left-on-desktop{
	text-align: center;
}

.align-center-on-mobile-left-on-desktop{
	text-align: center;
}

.margin-bottom-on-mobile{
	margin-bottom: 30px;
}

.margin-bottom-on-mobile-100{
	margin-bottom: 100px;
}

.image-and-text-text{
	margin-left: 0;
}

.col-with-image img{
	width:90%;
	max-width: 90%;
	margin-bottom: 25px;
}

#portal-ways-to-help .box-with-solid-border{
	padding:35px 15px 30px 15px;
}


#login-content-wrapper,
#signup-content-wrapper,
#forgot-password-wrapper{
	width:90%; /* mobile first */
}



/* ------- HOME - NOT LOGGED IN  ----------- */
#home-network-entrypoint-col-2{
	/*only on mobile, add vertical spacing*/
	margin-top:50px;
	margin-bottom: 50px;
}


/* ------- View with CSS class of "flex-content" to display rows as a flexbox ----------- */
/* Used on /courses page
Sample Use: 
1) put "flex-content" in the Advanced >> CSS Class
2) Use format = 'Unformatted List' | Show Fields
3) In Unformatted list settings, use this type of thing for row 
3) Un-check as many of the "use default styles" as possible ;
*/
.flex-content .view-content{
	display: flex;
	flex-wrap: wrap;
}


/* ===========  Small devices (landscape phones, 576px and up) ============== */
@media (min-width: 576px) { 
	#debug-header{
		background-color: red;
	}

	.col-with-image img{
		width:70%;
		max-width: 70%;
	}

	.margin-bottom-on-mobile{
		margin-bottom: 30px;
	}

	.margin-bottom-on-mobile-100{
		margin-bottom: 100px;
	}

	.text-sm-center {
	    text-align: center !important;
	}


} /* =========== END: 576px ============== */

/* ===========  Medium devices (tablets, 768px and up) ============== */
@media (min-width: 767px) { 
	#debug-header{
		background-color: purple;
	}

	.col-with-image img {
		width: 60%;
		max-width: 60%;
		margin-bottom: 25px;
	}

	#footer-bar .h3{
		margin-top: 40px;
	}

	/* ====== Sign In / Sign Up / Password Page ======= */
	#login-content-inner{
		width:600px;
	}

	.text-sm-center {
	    text-align: center !important;
	}


} /* =========== END: 767px ============== */

/* ===========  Large devices (desktops, 992px and up) ============== */
@media (min-width: 991px) { 
	#debug-header{
		background-color: teal;
	}

	.desktop-only{
		display: block;
	}

	.mobile-only{
		display: none;
	}

	.flex-wrapper{
		display: flex;
		flex-direction: row;
	}

	.align-center-on-mobile-left-on-desktop{
		text-align: left !important;
	}


	.align-center-on-mobile-right-on-desktop{
		text-align: right !important;
	}

	.text-lg-left {
	    text-align: left !important;
	}

	.border-top-on-mobile {
		border-top: none;
	}

	.col-with-image img {
		width: 70%;
		max-width: 70%;
		margin-bottom: 0;
	}

	.image-and-text-text{
		margin-left: 20px;
	}

	#portal-ways-to-help .box-with-solid-border {
		padding: 15px 15px 15px 15px;
	}

	#portal-ways-to-help .image-and-text-image img{
		width: 250px;
	}



	/* ----- Nav Appears at this Width ----- */
	#nav ul li a{
		padding:10px 10px;
	}

	/* ------- HOME - NOT LOGGED IN  ----------- */
	#home-network-entrypoint-col-2{
		/*remove mobile's vertical spacing*/
		margin-top:0;
		margin-bottom: 0;
	}

	/* ------- HOME - LOGGED IN  ----------- */
	#portal-ways-to-help .image-and-text-image {
		width:700px;
	}


	.px-lg-6{
		padding-right: 5rem !important;
		padding-left: 5rem !important
	}


   	/* -------- EDIT USER PROFILE ----------- */
	/* ------------- Edit User Profile - handle placing fields side by side, and vertical spacing ---------- */
	/* place specific ones side by side */
	#edit-field-user-first-name-wrapper,
	#edit-field-user-middle-name-wrapper,
	#edit-field-user-last-name-wrapper,
	#edit-field-user-cell-phone-wrapper,
	#edit-field-user-home-phone-wrapper,
	#edit-field-user-work-phone-wrapper,
	#edit-field-user-address-wrapper,
	#edit-field-user-mailing-address-wrapper,
	#edit-field-user-date-of-birth-wrapper,
	#edit-field-user-gender-wrapper,
	#edit-field-user-emergency-contact-wrapper,
	#edit-field-user-ec-relationship-wrapper,
	#edit-field-user-ec-phone-wrapper,
	#edit-field-user-dl-id-wrapper,
	#edit-field-user-dl-state-wrapper,
	#edit-field-user-dl-class-wrapper,
	#edit-field-user-dl-expiration-date-wrapper{
	    margin-right: 35px;
	    float: left;
	}

	#edit-field-user-emergency-contact-wrapper,
	#edit-field-user-dl-id-wrapper{
	    clear: left;
	}


	/* set some to 250px wide */
	#form-section-additional-info .form-wrapper,
	#user-form #form-section-basic-info .form-wrapper,
	#user-form #edit-field-pause-notifications-wrapper input,
	#user-form #form-item-field-user-sms-consent-value input,
	#edit-field-comm-preferred-method-wrapper select{
	    width: 250px;
	}

	#edit-account .form-item-mail,
	#edit-account .form-item-pass-pass1,
	#edit-account .form-item-pass-pass2,
	#edit-account .form-item-current-pass,
	#edit-account .form-item-name{
	    width: 450px;
	}


   	#user-form #edit-field-user-availability-distance-wrapper,
   	#user-form #edit-field-availability--wrapper.form-wrapper,
	#user-form #edit-field-user-occupation-wrapper,
	#user-form #edit-field-user-languages-set-wrapper,
	#user-form #edit-field-user-organization-wrapper,
	#user-form #edit-field-user-church-other-wrapper,
	#user-form #edit-field-document-uploads-wrapper
	/*#user-form #edit-field-user-training-interests-wrapper,
	#user-form #edit-field-user-position-interests-wrapper,*/ {
	    width: 500px;
	}


	#user-form #edit-user-picture-wrapper.form-wrapper,
	#edit-field-user-bgc-consent-value--description,
	#edit-field-comm--wrapper--description,
	#edit-field-pause-notifications-0-value--description{
	    width: 800px;
	}


} /* =========== END: 992px ============== */


/* ===========  Extra large devices (large desktops, 1200px and up) ============== */
@media (min-width: 1200px) { 
	#debug-header{
		background-color: purple;
	}

	.align-center-on-mobile-left-on-desktop{
		text-align: left;
	}

	.align-center-on-mobile-right-on-desktop{
		text-align: right;
	}

	.margin-bottom-on-mobile,
	.margin-bottom-on-mobile-100{
		margin-bottom: 0 !important;
	}


	/* ----- Nav spreads out at this Width ----- */
	#nav ul li a{
		padding:10px 20px;
	}


	/* ====== Footer ======= */
		#footer-block h3{
		margin: 20px 0 20px 0;
	}


	/* ====== Sign In / Sign Up / Password Page ======= */
	#login-content-wrapper,
	#forgot-password-wrapper{
		width:70%;
	}

	#signup-content-wrapper {
		border-left: 432px solid #f9c535;
	}

} /* ===========* END: 1200px ============== */


/* ===========  Extra Extra large devices (large desktops, 1200px and up) ============== */
@media (min-width: 1240px) { 
	#debug-header{
		background-color: white;
		display: none;
	}
} /* =========== END: 1240px ============== */
/* ===========  Small devices (400px and down) ============== */
@media screen and (max-width: 568px) {
	/* Header Dropdown */
	#header-user-dropdown .dropdown-menu,
	#header-notifications-dropdown .dropdown-menu {
		min-width: unset;
		width: 80vw !important;
	}
}
/* ===========  Small devices (767px and down) ============== */
@media screen and (max-width: 767px) {
	.view-scheduled-trainings-for-course table thead {
	  display: none;
	}
	.view-scheduled-trainings-for-course table tr {
		border-top: 2px solid var(--drn_accent);
	}

	.view-scheduled-trainings-for-course table {
		width: 100%;
	}

	.view-scheduled-trainings-for-course table td {
		display: flex;
		width: calc(100vw - 50px);
		padding: 0px;
		align-items: center;
	}
	.view-scheduled-trainings-for-course table td[label]::before,
	.view-training-instances-for-course.view-display-id-block_1 table td[label]::before {
		content: attr(label);
		font-weight: bold;
		width: 105px;
		min-width: 105px;
		padding: .75rem;
	}

	.view-scheduled-trainings-for-course a.button-small {
		margin-top: 15px;
		margin-bottom: 25px;
		margin-left: 15px;
		font-size: 18px !important;
	}

	.view-id-scheduled_trainings_for_course.view-display-id-block_1 {
		overflow: hidden;
	}

	/* Header Dropdown */
	#header-user-dropdown .dropdown-menu{
		transform: translate3d(1px, 90px, 0px) !important;
		left: unset !important;
		right: 0px;
	}
	#header-notifications-dropdown .dropdown-menu {
		transform: translate3d(130px, 90px, 0px) !important;
		left: unset !important;
		right: 0px;
	}
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .view-scheduled-trainings-for-course table thead {
		display: none;
	}
	.view-scheduled-trainings-for-course table tr {
		border-top: 2px solid var(--drn_accent);
	}
	.view-scheduled-trainings-for-course table td {
		display: flex;
		width: calc(100vw - 50px);
		padding: 0px;
		align-items: center;
	}
	.view-scheduled-trainings-for-course table td[label]::before {
		content: attr(label);
		font-weight: bold;
		width: 105px;
		min-width: 105px;
		padding: .75rem;
	}
}