/* ---- ADD ALL ORGANIZATION STYLES HERE ---- */


/* ------- View Organization Details ------- */
.group h2 a{
    display: none;
}

.field-org-notes .paragraph--type--p-organization-notes{
    margin:5px 20px 20px 20px;
}

.field-org-notes .field--name-field-org-notes-date {
    font-weight: bold;
}

.field-org-notes .field--name-field-org-notes-author,
.field-org-notes .field--name-field-org-notes-type{
    font-size: 12px;
}

.field-org-notes .field--name-field-org-notes-author{
    margin-top: 10px;
}
/* ------- Organizaiton Form ------- */
.address-line2{
  /*margin-left:200px; Julie, this needs to be more specific. It's affecting other page's elements with that class (eg User Dashboard) jk */
}

.field--name-field-org-address.field-org-address .label{
	display: block;
}

.field-org-resources-list{
	margin-bottom: 20px;
}

.field-org-resources-list .content .content::before{
	content: "- ";
	padding-left:5px;
}


.group--organization ul.vertical-tabs__menu,
.group-organization-edit-form ul.vertical-tabs__menu{
	height: 100%;
	margin-right: 3rem;
	box-shadow: 1px 1px 4px 1px #ccc;
}
.group--organization ul.vertical-tabs__menu > li.vertical-tabs__menu-item,
.group-organization-edit-form ul.vertical-tabs__menu > li.vertical-tabs__menu-item{
	background-color: transparent;
}
.group--organization ul.vertical-tabs__menu > li.vertical-tabs__menu-item > a,
.group-organization-edit-form ul.vertical-tabs__menu > li.vertical-tabs__menu-item > a{
	padding: 15px 20px;
}
.group--organization ul.vertical-tabs__menu > li.vertical-tabs__menu-item.is-selected > a,
.group-organization-edit-form ul.vertical-tabs__menu > li.vertical-tabs__menu-item.is-selected > a{
    background-color: #f0f0f0;
}
.group--organization ul.vertical-tabs__menu > li.vertical-tabs__menu-item > a > strong,
.group-organization-edit-form ul.vertical-tabs__menu > li.vertical-tabs__menu-item > a > strong{	
    color: #333;
	font-weight: 600;
	text-decoration: none !important;
}
.group--organization ul.vertical-tabs__menu > li.vertical-tabs__menu-item > a > strong.form-required::after,
.group-organization-edit-form ul.vertical-tabs__menu > li.vertical-tabs__menu-item > a > strong.form-required::after{
    content: "*";
    color: red;
    margin-left:4px;
}
@media (min-width: 992px) {
	.group--organization ul.vertical-tabs__menu,
	.group-organization-edit-form ul.vertical-tabs__menu{
        width: 250px;
    }
    .group--organization ul.vertical-tabs__menu > li.vertical-tabs__menu-item.is-selected > a::after,
    .group-organization-edit-form ul.vertical-tabs__menu > li.vertical-tabs__menu-item.is-selected > a::after{
        content: '';
        width: 34px;
        height: 54px;
        background-image: url(../../images/icons/gray-arrow.png);
        background-size: cover;
        position: absolute;
		margin-top: -38px;
		margin-left: 220px;
    }
    .group--organization > div.field-group-tabs-wrapper.admin-only > div > ul.vertical-tabs__menu > li.vertical-tabs__menu-item.is-selected > a::after,
    .group-organization-edit-form > div.field-group-tabs-wrapper.admin-only > div > ul.vertical-tabs__menu > li.vertical-tabs__menu-item.is-selected > a::after{
        background-image: url(../../images/icons/white-arrow.png);
    }

}
.group--organization div.vertical-tabs__panes,
.group-organization-edit-form div.vertical-tabs__panes{
	box-shadow: none;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
