

/* ------- General ------- */
a{
  color:#22578d;
}

a:active{
  text-decoration:none !important;
}

.text-uppercase{
  text-transform:none !important;
}

/* ------- Error and Status Messages ------- */
.message-wrapper {
  position: relative;
  z-index:10;
}

.region-status_messages .alert{
  margin-bottom:50px;
}

/* ------- Topbar ------- */
html body header#site-header{
  display:block;
  background: #fff;
  color: #3c3c3b;
  height:auto;
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
  padding-bottom:0;
  border-bottom:3px solid #e9e9e9;
}
.search-trigger,
.user-ilts,
.user-live-meetings,
.user-block .about{
  display:none !important;
}
#site-header #header-left #header-logo{
  padding-top:25px;
  padding-bottom:25px;  
}
html body.page-front #main {
  margin-bottom:0 !important;
}

/* ------- Navigation ------- */

/*.header-nav #nav{
  margin-top:40px;
}*/

.region-menu ul,
.topnav ul{
  margin-top:0;
  margin-bottom:0;
  padding-left:0;
}

.topnav ul li {
  display: inline-block;
}

.topnav ul li a{
  color: #221e1f;
    padding: 14px 15px;
    font-size: 23px;
    display: inline-block;
}


nav#mobile-menu ul:not(.contextual-links) li a.is-active, 
nav#mobile-menu ul:not(.contextual-links) li a:hover, 
nav.block-system_menu_block-main ul:not(.contextual-links) li a.is-active, 
nav.block-system_menu_block-main ul:not(.contextual-links) li a:hover{
   border:none;;
 }

#menu-wrapper.container{
  width:100% !important;
  max-width:100% !important;
  background-color:#e9e9e9;
}

#menu-wrapper.container .bg-faded{
 background-color:#e9e9e9;
 max-width:1144px;
 margin:0 auto;
}

#menu-wrapper nav.block-system_menu_block-main ul:not(.contextual-links){
   text-align:left !important;
 }

#menu-wrapper nav.block-system_menu_block-main ul:not(.contextual-links) li a{
   font-size:18px;
}

/* ------- Backgrounds ------- */
.bg-primary,
.lp_step_title_wrapper,
.user-info-name, 
.user-info-email,
.statistics-table thead th{
  background-color:#e9e9e9 !important; /* mid gray */
  color:#212529 !important; /* dark gray */
}


.picto-catalogue, nav#mobile-menu ul:not(.contextual-links) li a[data-drupal-link-system-path=catalog], 
nav#mobile-menu ul:not(.contextual-links) li a[data-drupal-link-system-path=catalogue], 
nav.block-system_menu_block-main ul:not(.contextual-links) li a[data-drupal-link-system-path=catalog], nav.block-system_menu_block-main ul:not(.contextual-links) li a[data-drupal-link-system-path=catalogue]{
  background-image:none;
}

.bg-faded {
    background-color: #e9e9e9;
}


/* ------- Views ------- */
.view-header .view-style{
  display:none;
}

.views-element-container{
  margin-bottom:50px;
}



/* ------- Menu and Nav ------- */
#header-nav{
  margin-left:40px;
}

nav.block-system_menu_block-main ul:not(.contextual-links) li a{
  padding:18px 15px 0 15px; 
}

#menu-wrapper{
  margin-bottom:5px;
}


nav#mobile-menu ul:not(.contextual-links) li a, 
nav.block-system_menu_block-main ul:not(.contextual-links) li a{
      color: #3c3c3b;
}


nav#mobile-menu, nav.block-system_menu_block-main{
  padding:0;
}

nav#mobile-menu ul:not(.contextual-links) li a, 
nav.block-system_menu_block-main ul:not(.contextual-links) li a,
#sidebar-nav ul:not(.contextual-links) li a{
  padding:10px .75rem;
}


nav#mobile-menu ul:not(.contextual-links) li a.is-active, 
nav#mobile-menu ul:not(.contextual-links) li a:hover, 
nav.block-system_menu_block-main ul:not(.contextual-links) li a.is-active, 
nav.block-system_menu_block-main ul:not(.contextual-links) li a:hover,
#sidebar-nav ul:not(.contextual-links) li a.is-active,
#sidebar-nav ul:not(.contextual-links) li a:hover{
   border-color:#aab02e;
   color:#aab02e;
}


/* ------- Admin - LMS Tranings ------- */
body.section-module.section-group h1.page-title,
body.section-module.section-group h1,
#block-adrn-page-title h1,
#block-adrn-page-title h1.page-title {
  text-transform:none !important;
  /*border:none !important;*/
  margin:25px 0;
}

body.section-module .form-actions{
  border-top:none;
  background:none;
  margin-top:25px;
}

body.admin-learning-path .tree-view-toggler button.open{
  background-color: #dadada!important;
   color: #575756!important;
}

body.admin-learning-path mat-button-toggle.add-link, 
body.admin-learning-path mat-button-toggle.guided-navigation {
  background-color:#e9e9e9;
  color:#212529;
}

body.admin-learning-path .aside-col .btn-home{
  display:none;
}

body.admin-learning-path .step-list-aside-wrapper{
  margin-top:43px;
}

/* hide header and footer in Activities Bank iframe - COME BACK TO!*/
.activities-bank-add iframe #site-header,
.activities-bank-add iframe .bkg-medium-gray.margin-bottom-50,
.activities-bank-add iframe #newsletter-block,
.activities-bank-add iframe bkg-darkest-gray.clear-floats{
  display:none !important;
}

/* ------- Admin Elements ------- */
/* Add yellow bar at top for Admin pages */
.section-admin #site-header,
.admin-learning-path #site-header,
.page-group-add #site-header,
.page-group-add-organization #site-header,
.page-group-add-group_church_sector #site-header,
.page-group-add-group_community_sector #site-header{
  border-top:30px solid #f9c535; /*yellow*/
  border-top:30px solid #aab02e; /*green*/ 
  border-bottom:1px solid ##e9e9e9; /*gray*/
}


/* Admin Views Buttons */
.views-element-container a.button:not([class*=h5p-]):not([class*=btn-]):not([class*=mat-]):not(.link):not(.close):not(.trigger):not(.toolbar-icon){
  background-color:#e9e9e9;
  border:1px solid #e9e9e9;
  /*border-radius:15px;*/
}


/* ------- Admin Tabs ------- */
.block-local_tasks_block ul:not(.contextual-links) li a:hover{
  background-color:#aab02e;
}

/*#block-tabs ul{
  margin-top:0;
  margin-bottom:15px;
  border-bottom:2px solid #efefef;
}

#block-tabs ul li{
  margin-bottom:0;
  margin-top:20px
}*/

.block-local_tasks_block ul:not(.contextual-links) li a.is-active{
  background-color:#aab02e;
  font-weight:bold;
  text-transform:uppercase;
  color:#212529 !important;
}


.block-local_tasks_block ul:not(.contextual-links) li a{
  background-color:#6d6e71;
}



.block-local_tasks_block ul:not(.contextual-links) li a {
    background-color: #efefef;
    color: #212529;
}

.block-local_tasks_block ul:not(.contextual-links) li a.is-active{
    background-color: #efefef;
    color: #ababab;
}

#block-tabs{
  margin-top:50px;
}

/* ------- Admin - LMS ------- */
body.admin-learning-path ul.step-list-top{
  margin-top:25px;
}

body.admin-learning-path ul.step-list-top li.active .number,
body.admin-learning-path ul.step-list-top li .number{
  background:none;
  border-color:gray;
}

body.admin-learning-path ul.step-list-top li .number{
  color:gray;
}

/* ------- Forms and Buttons ------- */
.faded-form-wrapper {
  padding:0;
  border-top:none;
  background-color:#fff;
}

/* Green Buttons */
.btn-success,
.bg-success,
.btn-primary,
body.admin-learning-path .step-list-aside-wrapper h2,
body.admin-learning-path .step-list-aside-wrapper ul.step-list-aside li:after,
body.lp-iframe input[type=checkbox]:checked, body.lp-iframe input[type=checkbox]:disabled:checked, 
body.lp-iframe input[type=radio]:checked, body.lp-iframe input[type=radio]:disabled:checked, 
input[type=checkbox]:checked, input[type=checkbox]:disabled:checked, input[type=radio]:checked, 
input[type=radio]:disabled:checked{
  background-color:#aab02e !important;
  border-color:#aab02e !important;
}

.btn-success:hover,
.btn-success:active,
.btn-primary:hover,
.btn-primary:active{
  background-color:#546422;
  color:#fff;
}

/* Yellow buttons */
.lp_progress_admin_continue,
.lp_progress_continue{
  background-color:#2e9fb0 !important;
  color:#fff !important;
}

.lp_progress_continue{
  background-image:none;
}


.faded-form-wrapper input[type=checkbox], 
.faded-form-wrapper input[type=radio] {
    /*background-color: #fff;*/
    border-color: gray;
}

.faded-form-wrapper .form-control{
  border:1px solid #ccc;
}

form .form-actions a.button#edit-submit, 
form .form-actions input[type=submit]#edit-submit {
    flex: 0;
}

form .form-actions a.button, 
form .form-actions input[type=submit] {
    padding: 5px 10px;
}

.faded-form-wrapper form .form-actions {
    margin-left: 0;
    margin-right: 0;
    margin-top: 26px;
}

.form-inline .form-actions{
  margin-top:25px;
}


.view-header a.button{
}

div.multiselect-available, 
div.multiselect-selected{
  width:210px !important;  
}



/* ------- Training LMS - End User ------- */
.group-opigno-course .col-md-4 .bg-primary{
  display:none;
}

/* ------- Views ------- */
.views-exposed-form{
    border: 1px solid #efefef;
    padding: 10px 20px;
    background-color: #efefef;
    margin:30px 0;
}

.views-exposed-form form .form-actions input[type=submit],
.views-exposed-form .btn-success{
  background-color:#aab02e !important;
  border:1px solid #aab02e !important;
}

.views-exposed-form form .form-actions input[type=submit]:hover,
.views-exposed-form .btn-success:hover{
  background-color:#f9c535 !important;
  border:1px solid #f9c535 !important;
}

.view-result-total-count{
  font-weight:bold;
  font-style:italic;
}

/* ------- User Form ------- */
#edit-user-picture-0--description{
  display:none; 
}

/* ------- Address Input Fields ------- */

/* ------- Field Group ------- */
/*.field-group-tab{
  border-left:1px solid #aab02e;
  border-right:1px solid #aab02e;
  border-bottom:1px solid #aab02e;
  margin-bottom:50px;
}

.field-group-tab summary{
  background-color: #aab02e;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
}

.field-group-tab .field--type-address summary{
  background-color:transparent;
  padding:0;
  color:inherit;
  text-transform:none;
  font-weight:bold;
  font-size:16px;
}

.field-group-tab .details-wrapper{
  padding-left:10px;
  padding-right:10px;
}
*/

/* ------- Other ------- */
.block-system_breadcrumb_block {
  margin-top:15px;
}