/* CSS for Reports (Drupal Views that list out data) */
#views-exposed-form-drc-all-drcs-page-1 #edit-field-org-church-sector-target-id{
	width:150px;
}
#view-field-user-position-interests-table-column{
	width:20%;
	max-width: 20%;
}
#view-field-user-training-interests-table-column{
	width: 25%;
	max-width: 25%;
}
.view-column-buttons .button{
	padding:0 5px !important;
	border:1px solid #c3c3c3 !important;
	font-size: 12px !important;
	white-space: nowrap;
	display: inline-block;
}
.view-column-buttons .button-first{
	margin-bottom: 10px;
}
.view-column-buttons .button.button-last{
	margin-bottom: none !important;
}
th#view-field-course-id-table-column{
  white-space: nowrap;	
}
.views-field-field-user-cell-phone {
	min-width: 8rem;
}

/* Global views buttons */
.view-filters .button {
	background-color: var(--drn-primary);
}
.view-filters .button:hover {
	background-color: var(--drn-primary-lighter);
}

/* Data export button */
.admin-report .views-data-export-feed .button {
	background-color: var(--drn-primary);
	color: var(--drn-light);	margin-bottom: 1rem;
}
.admin-report .views-data-export-feed .button:hover {
	background-color: var(--drn-neutral-light);
	color: var(--drn-neutral-dark);
}

/* Edit gear icon and menu */
.dropbutton-wrapper.dropbutton-single .dropbutton-widget {
	position: relative;
}
.dropbutton-wrapper .dropbutton-widget .btn-group.operations .dropdown-toggle,
.dropbutton-wrapper .dropbutton-widget .btn-group.operations .dropdown-toggle:active,
.dropbutton-wrapper .dropbutton-widget .btn-group.operations .dropdown-toggle:focus{
	background: unset;
	border: none;
	box-shadow: none;
}
.dropbutton-wrapper .dropbutton-widget .btn-group.operations .dropdown-toggle::after {
	content: "⚙";
	width: unset;
	height: unset;
	font-size: 2rem;
	color: var(--drn-neutral-dark);
}
.dropbutton-wrapper .dropbutton-widget .btn-group.operations .dropdown-menu a {
	display: block;
	padding: 0.3rem;
}
.dropbutton-wrapper .dropbutton-widget .btn-group.operations .dropdown-menu a:hover {
	background-color: var(--drn-neutral-lighter);
}

/* ======= ORGANIZATION AND USER REPORTS ========= */
.col-has-max-width.org-name,
.col-has-max-width.org-contacts{
	width:300px;
	max-width: 300px;
}

.col-has-max-width.org-full-address,
.col-has-max-width.email{
	width: 250px;
  max-width: 250px;
  /* 7/15=2021 - JFox commented out - this causes emails to be top aligned an throws off all the rows */
  /*overflow-wrap: anywhere;
  display: table;*/
}

.col-has-max-width.org-join-date,
.col-has-max-width.org-left-date{
	width:115px;
	max-width: 115px;
}

.col-has-max-width.phone{
	width:135px;
	max-width: 135px;
	white-space:nowrap;
}

.col-has-max-width.phone-with-label{
	width:167px;
	max-width: 167px;
	white-space:nowrap;
}
