/* =========== TRAINING - COURSE LISTING (/courses page) ============ */
#block-views-block-drn-course-catalog-block-1 .views-col img{
	width:100%;
}
.views-exposed-form  .form-item-field-training-iar-level-target-id{
  margin-right: 9px;
}
.views-exposed-form #edit-field-course-id-value,
.views-exposed-form #edit-field-learning-path-course-id-value,
.views-exposed-form #edit-id,
.views-exposed-form #edit-uid-raw {
  max-width:100px;
  margin-right: auto;
}
.course-image img{
  width: 100%;
  height: auto;
}
.course-image a{
  display: block;
}
.view-training-course-listing .course-box .course-info {
  padding: 1rem;
}
.view-training-course-listing .course-box .course-info .course-name {
  height: 3.5rem;
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 21px;
}
.view-training-course-listing .course-box .course-info .course-name a{
  color: var(--drn-dark);
}
.view-training-course-listing .course-box .course-info .course-description{
	height: 6rem;
  overflow: hidden;
}
.view-training-course-listing .course-box .course-info .course-buttons{
  margin-top: 20px;
}
.view-training-course-listing .course-box .course-info [class^="button-wrapper-"] a {
  display: block;
  width: 100%;
}

/* =========== MASTER TRAINING RECORD (some shared with Training Instances) ============ */
#training-options{
  margin-top: 50px;
}

.course-number{
  margin-top:5px;
}

.block-views_block-training_course_listing-block_1 .course-number{
  margin-top: 8px;
  font-size: 12px;
}

/* -- Training OnDemand Box -- */
.training-ondemand-options{
  background-color: #efefef;
    padding: 15px 15px 15px 15px;
    margin: 20px;
}

.training-ondemand-options .button{
    margin:10px 0 0 25px;
}

.training-ondemand-options td {
  border-top: none !important;
  padding:0 !important;
}

.training-instance-listing table td{
  vertical-align: middle;
}

/* -- Training Schedule - view shown on Training Master Record -- */
table.training-scheduled-options thead th{
    text-transform: none !important;
    color: #7d7d7d;
    font-size: 16px;
    border-top: none;
}

#view-date-daterange-table-column {
  width:160px;
  overflow: hidden;
}

#view-date-daterange-1-table-column{
   width:160px;
}

#views-field-training{
  width:160px;
}

.view-scheduled-trainings-for-course .views-field-description__value p{
  margin-bottom: 0;
}

/* =========== TRAINING - COURSE DETAIL AFTER ENROLLED  ============ */
.lp_progress_summary_score {/* Average Score (on Details page) */
  display: none;
}
#progress-bar .lp_progress_control .svg-inline--fa.fa-chevron-right{
    top: 25%;
    left: 40%;
    position: absolute;
}
#progress-bar .lp_progress_control .svg-inline--fa.fa-edit{
    top: 25%;
    left: 30%;
    position: absolute;
}
#progress-bar a.lp_progress_continue{
  background-image: none;
}
#progress-bar a.lp_progress_admin_continue,
#progress-bar a.lp_progress_continue,
form.opigno-answer-form input#edit-submit,
body.section-module .form-actions a.btn{
  border: none;
	background-color: var(--drn-accent);
	color: var(--drn-light);
  transition: background-color 300ms;
}
#progress-bar a.lp_progress_admin_continue:hover,
#progress-bar a.lp_progress_continue:hover,
form.opigno-answer-form input#edit-submit:hover,
body.section-module .form-actions a.btn:hover{
	background-color: var(--drn-neutral);
}
.lp_progress_summary_date {
  font-size: 18px;
}

.training-delivery-method-scheduled .lp_step_summary_details {
  display: none;
}

.training-content-for-enrolled-student #learning-path-right h2{
  font-size:18px; 
  line-height: 26px; 
  margin:0 0 10px 0;
}

body.section-module .container .container{
	width: 100%;
	padding:20px 0;
	margin:0;
}
a.start-link {
  background-color: #f9c535 !important;
  color: #fff !important;
}
a.start-link:hover {
  background-color: #aab02e !important;
  color: #fff !important;
}
.duration .value::after{
  content: " hours";
}
.course-number .field--name-field-course-id {
  display: inline-block;
}
.field-training-outline .label,
.field-learning-path-files .label,
.field-lp-price .label{
  border-top: 1px solid #e9e9e9;
  padding-top: 15px;
  margin-bottom: 10px;
  font-weight: 600;
  color:#221e1f;
}
.group-opigno-course .bg-light{
  background-color: #fff !important;
}

/* Files/Resources */
.field-learning-path-files .file a{
  padding:0 0 30px 25px;
  display: block;
}

.field-learning-path-files .file-size{
  display: none;
}


/* Join popup */
#join-group-form-wrapper {
  background-color: #e9e9e9;
  border:none;
  width:600px;
}
#join-group-form-wrapper button.close-overlay {
  display: none;
}
form#group-content-learning-path-group-membership-group-join-form::before{ 
  content:'Click “Join Training” to complete your enrollment. For Online - OnDemand trainings, you will be taken directly into the course. If you wish to start the course at a later time, your in-progess training will be stored in your Dashboard.'
}
form#group-content-learning-path-group-membership-group-join-form .button {
  display: inline-block;
}
form#group-content-learning-path-group-membership-group-join-form a.button{ 
	background-color: var(--drn-neutral-lighter);
	color: var(--drn-neutral-dark);
}
form#group-content-learning-path-group-membership-group-join-form a.button:hover {
	background-color: var(--drn-neutral);
	color: var(--drn-dark);
}



.section-training h1.page-title{
  display: none;
}

 .page-node-training_master_record h1.page-title{
  display: block;
 }

 .section-training h2.course-title{
  font-size: 22px;
  text-align: center;
 }
 .category{
  font-size: 13px;
 }

 .field-learning-path-course-id,
 .field-course-id,
 .field-training-iar-level, 
 .field-training-iar-level .content,
 #training-master-iar .value div{
  display: inline;
 }

 .learning-path-right,
 .learning-path-right p {
    font-size: 15px;
    line-height: 23px;
 }

 h2.title-above-progress-bar{
    font-size: 22px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: block;
    width: 100%;
 }


#learning_path_left h3{
  font-size: 14px;
}

 .lp_step_content,
 .lp_step_summary{
  background-color: none;
  padding:0;
 }

.lp_tabs.nav.mb-4{
  display: none;
}

.lp_step{
background-color: white;
}

.lp_step_summary {
  border:2px solid #efefef;
}

.lp_step_summary_description {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

h3.lp_step_summary_title{
  font-size: 18px;
  text-transform: none;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100%;
  background-color: #efefef;
  padding: 5px;
  display: block;
  border-bottom: 3px solid #2e9fb0;

}

table.lp_step_summary_details th,
table.lp_step_summary_details td{
  font-size: 14px;
  width: 50%;
}
table.lp_step_summary_details td:hover{
  background-color: white;
}
.lp_step_summary_details th{
  font-style: normal;
  font-weight: normal !important;
  text-transform: none;
}
.lp_step_summary_details {
  margin:20px 0 0 20px;
}
table.lp_step_summary_details thead th {
  border-bottom: 1px solid #efefef;
  border-top: none;
  padding:15px 15px 0 15px;
}
table.lp_step_summary_details td {
  border-bottom: none;
  border-top: none;
}
.lp_step_summary_details tr:hover {
  background-color: unset !important;
}
.lp_title_and_image span,
.lp_title_and_image .field-learning-path-media-image,
.lp_title_and_image h2{
  display: inline;
}

.lp_title_and_image img{
  width: 70px;
  margin-bottom: 10px;
}

.lp_title_and_image{
    width: 100%;
    margin-bottom: 20px;
}

.lp_progress{
  margin-bottom: 30px;
}

.lp_step_summary_title_wrapper{
  display: block;
}

/* --- Open Ended Questions ---- */
.h5p-questionnaire-progress-bar{
  background-color: #efefef;
}

.h5p-questionnaire-progress-bar-current{
  background-color: #f9c535;
}


.h5p-open-ended-question-question,
.h5p-questionnaire-footer,
.h5p-simple-multiple-choice-question,
.h5p-questionnaire-submit-screen {
  background-color: #fff;
  color:#2e2e2e;
  border:none;
}

.h5p-questionnaire-submit-screen{
  padding:50px 0;
}

.h5p-questionnaire-progress-bar-widget:before{
  display: none;
}

.h5p-questionnaire-progress-bar-widget-current {
  color:#f9c535;
}

.h5p-questionnaire-progress-bar-widget{
  border:2px solid #f9c535;
}

.h5p-questionnaire-footer .h5p-questionnaire-button.next,
.h5p-questionnaire-footer .h5p-questionnaire-button.previous,
.h5p-questionnaire-button.submit {
    background-color: #f9c535;
    text-transform: none;
    font-family: arial;
    border:none;
}

.h5p-questionnaire-button.submit:hover{
  background-color:#2e9fb0;
}

.h5p-questionnaire-submit-screen .h5p-questionnaire-button.previous{
  background-color:#efefef;
  color:darkgrey;
  border:none;
  text-transform: none;
  font-family: arial;
}

.h5p-questionnaire-success{
  background-color:#2e9fb0;
}

.opigno-answer-opigno-long-answer-form label{
  margin-top: 30px;
  margin-bottom: 15px;
  display: block;
  float: none;
  width: 100%;
  display: none;
}

.section-module form .form-wrapper>.js-text-format-wrapper{
  margin-left:0;
}

/* hide text format instuctions for wysiwyg */
#edit-opigno-body-0-format{
  display: none;
}

/* =========== ILTs, Prerequisite Warning  ============ */
.ilt-banner,
.section-training .alert-warning {
    background-color: #fff;
    color: #221e1f;
    font-size: 16px;
    padding: 50px 0;
    text-align: center;
    border: 10px solid #f9c535;
    font-size: 18px;
    max-width: 1080px;
    margin: 0 auto 50px auto;
}

.section-training .message-wrapper{
  width: 100%;
}

.section-training .message-wrapper .icon-close{
  margin-right: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    font-size: 10px;
}

.ilt-banner-text::before {
    display: inline-block;
    background-image: none;
    width: auto;
    height: auto;
    margin-right: 0;
    vertical-align: middle;
}

.ilt-banner em{
  font-style: normal;
  font-weight: 800;
}


/* =========== TRAINING - MODULES AND ACTIVITES (taking the training)  ============ */

/* hide text */
.opigno_activity .field--name-created, /* Certificate Uploads */
label#edit-opigno-file-0--label, /* Certificate Uploads */
.lp_steps_block_summary_score, /* Average score : 0% */
.fullscreen.section-module #sidebar-nav, /* sidebar when full screen */
.fullscreen.section-module #footer-block, /* footer when full screen */
.lp_tabs_link, /*documents library tab (but maybe others that we actually need!)*/
.lp_tabs,
body.section-module .block-lp_steps_block, /*the detailed progress when you are in an activity */
table.lp_steps_block_table thead,
table.lp_steps_block_table td:nth-child(2){
  display: none;
}

body.fullscreen.section-module #main.flex-item{
  padding-top: 0;
  margin-top: 75px;
}

body.section-module.fullscreen .container{
  padding:50px;
}

.lp_steps_block {
  margin-top: 25px;
}
.lp_steps_block_table td:nth-child(2) {
  text-align: left;
}

.field--name-opigno-h5p .label{
  display: none;
}

.opigno_activity .field--label-above .label {
  display: none;
}

.opigno_activity .name.field.field--name-name.field--type-string.field--label-above {
  display: none;
}


/* container for Back and Next buttons */
body.section-module .form-actions {
    border-top: none;
    background: none;
    margin-top: 25px;
    text-align: right;
}
.opigno_activity{
    border-right: 3px solid #e9e9e9;
    border-bottom: 3px solid #e9e9e9;
    border-left: 3px solid #e9e9e9;
    padding: 20px;
}

/* Activity */
body.section-module.section-group h1.page-title {
    background-color: #f6f6f6;
    padding: 5px 15px;
    border-bottom: 3px solid #2e9fb0 !important;
    font-size: 22px !important;
    margin-bottom: 0 !important;
    text-align: right;
    color: #B3B3B4 !important;
    font-weight: 400 !important;
}

.field--name-field-activity-display-name{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin: 20px 0 10px 0;
}

.field-activity-text-above {
  margin-bottom: 30px;
}

.field-activity-text-above iframe,
.field-external-video iframe {
  width: 100%;
}

.field-activity-video-length {
  margin-top: 30px;
}

.field-activity-video-length .label{
  margin-right: 5px;
}

.field-activity-text-below {
  margin-top: 20px;
}


/* file upload */
.opigno-file-widget-wrapper {
  width:500px;
  margin:20px auto;
}


/* --- Progress Bars ---- */
body.section-module .lp_progress_wrapper .lp_progress {
    padding: 18px 70px;
    background-color: var(--drn-neutral-lighter);
    width: 100%;
    color: var(--drn-neutral);
}
.lp_progress_bar_completed,
.lp_step_result_bar_value,
body.section-module .lp_progress_wrapper .lp_progress .lp_progress_bar .lp_progress_bar_completed{
  height: 5px;
  background-color: var(--drn-accent);
}
.lp_progress_wrapper{
  margin-top: 30px;
}
body.section-module .lp_progress_wrapper .lp_progress .lp_progress_label {
    display: inline-block;
    font-style: italic;
    margin-bottom: 6px;
}
body.section-module .lp_progress_wrapper .lp_progress .lp_progress_value {
    float: right;
}
body.section-module .lp_progress_wrapper .lp_progress .lp_progress_bar {
    background-color: var(--drn-light);
    display: block;
    height: 5px;
    width: 100%;
}

/* ---- Quizzes ----- */
.h5p-joubelui-button:first-child:last-child,
.h5p-question .h5p-question-prev, 
.h5p-question .h5p-question-next,
.h5p-joubelui-button, 
.h5peditor 
.h5p-joubelui-button, 
.h5peditor .ui-dialog .h5p-joubelui-button{
  background-color:#f9c535;
  color:#2e2e2e;
}

.h5p-joubelui-button:first-child:last-child:hover,
.h5p-question .h5p-question-prev:hover, 
.h5p-question .h5p-question-next:hover,
.h5p-joubelui-button:hover, 
.h5peditor .h5p-joubelui-button:hover, 
.h5peditor .ui-dialog .h5p-joubelui-button:hover{
  background-color: #2e9fb0;
  color:#fff; 
}

.progress-dot.current{
  background-color:#f9c535;
}

.h5p-multichoice .h5p-alternative-container{
  border-radius: none;
  border:none;
  box-shadow:none;
  margin-bottom: 20px;
  background-color: #fff;
}

.progress-dot.answered{
  background-color: #f6f6f6;
}


