/* ---- ADD ALL USER PROFILE, USER DASHBOARD, USER SETTINGS STYLES HERE ---- */


/* ================================================================================ */
/* ============= USER FORMS: Login, Create Account, Recover Password ============== */
/* ================================================================================ */
body.page-user-login header#site-header,
body.page-user-register header#site-header,
body.page-user-password header#site-header{
	border-bottom: none; /*remove border under site-header */
}
#register-intro-text a {
	text-decoration: none !important;
}
.page-user-login label.form-required::after,
.page-user-register label.form-required::after,
.page-user-password label.form-required::after{
	background-color: white;
	padding:0 0;
}
form.user-pass-reset{
	text-align: center !important;
}


/* ==================================================== */
/* ============= EDIT USER PROFILE SCREEN ============= */
/* ==================================================== */
/* HAM callsign - force to uppercase and make field short since it's limited to 6 characters in the field definition */
#edit-field-user-ham-callsign-0-value {
	text-transform: uppercase;
	width: 90px;
}

#edit-field-response-roles-complete-add-more,
#edit-field-response-roles-in-progress-add-more {
	display: none;
}

#edit-field-availability h5,
#edit-field-availability p strong {
	font-size: 1rem;
    font-weight: 900;
    word-wrap: break-word;
    color: var(--drn-neutral-dark);
}

/* ========================================== */
/* ============= USER DASHBOARD ============= */
/* ========================================== */
#user--dashboard.container {
	padding-right: 0;
	padding-left: 0;
	width:1160px;
	max-width: 1160px;
}

/* Hide default page title */
.page-dashboard .block-page_title_block{
	display:none;
}

#dashboard-notice{
	background-color:#f5f5f5;
	color:#6d6e71;
	padding:15px;
	margin-bottom: 25px;
}

#dashboard-notice p{
	margin:0;
	padding:0;
}

#dashboard-notice .text-red{
	color:#9b1616;
	font-weight: bold;
}

.dashboard-box-section{
	border-bottom: 2px solid #e9e9e9;
	padding-bottom: 20px;
	margin-bottom: 25px;
}

.dashboard-box-section.last{
	border-bottom: none;
	margin-bottom: 0;	
}

.dashboard-box-section h4{
	color:#000000;
	font-weight: 600;
	text-decoration: none;
	text-transform: none;
}

.dashboard-box-heading{
	background-color:#f5f5f5;
	padding:20px;
	font-size: 20px;
	font-weight: 600;
	display: block;
	min-height: 80px;
}

.dashboard-box-heading::after{
	clear: both;
}

.dashboard-box-heading .helper-text {
	font-size: 14px;
	font-weight: 400;
}

.user-edit-link{
    font-weight: 600;
	font-size: 16px;
}

.add-interests-link,
.edit-interests-link{
	margin-top: 10px;
	margin-left: 15px;
	font-weight: bold;
}

.edit-interests-link{
	font-size: 14px; /* make it a little smaller for the Edit vs. the Add */
}
.dashboard-box-content{
	padding:20px;
	color:#6d6e71;
	font-size: 16px;
	font-weight: 400;
}

.dashboard-box-content label{
	font-weight: 600;
}

.dashboard-box-content .subtitle {
    color: #221e1f;
    font-weight: bold;
    margin-bottom: 10px;
}
.dashboard-box-content thead th {
    border-bottom: 3px solid var(--drn-accent);
}
.subtitle-with-background{
	background-color:#f5f5f5;
}
.user-photo .picto{
	height: 115px;
    width: 115px;
    border: none;
    display: block;
	border-radius: 100%;
	background-color: white;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
	margin: -50px auto 20px auto;
	box-shadow: 0px 1px 1px #ccc;
}
.user-photo .picto{
    background-image: url(../../images/user-profile-pic-default.png);
}
.user-full-name{
	color:#221e1f;
	font-size: 26px;
}
.user-title{
	color:#6d6e71;
	font-weight: 600;
	font-size: 22px;
}

.dashboard-box-content thead th{
	text-transform: none !important;
	color:#7d7d7d;
	font-size: 16px;
	border-top: none;
}

/* hide some of the field labels */
.field--name-field-user-organization .label {
	display: none;
}

.field-availability-times,
.field-user-language-proficiency{
	margin-left:20px;
	list-style-image: circle;
	list-style: circle;
}
/* Circle progress bars */
.progress-circle {
	font-size: 20px;
	margin: 20px;
	position: relative; /* so that children can be absolutely positioned */
	padding: 0;
	width: 6em;
	height: 6em;
	background-color: #c3c3c3; 
	border-radius: 50%;
	line-height: 6em;
 }
 .progress-circle:after{
	 border: none;
	 position: absolute;
	 top: 1em;
	 left: 1em;
	 text-align: center;
	 display: block;
	 border-radius: 50%;
	 width: 4em;
	 height: 4em;
	 background-color: white;
	 content: " ";
 }
 /* Text inside the control */
 .progress-circle span {
	 position: absolute;
	 line-height: 6em;
	 width: 6em;
	 text-align: center;
	 display: block;
	 color: var(--drn-accent);
	 z-index: 2;
 }
 .progress-circle.per0 span{
	 color: #c3c3c3;
 }
 .left-half-clipper { 
	/* a round circle */
	border-radius: 50%;
	width: 6em;
	height: 6em;
	position: absolute; /* needed for clipping */
	clip: rect(0, 6em, 6em, 3em); /* clips the whole left half*/ 
 }
 /* when p>50, don't clip left half*/
 .progress-circle.over50 .left-half-clipper {
	clip: rect(auto,auto,auto,auto);
 }
 .value-bar {
	/*This is an overlayed square, that is made round with the border radius,
	then it is cut to display only the left half, then rotated clockwise
	to escape the outer clipping path.*/ 
	position: absolute; /*needed for clipping*/
	clip: rect(0, 3em, 6em, 0);
	width: 6em;
	height: 6em;
	border-radius: 50%;
	border: 1em solid var(--drn-accent); /*The border is 0.35 but making it larger removes visual artifacts */
	/*background-color: #4D642D;*/ /* for debug */
	box-sizing: border-box;
 }
 /* Progress bar filling the whole right half for values above 50% */
 .progress-circle.over50 .first50-bar {
	/*Progress bar for the first 50%, filling the whole right half*/
	position: absolute; /*needed for clipping*/
	clip: rect(0, 6em, 6em, 3em);
	background-color: var(--drn-accent);
	border-radius: 50%;
	width: 6em;
	height: 6em;
 }
 .progress-circle:not(.over50) .first50-bar{ display: none; }
 
 /* Progress bar rotation position */
 .progress-circle.per0 .value-bar { display: none; }
 .progress-circle.per1 .value-bar { transform: rotate(4deg); }
 .progress-circle.per2 .value-bar { transform: rotate(7deg); }
 .progress-circle.per3 .value-bar { transform: rotate(11deg); }
 .progress-circle.per4 .value-bar { transform: rotate(14deg); }
 .progress-circle.per5 .value-bar { transform: rotate(18deg); }
 .progress-circle.per6 .value-bar { transform: rotate(22deg); }
 .progress-circle.per7 .value-bar { transform: rotate(25deg); }
 .progress-circle.per8 .value-bar { transform: rotate(29deg); }
 .progress-circle.per9 .value-bar { transform: rotate(32deg); }
 .progress-circle.per10 .value-bar { transform: rotate(36deg); }
 .progress-circle.per11 .value-bar { transform: rotate(40deg); }
 .progress-circle.per12 .value-bar { transform: rotate(43deg); }
 .progress-circle.per13 .value-bar { transform: rotate(47deg); }
 .progress-circle.per14 .value-bar { transform: rotate(50deg); }
 .progress-circle.per15 .value-bar { transform: rotate(54deg); }
 .progress-circle.per16 .value-bar { transform: rotate(58deg); }
 .progress-circle.per17 .value-bar { transform: rotate(61deg); }
 .progress-circle.per18 .value-bar { transform: rotate(65deg); }
 .progress-circle.per19 .value-bar { transform: rotate(68deg); }
 .progress-circle.per20 .value-bar { transform: rotate(72deg); }
 .progress-circle.per21 .value-bar { transform: rotate(76deg); }
 .progress-circle.per22 .value-bar { transform: rotate(79deg); }
 .progress-circle.per23 .value-bar { transform: rotate(83deg); }
 .progress-circle.per24 .value-bar { transform: rotate(86deg); }
 .progress-circle.per25 .value-bar { transform: rotate(90deg); }
 .progress-circle.per26 .value-bar { transform: rotate(94deg); }
 .progress-circle.per27 .value-bar { transform: rotate(97deg); }
 .progress-circle.per28 .value-bar { transform: rotate(101deg); }
 .progress-circle.per29 .value-bar { transform: rotate(104deg); }
 .progress-circle.per30 .value-bar { transform: rotate(108deg); }
 .progress-circle.per31 .value-bar { transform: rotate(112deg); }
 .progress-circle.per32 .value-bar { transform: rotate(115deg); }
 .progress-circle.per33 .value-bar { transform: rotate(119deg); }
 .progress-circle.per34 .value-bar { transform: rotate(122deg); }
 .progress-circle.per35 .value-bar { transform: rotate(126deg); }
 .progress-circle.per36 .value-bar { transform: rotate(130deg); }
 .progress-circle.per37 .value-bar { transform: rotate(133deg); }
 .progress-circle.per38 .value-bar { transform: rotate(137deg); }
 .progress-circle.per39 .value-bar { transform: rotate(140deg); }
 .progress-circle.per40 .value-bar { transform: rotate(144deg); }
 .progress-circle.per41 .value-bar { transform: rotate(148deg); }
 .progress-circle.per42 .value-bar { transform: rotate(151deg); }
 .progress-circle.per43 .value-bar { transform: rotate(155deg); }
 .progress-circle.per44 .value-bar { transform: rotate(158deg); }
 .progress-circle.per45 .value-bar { transform: rotate(162deg); }
 .progress-circle.per46 .value-bar { transform: rotate(166deg); }
 .progress-circle.per47 .value-bar { transform: rotate(169deg); }
 .progress-circle.per48 .value-bar { transform: rotate(173deg); }
 .progress-circle.per49 .value-bar { transform: rotate(176deg); }
 .progress-circle.per50 .value-bar { transform: rotate(180deg); }
 .progress-circle.per51 .value-bar { transform: rotate(184deg); }
 .progress-circle.per52 .value-bar { transform: rotate(187deg); }
 .progress-circle.per53 .value-bar { transform: rotate(191deg); }
 .progress-circle.per54 .value-bar { transform: rotate(194deg); }
 .progress-circle.per55 .value-bar { transform: rotate(198deg); }
 .progress-circle.per56 .value-bar { transform: rotate(202deg); }
 .progress-circle.per57 .value-bar { transform: rotate(205deg); }
 .progress-circle.per58 .value-bar { transform: rotate(209deg); }
 .progress-circle.per59 .value-bar { transform: rotate(212deg); }
 .progress-circle.per60 .value-bar { transform: rotate(216deg); }
 .progress-circle.per61 .value-bar { transform: rotate(220deg); }
 .progress-circle.per62 .value-bar { transform: rotate(223deg); }
 .progress-circle.per63 .value-bar { transform: rotate(227deg); }
 .progress-circle.per64 .value-bar { transform: rotate(230deg); }
 .progress-circle.per65 .value-bar { transform: rotate(234deg); }
 .progress-circle.per66 .value-bar { transform: rotate(238deg); }
 .progress-circle.per67 .value-bar { transform: rotate(241deg); }
 .progress-circle.per68 .value-bar { transform: rotate(245deg); }
 .progress-circle.per69 .value-bar { transform: rotate(248deg); }
 .progress-circle.per70 .value-bar { transform: rotate(252deg); }
 .progress-circle.per71 .value-bar { transform: rotate(256deg); }
 .progress-circle.per72 .value-bar { transform: rotate(259deg); }
 .progress-circle.per73 .value-bar { transform: rotate(263deg); }
 .progress-circle.per74 .value-bar { transform: rotate(266deg); }
 .progress-circle.per75 .value-bar { transform: rotate(270deg); }
 .progress-circle.per76 .value-bar { transform: rotate(274deg); }
 .progress-circle.per77 .value-bar { transform: rotate(277deg); }
 .progress-circle.per78 .value-bar { transform: rotate(281deg); }
 .progress-circle.per79 .value-bar { transform: rotate(284deg); }
 .progress-circle.per80 .value-bar { transform: rotate(288deg); }
 .progress-circle.per81 .value-bar { transform: rotate(292deg); }
 .progress-circle.per82 .value-bar { transform: rotate(295deg); }
 .progress-circle.per83 .value-bar { transform: rotate(299deg); }
 .progress-circle.per84 .value-bar { transform: rotate(302deg); }
 .progress-circle.per85 .value-bar { transform: rotate(306deg); }
 .progress-circle.per86 .value-bar { transform: rotate(310deg); }
 .progress-circle.per87 .value-bar { transform: rotate(313deg); }
 .progress-circle.per88 .value-bar { transform: rotate(317deg); }
 .progress-circle.per89 .value-bar { transform: rotate(320deg); }
 .progress-circle.per90 .value-bar { transform: rotate(324deg); }
 .progress-circle.per91 .value-bar { transform: rotate(328deg); }
 .progress-circle.per92 .value-bar { transform: rotate(331deg); }
 .progress-circle.per93 .value-bar { transform: rotate(335deg); }
 .progress-circle.per94 .value-bar { transform: rotate(338deg); }
 .progress-circle.per95 .value-bar { transform: rotate(342deg); }
 .progress-circle.per96 .value-bar { transform: rotate(346deg); }
 .progress-circle.per97 .value-bar { transform: rotate(349deg); }
 .progress-circle.per98 .value-bar { transform: rotate(353deg); }
 .progress-circle.per99 .value-bar { transform: rotate(356deg); }
 .progress-circle.per100 .value-bar { transform: rotate(360deg); }

/* My Training */
table#user-dashboard-training-in-progress .table-col-1 th{
	width:55%;
}
table#user-dashboard-training-in-progress .table-col-2{
	width:15%;
	text-align: center;
}
table#user-dashboard-training-in-progress .table-col-3{
	width:30%;
	text-align: right;
}
table#user-dashboard-training-completed .table-col-1{
	width:75%;
}
table#user-dashboard-training-completed .table-col-2{
	width:25%;
	text-align: right;
}
table#user-dashboard-training-in-progress .user-dashboard-training-in-progress-buttons a{
	width:100%;
	display: block;
	text-align: center !important;
}

/* Document Uploads */
.doc_upload_item{
	margin:5px 0 10px 0;
}

.doc_upload_item_type{
	font-weight:600;
	line-height:16px;
}

.doc_upload_item_url{
	font-size:14px;
}

/* ========================================== */
/* =========== USER ADMIN SCREENS =========== */
/* ========================================== */
.path-user #block-adrn-local-tasks li a{
	/*display: none;*/ /* JULIE - PUT BACK! */
	border:none;
	color:blue;
	text-decoration: underline;
}
