/* ======== COLOR PALLETE ======= */
/*
green: #aab02e;
yellow: #f9c535;
gray-light: #f5f5f5;
gray-medium:#e9e9e9
gray-medium-dark: #ededed;
gray-dark: #6d6e71;
white: #ffffff;
black-ish: #221e1f;
blue: #22578d;

gray buttons: #b5b5b5;

gray separator: #c3c3c3;
gray border: #c3c3c3;

teal: #2e9fb0;
*/

/* ======== Gradients ======= */
/*
Gray - light to dark:
#ebebeb -> #d3d3d3;

white to very faint gray
#ffffff -> #f5f5f5;

*/

/* ======== Fonts ======= */
/*
font-family: 'Source Sans Pro' (default)
font-family: 'Bitter'
font-family: 'Open Sans'
*/

:root {
    --drn-primary: #61428f;
    --drn-primary-lighter: #7952b3;
    --drn-secondary: #ffe484;
    --drn-secondary-darker: #e6cc77;
    --drn-accent: #0d6efd;
    --drn-light: #ffffff;
    --drn-dark: #000000;
    --drn-neutral: #f8f9fa;
    --drn-neutral-light: #fafcfc;
    --drn-neutral-lighter: #fcffff;
    --drn-neutral-dark: #6c757d;
    --drn-link: #0d6efd;
    --drn-link-hover: #0a58ca;
}
