/* --------------------- */
/*        Header         */
/* --------------------- */



/* --------------------- */
/*        Footer         */
/* --------------------- */
#footer-link-to-main-site a{
	font-size:15px;
}



/* --------------------- */
/*          Home         */
/* --------------------- */
#home-main-banner p em{
	margin-top: 30px;
	display: block;
}

#home-main-banner .button {
	margin-top: 20px;
}

#home-scripture #scripture-img {
    background-image: url('../../images/home-page/bkg-home-scripture-section.png');
}