:root {
    --drn-primary: #0c5c96;
    --drn-primary-lighter: #4ecac2;
    --drn-secondary: #788f1e;
    --drn-secondary-darker: #f58020;
    --drn-accent: #f58020;
    --drn-light: #ffffff;
    --drn-dark: #000000;
    --drn-neutral: #aaaaaa;
    --drn-neutral-light: #cccccc;
    --drn-neutral-lighter: #dddddd;
    --drn-neutral-dark: #666666;
    --drn-link: #788f1e;
    --drn-link-hover: #f58020;
}
