 <!-- GET IN TOUCH - NEWSLETTER SIGNUP
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="bkg-medium-gray">
    <div class="container padding-top-50 padding-bottom-50 align-center" id="newsletter-block">
      <div class="row">
        <div class="column col-lg-12">

          <h2>Get In Touch</h2>

          <p>Sign up for our newsletter to receive the latest updates on disaster deployments, training, and volunteer opportunities.</p>

          <div class="newsletter-form">
              <label>Email Address</label>
              <div class="newsletter-form-inputs">
                <span class="newsletter-form-inputs-text-field">&nbsp;</span>
                <span class="newseltter-form-inputs-button"><a href="" class="button button-secondary">Subscribe</a></span>
              </div>
              
          </div>

        </div><!-- /column -->
      </div><!-- /row -->
    </div><!-- /container #home-what-we-do -->
  </div>
<!-- END: _newsletter.html.erb -->
  <!-- END: render newsletter -->