<!-- START: block-welcomenewuser.html.twig -->
<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <!-- <h2{{ title_attributes }}>{{ label }}</h2> -->
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <style>
      #block-welcome-new-user-text{
          background-color: #f5f5f5;
          color: #6d6e71;
          padding: 15px;
    }

    strong{
      font-weight:600;
    }
    </style>
  	<div id="block-welcome-new-user-text" class="margin-bottom-25">
  		<div class="dashboard-box-content">
		    <h5 style="color: #221e1f; line-height: 27px; margin-bottom: 18px;">Welcome to ADRN Volunteer Portal!</h5>
        <p>If you're a new volunteer or haven't visited in a while please update your account by completing the following steps.</p>
			<p><strong>STEP 1:</strong>&nbsp;&nbsp;<a href="/user/{{ loggedin_user_id }}/edit">Complete your User Profile <i class="fas fa-arrow-circle-right"></i></a></p>
			<p><strong>STEP 2:</strong>&nbsp;&nbsp;<a href="/group/1">Enroll in and complete Basic Training <i class="fas fa-arrow-circle-right"></i></a></p>	
		</div>
	</div>					
  {% endblock %}
</div>
<!-- START: block-welcomenewuser.html.twig -->