<article class="container-fluid" id="iar-wrapper">
    <section class="row mt-4">
        <article class="col-md-auto p-0">
            <p>Description TBD</p>
        </article>
        <article class="col-sm-auto ml-auto">
            <section class="row">
                <article class="col-6">
                    <h3 class="m-4 text-center">{{ org_name }}</h3>
                </article>
                <article class="col-4 bkg-light-gray">
                    <p class="m-3 text-center text-semibold">Level Status</p>
                </article>
                <article class="col-2">
                    <p class="m-4 text-center text-semibold">{{ org_lsc_level }}</p>
                </article>
            </section>
        </article>
    </section>
    <section class="row mt-5">
        <article class="col p-0">
            <ul class="nav nav-tabs" id="iar-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="level-one-link" data-toggle="tab" href="#level-one-tab" role="tab" aria-controls="level-one" aria-selected="true" style="font-size: 0.9rem;">Level 1 - Commitment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="level-two-link" data-toggle="tab" href="#level-two-tab" role="tab" aria-controls="level-two" aria-selected="false" style="font-size: 0.9rem;">Level 2 - Church Leadership</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="level-three-link" data-toggle="tab" href="#level-three-tab" role="tab" aria-controls="level-three" aria-selected="false" style="font-size: 0.9rem;">Level 3 - Congregation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="level-four-link" data-toggle="tab" href="#level-four-tab" role="tab" aria-controls="level-four" aria-selected="false" style="font-size: 0.9rem;">Level 4 - Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="level-five-link" data-toggle="tab" href="#level-five-tab" role="tab" aria-controls="level-five" aria-selected="false" style="font-size: 0.9rem;">Level 5 - Catastrophic Ready</a>
                </li>
            </ul>

            <div class="tab-content" id="iar-tab-content">
                <div class="tab-pane fade show active" id="level-one-tab" role="tabpanel" aria-labelledby="level-one-tab">
                    <section class="row pt-4">
                        <article class="col-lg-5 mt-3">
                            <h2>Commitment Ready</h2>
                            <p>Description TBD</p>
                        </article>
                        <article class="col-lg-7" style="border-left: 1px solid gray;">
                            <h3>Leading</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[1]["leading"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Planning</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[1]["planning"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Equipping</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[1]["equipping"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Resourcing</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[1]["resourcing"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Mobilizing</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[1]["mobilizing"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </article>
                    </section>
                </div>
                <div class="tab-pane fade" id="level-two-tab" role="tabpanel" aria-labelledby="level-two-tab">
                    <section class="row pt-4">
                        <article class="col-lg-5 mt-3">
                            <h2>Church Leadership Ready</h2>
                            <p>Description TBD</p>
                        </article>
                        <article class="col-lg-7" style="border-left: 1px solid gray;">
                            <h3>Leading</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[2]["leading"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Planning</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[2]["planning"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Equipping</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[2]["equipping"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Resourcing</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[2]["resourcing"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Mobilizing</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[2]["mobilizing"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </article>
                    </section>
                </div>
                <div class="tab-pane fade" id="level-three-tab" role="tabpanel" aria-labelledby="level-three-tab">
                    
                    <section class="row pt-4">
                        <article class="col-lg-5 mt-3">
                            <h2>Congregation Ready</h2>
                            <p>Description TBD</p>
                        </article>
                        <article class="col-lg-7" style="border-left: 1px solid gray;">
                            <h3>Leading</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[3]["leading"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Planning</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[3]["planning"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Equipping</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[3]["equipping"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Resourcing</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[3]["resourcing"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Mobilizing</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[3]["mobilizing"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </article>
                    </section>
                </div>
                <div class="tab-pane fade" id="level-four-tab" role="tabpanel" aria-labelledby="level-four-tab">
                    <section class="row pt-4">
                        <article class="col-lg-5 mt-3">
                            <h2>Community Ready</h2>
                            <p>Description TBD</p>
                        </article>
                        <article class="col-lg-7" style="border-left: 1px solid gray;">
                            <h3>Leading</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[4]["leading"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Planning</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[4]["planning"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Equipping</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[4]["equipping"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Resourcing</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[4]["resourcing"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Mobilizing</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[4]["mobilizing"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </article>
                    </section>
                </div>
                <div class="tab-pane fade" id="level-five-tab" role="tabpanel" aria-labelledby="level-five-tab">
                    <section class="row pt-4">
                        <article class="col-lg-5 mt-3">
                            <h2>Catastrophic Ready</h2>
                            <p>Description TBD</p>
                        </article>
                        <article class="col-lg-7" style="border-left: 1px solid gray;">
                            <h3>Leading</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[5]["leading"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Planning</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[5]["planning"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Equipping</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[5]["equipping"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Resourcing</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[5]["resourcing"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3>Mobilizing</h3>
                            <table class="table table-sm table-striped">
                                <tbody>
                                    {% for d in org_lsc_data[5]["mobilizing"] %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" {{ (d.checked) ? 'checked="checked"' : '' }} disabled>
                                                <label>{{ d.name }}</label>
                                                {% if d.notes %}
                                                    <br>
                                                    <label class="ml-4" style="font-size: 0.75rem">({{ d.notes }})</label>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr><td>n/a</td><tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </article>
                    </section>
                </div>
            </div>
        </article>
    </section>
</article>
