<section class="row mx-2 mb-4 p-0 box-with-dropshadow-border">
    <article class="col">
        <section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
            <article class="col-12 col-lg-6 pl-0 py-2">
                <h3>Life Sustaining Church Status</h3>
            </article>
            <article class="col-12 col-lg-6 pr-0 py-2 text-right">
            </article>
        </section>
        <section class="row justify-content-center p-3">
            {% for key, lvl in sector_lsc_levels %}
                <article class="col-shrink mx-2">
                    <div class="progress-circle mx-auto my-2 per{{ lvl }}{% if lvl > 50 %} over50{% endif %}">
                        <span>{{ lvl }}%</span>
                        <div class="left-half-clipper">
                            <div class="first50-bar"></div>
                            <div class="value-bar"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <p class="mb-0">% at Level {{ key }}</p>
                    </div>
                </article>
            {% endfor %}
        </section>
    </article>
</section>
<section class="row">
    <article class="col-12 col-lg-6 p-2 pr-lg-3">
        <section class="row mb-4 box-with-dropshadow-border">
            <article class="col">
                <section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
                    <article class="col-12 col-lg-6 pl-0 py-2">
                        <h3>Sector Information</h3>
                    </article>
                    <article class="col-12 col-lg-6 pr-0 py-2 text-right">
                        <a href="/node/{{ sector_id }}/edit" class="font-weight-bold">Edit</a>
                    </article>
                </section>
                <section class="row p-3">
                    <article class="col">
                        <div class="mt-2"><label>Sector IMT Established:</label> {{ sector_imt is empty ? "N/A" : sector_imt | date("m/d/Y") }}</div>
                        <div class="mt-2"><label>Pastoral Steering Committee Identified: </label> {{ sector_pastoral is empty ? "N/A" : sector_pastoral | date("m/d/Y") }}</div>
                        <div class="mt-2"><label>Community Disaster Ready Assessment Completed: </label> {{ sector_community is empty ? "N/A" : sector_community | date("m/d/Y") }}</div>
                        <div class="mt-2"><label>Community Disaster Ready Assessment: </label> {% if sector_community_file %}<a href="{{ sector_community_file }}" download>Download File</a>{% else %}N/A{% endif %}</div>
                        <div class="mt-2"><label>Last Catastrophic Simulation: </label> {{ sector_simulation is empty ? "N/A" : sector_simulation | date("m/d/Y") }}</div>
                        <div class="mt-2"><label>Catastrophic Ready Plan Completed: </label> {{ sector_catastrophic is empty ? "N/A" : sector_catastrophic | date("m/d/Y") }}</div>
                        <div class="mt-2"><label>Catastrophic Ready Plan: </label> {% if sector_catastrophic_file %}<a href="{{ sector_catastrophic_file }}" download>Download File</a>{% else %}N/A{% endif %}</div>
                    </article>
                </section>
            </article>
        </section>
    </article>
    <article class="col-12 col-lg-6 p-2 pl-lg-3">
        <section class="row mb-4 box-with-dropshadow-border">
            <article class="col">
                <section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
                    <article class="col-12 col-lg-6 pl-0 py-2">
                        <h3>Contacts</h3>
                    </article>
                    <article class="col-12 col-lg-6 pr-0 py-2 text-right">
                        <a href="/node/{{ sector_id }}/edit" class="font-weight-bold">Edit</a>
                    </article>
                </section>
                <section class="row p-3">
                    <article class="col">
                        {% for c in sector_contacts %}
                            <div class="mb-3">
                                <div><label class="m-0">Name: </label> {{ c.name | default("N/A") }}</div>
                                <div><label class="m-0">Cell Phone: </label> {{ c.phone | default("N/A") }}</div>
                                <div><label class="m-0">Title(s): </label> {{ c.title | default("N/A") }}</div>
                                <div><label class="m-0">Lead: </label> {{ c.lead | default("N/A") }}</div>
                                {% if "DRC" in c.title %}
                                    <div><label class="m-0">DRC Start Date (DRC Ethics Statement):</label> {{ c.start is empty ? "N/A" : c.start | date("m/d/Y") }}</div>
                                {% else %}
                                    <div><label class="m-0">Start Date:</label> {{ c.start is empty ? "N/A" : c.start | date("m/d/Y") }}</div>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="mb-3">
                                <div><p>There are no current contacts for this sector</p></div>
                            </div>
                        {% endfor %}
                    </article>
                </section>
            </article>
        </section>
    </article>
</section>
