<!-- START: node--training-master-record.html.twig -->
{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<style>
  h1.page-title{
      display: none !important;
  }
</style>


  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes }}>
  <article>
    <div class="row">
      <div class="col-md-4" id="learning_path_left">
        <section>
          <div class="content">
            <div class="lp-image">
              {% if content.field_course_image[0] %}
              <!-- <div style="background-color: #e9e9e9; font-size: 13px; padding:2px; text-align: center; width: 150px;"> -->
                {# content.field_training_delivery_method  #}
              <!-- </div> -->

                {{ content.field_course_image }}
              {% else %}
                {# opigno_catalog_get_default_image('learning_path') #}
              {% endif %}
            </div>


                  <!-- START: course number -->
                  {%  if content.field_course_id %}
                    <div class="category d-flex mt-2" id="training-master-course-number">
                      <div class="label">{{ 'Course #'|t }}</div>
                      <div class="value text-right ml-auto">
                          {{ content.field_course_id  }}
                      </div>
                    </div>
                  {%  endif %}

            
                  <!-- START: Duration -->
                  <!-- Duration Goes Here
                  -->


                  <!-- START: price -->
                  <!-- <hr>
                    <div class="category d-flex mt-2">
                    <div class="label">{{ 'Cost'|t }}</div>
                    <div class="value text-right ml-auto">
                        Price Goes Here
                    </div>
                  </div>-->

                  <!-- START: Category -->
                  {%  if content.field_course_category[0]  %}
                    <div class="category d-flex mt-2" id=training-master-category">
                      <div class="label">{{ 'Category'|t }}</div>
                      <div class="value text-right ml-auto">
                        {% for item in content.field_course_category['#items'] %}
                          {% if loop.first %}
                            {{ item.entity.name.value }}
                          {% else %}
                            {{ ', ' ~ item.entity.name.value }}
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  {%  endif %}
                  <!-- END: Category -->



                  <!-- START: IAR Level -->
                  {%  if content.field_course_iar_level[0] %}
                    <div class="category d-flex mt-2" id="training-master-iar">
                      <div class="label">{{ 'I AM Ready Level'|t }}</div>
                      <div class="value text-right ml-auto">
                        {% for item in content.field_course_iar_level['#items'] %}
                          {% if loop.first %}
                            {{ item.entity.name.value }}
                          {% else %}
                            {{ ', ' ~ item.entity.name.value }}
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  {%  endif %}
                  <!-- END: IAR Level -->



                  <!-- START: training delivery type -->
                  {%  if content.field_course_delivery_method[0] %}
                    <div class="category d-flex  mt-2" id="training-master-delivery-method">
                      <div class="label">{{ 'Training Type'|t }}</div>
                      <div class="value text-right ml-auto">
                          {% for item in content.field_course_delivery_method['#items'] %}
                          {% if loop.first %}
                            {{ item.entity.name.value }}
                          {% else %}
                            {{ ', ' ~ item.entity.name.value }}
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  {%  endif %}
                  <!-- END: training delivery type -->



                  <!-- START: Prerequisites -->
                  <!-- <div class="category d-flex mt-2">
                    <div class="label">{{ 'Prerequisites'|t }}</div>
                    <div class="value text-right ml-auto">
                      Pre-reqs Go Here
                    </div>
                  </div>-->


                </div>

        </section>
       </div>


        <div id="learning-path-right" {{ content_attributes.addClass('col-md-8') }}>
               <h2 class="course-title bg-primary mb-2 px-3 py-2">{{ label }}</h2>
               <div style="font-size: 12px; text-align: right;">Course #: {{ content.field_course_id|raw }}</div>
               <div class="course-description margin-top-25" id="training-master-course-description">{{ content.body }}</div>
        </div>
    </div><!-- /row -->


    {%  if((scheduled_trainings) or (ondemand_trainings))  %}
      <div class="row">
        <div id="training-options" class="col-md-12 container-fluid p-0 box-with-dropshadow-border ">
            <section class="row bkg-light-gray m-0 px-4 pb-3 pt-4">
            <h3>Upcoming Training Dates</h3>
            </section>
        
            {%  if(ondemand_trainings) %}
                <div class="training-ondemand-options ">
                    <h3>Take this course online, at your own pace!</h3>
                    {{ ondemand_trainings }}
                </div>
            {%  endif %}
            
            {%  if(scheduled_trainings) %}
              <div class="training-scheduled-options table-striped">
                {{  scheduled_trainings }}
              </div>
            {%  endif %}
        </div><!-- /training-options -->
      </div><!-- /row -->
    {%  endif %}



    </div><!-- /row -->
</article>

  </div> <!-- /content_attributes -->


<!-- START: node--training-master-record.html.twig -->

