<!-- START: node--3.html.twig - FAQs -->
<section id="nid-{{ node.id }}">
  <article class="container pl-0 mr-0 ml-0" id="faqs-wrapper">
    <section class="row"> 
      <article class="col-12 col-lg-auto mb-5 ml-0 pl-0 faqs-sidebar">
        <section class="row">
          <article class="col-12 p-0 faqs-nav">
            <div class="p-4 text-center">
              <h3 class="m-0">GET STARTED</h3>
            </div>
            <nav>
              <div class="nav nav-tabs flex-column" role="tablist">
                {% for k, v in content.field_content_blocks %}
                  {% if v['#paragraph'] %}
                    <a class="nav-item nav-link {{ k == 0 ? "active" : "" }}" href="#content-link-{{ k }}" id="link-{{ k }}" data-toggle="tab" aria-controls="link-{{ k }}" aria-selected="{{ k == 0 ? "true" : "false" }}">{{ v['#paragraph'].field_heading.0.value|striptags }}</a>
                  {% endif %}
                {% endfor %}
              </div>
            </nav>
          </article>
          <article class="col-12 mt-4 p-0 faqs-nav">
            <div class="p-4 text-center">
              <h3 class="m-0">ACRONYMS</h3>
            </div>
            <ul class="p-3">
              <li><strong>BT</strong> – Basic Trained volunteer</li>
              <li><strong>CC</strong> – Call Center</li>
              <li><strong>CERT</strong> – Community Emergency Response Training (CERT)</li>
              <li><strong>CISM</strong> – Critical Incident Stress Management (CISM)</li>
              <li><strong>DAT</strong> – Disaster Assessment Team (DAT)</li>
              <li><strong>DRC</strong> – Disaster Relief Coordinator (DRC)</li>
              <li><strong>DRS</strong> – Disaster Relief Shepherd (DRS)</li>
              <li><strong>HAM</strong> – HAM Radio Operator/Technician</li>
              <li><strong>IAR</strong> – I AM Ready™ Program (IAR)</li>
              <li><strong>PH</strong> – Prayer Hotline</li>
              <li><strong>VP</strong> – Volunteer Portal</li>
            </ul>
          </article>
        </section>
      </article>
      <article class="col p-4">
        <div class="scrolling-text tab-content">
        {% for k, v in content.field_content_blocks %}
          {% if v['#paragraph'] %}
            <div class="tab-pane fade in {{ k == 0 ? "active show" : "" }}" id="content-link-{{ k }}">
              {{ v['#paragraph'].field_text.0.value|raw }}
            </div>
          {% endif %}
        {% endfor %}
        </div>
        <hr class="my-4">
        {{ content.body.0 }}
      </article>
    </section>
  </article>
</section>
