<!-- node--1.html.twig - Home Page -->
<div id="nid-{{ node.id }}">

  <!-- HOME: Main Banner -->
  <div class="container-fluid py-6 text-center bkg-img-overlay" id="home-main-banner">
    <div class="row">
      <div class="col">
        <h2 class="color-drn-secondary">Welcome to ADRN's Volunteer Portal</h2>
        <h1 class="text-white">Churches Bringing Hope Into Crisis™</h1>
        {% if not logged_in %}
          <p class="text-white"><em>Sign in to register for training and access your volunteer profile.</em></p>
          <a class="button" href="/user">Sign In</a>
        {% endif %}
        <h2 class="color-drn-secondary mt-4">#yellowshirts</h2>
      </div>
    </div>
  </div>

  <!-- HOME: Marquee -->
  {% if not logged_in %}
    <div class="container-fluid bkg-darkest-gray text-center" id="home-marquee">
      <div class="row">
        <div class="col">
          <p><span class="text-white text-semibold">NEW VOLUNTEER?</span> <a href="/user/register" class="d-inline-block d-md-inline text-yellow text-underlined">Complete a Volunteer Profile to get started ></a>.</p>
        </div>
      </div>
    </div>
  {% endif %}
        
  <!-- HOME: WHAT WE DO - TEXT -->
  <a name="about"></a>
  <div class="container pt-6 text-center" id="home-what-we-do">
    <div class="row">
      <div class="col">
        <h2>Train to be Ready</h2>
        <p>We train volunteers like you in advance of a disaster so you can respond at a moment's notice. We offer multiple training pathways you can follow as you prepare to respond to the emotional, spiritual and/or physical needs of those impacted by disaster. Get started by reviewing our courses, selecting a pathway, and joining ADRN.</p>
      </div><!-- /column -->
    </div><!-- /row -->
  </div><!-- /container #home-what-we-do -->

  <!-- HOME: WHAT WE DO - BADGES -->
  <div class="container pb-6 text-center" id="home-what-we-do-badges">
    <div class="row justify-content-center">

      <div class="col-lg-2 col-md-4 col-6">
        <div class="badge-column">
            <img alt="Uniting Network Churches" src="/{{ base_path ~ directory }}/images/home-page/churches-badge.png" /> 
          <div class="badge-label"><h3>Uniting Network Churches</h3></div>
        </div><!-- /badge-column -->
      </div><!-- /columns -->


      <div class="col-lg-2 col-md-4 col-6">
        <div class="badge-column">
            <img alt="Engaging ADRN Volunteers" src="/{{ base_path ~ directory }}/images/home-page/volunteers-badge.png" /> 
          <div class="badge-label"><h3>Engaging ADRN Volunteers</h3></div>
        </div><!-- /badge-column -->
      </div><!-- /columns -->


      <div class="col-lg-2 col-md-4 col-6">
        <div class="badge-column">
            <img alt="Training and Equipping" src="/{{ base_path ~ directory }}/images/home-page/training-badge.png" /> 
          <div class="badge-label"><h3>Training and Equipping</h3></div>
        </div><!-- /badge-column -->
      </div><!-- /columns -->


      <div class="col-lg-2 col-md-4 col-6">
        <div class="badge-column">
            <img alt="Survivor Disaster Assistance" src="/{{ base_path ~ directory }}/images/home-page/survivor-badge.png" /> 
          <div class="badge-label"><h3>Survivor Disaster Assistance</h3></div>
        </div><!-- /badge-column -->
      </div><!-- /columns -->

      <div class="col-lg-2 col-md-4 col-6">
        <div class="badge-column">
            <img alt="Deployment Ready Teams" src="/{{ base_path ~ directory }}/images/home-page/deployment-badge.png" /> 
          <div class="badge-label"><h3>Deployment Ready Teams</h3></div>
        </div><!-- /badge-column -->
      </div><!-- /columns -->

    </div><!-- /row -->
  </div><!-- /container #home-what-we-do-badges -->

  <!-- HOME: SCRIPTURE -->
  <div class="container-fluid px-0 bkg-light-gray" id="home-scripture">
    <div class="row">
      <div class="col-12 col-md-6 p-0">
        <div id="scripture-img"></div>
        <div class="d-none d-md-block" id="scripture-gradient"></div>
      </div>
      <div class="col-12 col-md-6 p-4">
        <p><em>“In the same way, let your light shine before others, that they may see your good deeds and glorify your Father in heaven.”</em></p>
        <p class="mt-4"><em>~Mathew 5:16</em></p>
      </div>
    </div>
  </div>

  <!-- HOME: VOLUNTEER -->
  <div class="container py-6" id="home-volunteer">
    <div class="row">
      <div class="col-lg-6 order-2 order-md-1">
          <img class="my-4" alt="Volunteer with us" src="/{{ base_path ~ directory }}/images/home-page/bkg-volunteer-opportunities.png" /> 
      </div>
      <div class="col-lg-6 col-with-text order-1 order-md-2 align-center text-center">
        <h2>Volunteer with Us</h2>
        <p>ADRN is driven by trained volunteers — “yellow shirts” — just like you, each one bringing a unique set of gifts and talents to the team. Our goal is to connect you with opportunities to utilize and multiply your skills. You can help rebuild lives and transform communities in Jesus' name. Join our team of “yellow shirts” today!</p>
        {% if not logged_in %}
          <a href="/user" class="button button-rounded button-gray mt-4">Sign In</a>
          <p class="login-instructions mt-3">New Volunteer? <a class="text-underlined" href="/user/register">Complete a Volunteer Profile to Get Started ></a>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- HOME: JOIN THE NETWORK -->  
  <div class="container py-6 border-top-on-mobile" id="home-join">
    <div class="row">
      <div class="col align-center text-center">
        <h2>Join the Network</h2>
        <p>ADRN is built upon relationships. Join us in our mission to glorify Christ by equipping, empowering, and mobilizing the Church to respond to the physical, emotional, and spiritual needs of those affected by disaster.</p>
      </div>
    </div>
    <div class="row justify-content-center py-5" id="home-network-entrypoints">
      <div class="col col-md-6 col-lg-4 p-3">
        <div class="container-fluid home-network-entrypoint-col  my-4 p-5 bkg-white box-with-solid-border text-center" id="home-join-volunteer">
          <img alt="Volunteer" src="/{{ base_path ~ directory }}/images/home-page/volunteer-icon.png" alt="Volunteer with ADRN" width="100" height="100"/> 
          <h3>Volunteer</h3>
          <p>Make an impact in times of disaster. Become an ADRN volunteer!</p>
          <br>
        </div>
      </div>
      <div class="col col-md-6 col-lg-4 p-3">
        <div class="container-fluid home-network-entrypoint-col my-4 p-5 bkg-white box-with-solid-border text-center" id="home-join-church">
          <img alt="Church" src="/{{ base_path ~ directory }}/images/home-page/church-icon.png" alt="Join the ADRN network" width="100" height="100"/> </h3>
          <h3>Church</h3>
          <p>Equip your church to respond in times of disaster. Join our network today!</p>
        </div>
      </div>
      <div class="col col-md-6 col-lg-4 p-3">
        <div class="container-fluid home-network-entrypoint-col my-4 p-5 bkg-white box-with-solid-border text-center" id="home-join-partner">
          <img alt="Donor" src="/{{ base_path ~ directory }}/images/home-page/donor-icon.png" alt="Donote to ADRN" width="100" height="100"/> 
          <h3>Donor</h3>
          <p>Make a difference in the lives of survivors and God's kingdom. Invest in ADRN's mission!</p>
        </div>
      </div>
    </div>
  </div>

</div>
