<!-- START: node--9.html.twig - Traning Landing Page -->
<div id="nid-{{ node.id }}">
  
        <!-- ======== START: Welcome and What's New ======== -->
        <div class="container padding-bottom-50" id="portal-welcome-intro">
          <div class="row">
            <div class="col-md-8 margin-bottom-on-mobile">
              <div class="portal-welcome-intro-name"><!-- Welcome,--> {{ username }}</div>
              <h1 class="page-title">Volunteer Portal</h1>
              <div class="intro-text">
                {{ content.body.0 }}
                <div class="intro-text-links text-smaller text-semibold">
                  <a href="/user">View Profile &amp; Account Preferences</a>
                </div>
              </div><!-- /intro-text -->
            </div><!-- /col -->


            <div class="col-md-4">
              <div class="whats-new box-with-dropshadow-border">
                <h3>What's New</h3>
                <ul class="no-bullets">
                  <li class="notifications"><i class="fas fa-bell"></i><a href="#">Notifications</a></li>
                  <!-- <li class="calendar"><i class="far fa-calendar-alt"></i><a href="#">Calendar of Events</a></li>-->
                  <li class="messages"><i class="fas fa-envelope"></i><a href="#">Messages</a></li>
                  <li class="cart"><i class="fas fa-shopping-cart"></i><a href="#">Shopping Cart</a></li>
                </ul>
              </div><!-- /whats-new -->
            </div><!-- /col -->
          </div><!-- /row -->
        </div><!--/container -->
        <!-- ======== END: Welcome and What's New ======== -->

        <!-- ======== START: Quick Links ======== -->
        <div class="container padding-top-50 padding-bottom-50 align-center quick-links" id="portal-welcome-quick-links">
          <div class="row text-left">
            <div class="col-md-12">
              <h2>Quick Links</h2>
            </div>
          </div><!-- /row -->
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 margin-bottom-on-mobile">
              <a href="/courses" class="button button-secondary">Training<br/>Courses</a>
            </div>


            <div class="col-sm-6 col-md-6 col-lg-3 margin-bottom-on-mobile">
              <a href="/i-am-ready" class="button button-secondary">I AM Ready<br/>Program</a>
            </div>


            <div class="col-sm-6 col-md-6 col-lg-3 margin-bottom-on-mobile">
              <a href="/my-church" class="button button-secondary">My Church<br/>Page</a>
            </div>


            <div class="col-sm-6 col-md-6 col-lg-3">
              <a href="/my-dashboard" class="button button-secondary">My Training<br/>Progress</a>
            </div>
          </div>
        </div>
        <!-- ======== END: Quick Links ======== -->


        <!-- ======== START: Badges Entry Points ======== -->
        <div class="container padding-top-50 padding-bottom-100 margin-bottom-50 align-center border-bottom-heavy" id="portal-welcome-badges">
          <div class="row text-left">
            <div class="col-md-12">
              <h2 class="align-center-on-mobile-left-on-desktop">Get trained and volunteer. <em>Choose a training pathway.</em></h2>
            </div>
          </div><!-- /row -->

            <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="badge-column box-with-dropshadow-border bkg-white margin-bottom-on-mobile">
              <img alt="Emotional &amp; Spiritual Care" src="/themes/custom/adrn/images/pathways/badge-purple.png" />        
              <div class="badge-label"><h3>Emotional and Spiritual Care</h3></div>
              <div class="badge-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore perspiciatis unde.</p>
                <div class="more-link"><a href="">View Pathway</a></div>
              </div><!-- /badge-text -->
            </div><!-- /badge-column -->
            </div><!-- /columns -->


            <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="badge-column box-with-dropshadow-border bkg-white margin-bottom-on-mobile">
              <img alt="Emotional &amp; Spiritual Care" src="/themes/custom/adrn/images/pathways/badge-green.png" />        
              <div class="badge-label"><h3>Physical<br/>Support</h3></div>
              <div class="badge-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore perspiciatis unde.</p>
                <div class="more-link"><a href="">View Pathway</a></div>
              </div><!-- /badge-text -->
            </div><!-- /badge-column -->
            </div><!-- /columns -->


            <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="badge-column box-with-dropshadow-border bkg-white margin-bottom-on-mobile">
              <img alt="Emotional &amp; Spiritual Care" src="/themes/custom/adrn/images/pathways/badge-red.png" />        
              <div class="badge-label"><h3>Core Spiritual Development</h3></div>
              <div class="badge-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore perspiciatis unde.</p>
                <div class="more-link"><a href="">View Pathway</a></div>
              </div><!-- /badge-text -->
            </div><!-- /badge-column -->
            </div><!-- /columns -->


            <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="badge-column box-with-dropshadow-border bkg-white">
              <img alt="Emotional &amp; Spiritual Care" src="/themes/custom/adrn/images/pathways/badge-blue.png" />        
              <div class="badge-label"><h3>Leadership Development</h3></div>
              <div class="badge-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore perspiciatis unde.</p>
                <div class="more-link"><a href="">View Pathway</a></div>
              </div><!-- /badge-text -->
            </div><!-- /badge-column -->
            </div><!-- /columns -->

            </div><!-- /row -->
        </div><!-- /container #portal-welcome-badges -->
        <!-- ======== END: Badges Entry Points ======== -->



        <!-- ======== START: Ways to Help ======== -->
        <div class="container padding-bottom-50 padding-top-50 text-left" id="portal-ways-to-help">
          <div class="row text-left">
            <div class="col-md-12">
              <h2 class="align-center-on-mobile-left-on-desktop">Ways to Help</h2>
            </div>
          </div><!-- /row -->
          <div class="row align-center-on-mobile-left-on-desktop">
            <div class="col-sm-6 col-md-6">
              <div class="box-with-solid-border flex-wrapper">
                <div class="image-and-text image-and-text-image flex-item margin-bottom-on-mobile">
                  <img alt="Prayer" src="/themes/custom/adrn/images/portal-landing-volunteers-196x181.jpg" />        
                </div>
                <div class="image-and-text image-and-text-text flex-item">
                  <h4>Prayer</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ...</p>
                  <div class="more-link"><a href="#">Learn More</a></div>
                </div>
              </div>
            </div><!-- /columns -->


            <div class="col-sm-6 col-md-6">
              <div class="box-with-solid-border flex-wrapper">
                <div class="image-and-text image-and-text-image flex-item margin-bottom-on-mobile">
                  <img alt="Donate" src="/themes/custom/adrn/images/portal-landing-volunteers-196x181.jpg" />        
                </div>
                <div class="image-and-text image-and-text-text flex-item">
                  <h4>Donate</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ...</p>
                  <div class="more-link"><a href="#">Learn More</a></div>
                </div>
              </div>
            </div><!-- /columns -->
          </div><!-- /row -->

          <div class="row align-center-on-mobile-left-on-desktop">
            <div class="col-sm-6 col-md-6">
              <div class="box-with-solid-border flex-wrapper">
                <div class="image-and-text image-and-text-image flex-item margin-bottom-on-mobile">
                  <img alt="Volunteer" src="/themes/custom/adrn/images/portal-landing-volunteers-196x181.jpg" />        
                </div>
                <div class="image-and-text image-and-text-text flex-item">
                  <h4>Volunteer</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ...</p>
                  <div class="more-link"><a href="#">Learn More</a></div>
                </div>
              </div>
            </div><!-- /columns -->


            <div class="col-sm-6 col-md-6">
              <div class="box-with-solid-border flex-wrapper">
                <div class="image-and-text image-and-text-image flex-item margin-bottom-on-mobile">
                  <img alt="Join" src="/themes/custom/adrn/images/portal-landing-volunteers-196x181.jpg" />        
                </div>
                <div class="image-and-text image-and-text-text flex-item">
                  <h4>Join Our Team</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ...</p>
                  <div class="more-link"><a href="#">Learn More</a></div>
                </div>
              </div>
            </div><!-- /columns -->
          </div>
        </div>
        <!-- ======== ENDsorry - ty: Ways to Help ======== -->

 
</div>
<!-- END: node--11.html.twig - Traning Landing Page -->
