/* ======== COLOR PALLETE ======= */
/*
green: #aab02e;
yellow: #f9c535;
gray-light: #f5f5f5;
gray-medium:#e9e9e9
gray-medium-dark: #ededed;
gray-dark: #6d6e71;
white: #ffffff;
black-ish: #221e1f;
blue: #22578d;

gray buttons: #b5b5b5;

gray separator: #c3c3c3;
gray border: #c3c3c3;

teal: #2e9fb0;
*/

/* ======== Gradients ======= */
/*
Gray - light to dark:
#ebebeb -> #d3d3d3;

white to very faint gray
#ffffff -> #f5f5f5;

*/

/* ======== Fonts ======= */
/*
font-family: 'Source Sans Pro' (default)
font-family: 'Bitter'
font-family: 'Open Sans'
*/

:root {
    --drn-primary: #aab02e;
    --drn-primary-lighter: #c7ce43;
    --drn-secondary: #f9c535;
    --drn-secondary-darker: #f4b507;
    --drn-accent: #2e9fb0;
    --drn-light: #ffffff;
    --drn-dark: #221e1f;
    --drn-neutral: #c3c3c3;
    --drn-neutral-light: #e9e9e9;
    --drn-neutral-lighter: #f5f5f5;
    --drn-neutral-dark: #7d7d7d;
    --drn-link: #22578d;
    --drn-link-hover: #aab02e;
    --drn-error: #ff0000;
}
