#iar-wrapper .nav-link{
    color: #6d6e71;
    font-weight: 600;
}

#iar-wrapper li a.active{
    box-shadow: 0 6px 0 #fff, 0 0 5px rgba(0, 0, 0, 0.3);
}

#iar-wrapper #iar-tab-content{
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.3);
}

#iar-wrapper .table th{
    text-transform: none;
}

#iar-wrapper h2{
    color: var(--drn-accent);
    font-weight: 900;
}

#iar-wrapper h3{
    color: var(--drn-accent);
    font-weight: 600;
}

#iar-wrapper th{
    border-top: none;
    color: #7d7d7d;
}

#iar-wrapper label{
    color: black;
    margin:0;
    padding: 0;
}

#iar-wrapper .user-form .fieldset-wrapper{
    width: 100%;
}

#iar-wrapper .user-form legend, #iar-wrapper .user-form [id^="edit-delete"]{
    display: none;
}

#iar-wrapper .user-form .form-group{
    margin:0;
    padding:5px;
}

#iar-wrapper .user-form .form-group:nth-child(odd){
    background-color: #f5f5f5;
}

#iar-wrapper .user-form .field--widget-options-buttons::after {
    content: "I hereby certify I have accomplished the following checked items.";
}

#iar-wrapper .user-form [id^="edit-actions"]{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#iar-wrapper .user-form [id^="edit-submit"]{
    padding: 10px 40px;
    line-height: 24px;
}

#iar-wrapper .user-form #edit-field-user-iar-level-3-app--4 .form-group:nth-child(4)::before{
    content: "8 hours of CERT field application in an actual disaster:";
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: white;
    font-weight: 700;
}

#iar-wrapper .user-form #edit-field-user-iar-level-3-app--4 .form-group:nth-child(6)::after{
    content: "8 hours of CISM field application in an actual disaster:";
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: white;
    font-weight: 700;
}

#iar-wrapper .user-form #edit-field-user-iar-level-4-app--4::before{
    content: "16 hours of CERT field application in an actual disaster:";
    display: block;
    margin: 10px 0px 5px 8px;
    background-color: white;
    font-weight: 700;
}

#iar-wrapper .user-form #edit-field-user-iar-level-4-app--4 .form-group:nth-child(4)::before{
    content: "16 hours of CISM field application in an actual disaster:";
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: white;
    font-weight: 700;
}
