{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */


/**
------
NOTES: 
------
This file is called by all of the displays that display the User Document Uploads paragraph 
For now, leave the style in this file so that we can deal with it with the new theme later
*/
#}
 
<a name="documents"></a>
<!-- START: includes/field-group-document-uploads.html.twig -->
<style>
  table#field-document-uploads-values thead{
    display: none;
  }

  /*hide the field label of "Document Uploads"*/
  #edit-field-document-uploads-wrapper #edit-field-document-uploads strong{
    display:none;
  }

  #edit-field-document-uploads-wrapper .paragraph-type-title{
    display: none;
  }


  #edit-field-document-uploads-wrapper .paragraphs-dropbutton-wrapper {
    float: right;
    width: 100%;
  }

 #edit-field-document-uploads-wrapper .paragraph-type-top input.button, 
 #edit-field-document-uploads-wrapper .paragraph-type-top input.btn{
  float: right;
 }


  #edit-field-document-uploads-wrapper select {
    width:250px;
  }

  #edit-field-document-uploads-wrapper label{
    width:150px;
    font-weight: bold;
  }

  #edit-field-document-uploads-wrapper .opigno-file-widget-wrapper {
    width: auto;
    margin: 10px auto;
    float: left;
    padding: 10px;
    font-size: 14px;
    display: block;
    overflow: auto;
    height: auto;
    padding: 10px 15px 30px 15px;
    text-align: center;
  }

  #edit-field-document-uploads-wrapper .opigno-file-widget-wrapper.not-empty .button {
    display: none;
  }

  #edit-field-document-uploads-wrapper .button{
    width: auto;
    float: none;
    clear: both;
    display: block;
    padding: 5px 10px;

    /*default button (Remove button)*/
    background-color: #e9e9e9 !important;
    border: 1px solid #efefef !important;
    color: #7d7d7d !important;  
  }

  #edit-field-document-uploads-0-subform-field-doc-upload-file-0--label,
  #edit-field-document-uploads-1-subform-field-doc-upload-file-0--label,
  #edit-field-document-uploads-2-subform-field-doc-upload-file-0--label,
  #edit-field-document-uploads-3-subform-field-doc-upload-file-0--label,
  #edit-field-document-uploads-4-subform-field-doc-upload-file-0--label,
  #edit-field-document-uploads-5-subform-field-doc-upload-file-0--label,
  #edit-field-document-uploads-6-subform-field-doc-upload-file-0--label,
  #edit-field-document-uploads-7-subform-field-doc-upload-file-0--label,
  #edit-field-document-uploads-8-subform-field-doc-upload-file-0--label,
  #edit-field-document-uploads-9-subform-field-doc-upload-file-0-label,
  #edit-field-document-uploads-10-subform-field-doc-upload-file-0--label{
    padding-top: 10px;
    float: left;
  }

  /*hide the random "upload" button that sits in the "upload a file .... drag and drop" section */
  #edit-field-document-uploads-wrapper .button.js-hide {
    display: none;
  }

  /*input#edit-field-document-uploads-0-subform-field-doc-upload-file-0-remove-button{
    display: none !important;
  }*/

  #edit-field-document-uploads-wrapper span.file-size{
    display: block;
  }

  #document-uploads-save-profile-button-wrapper {
    padding-top: 15px;
  }

  .text-red{
    color:red;
  }

</style>

<{{ wrapper_element }} {{ attributes }}>
  {% if title %}
  <{{ title_element }}{{ title_attributes }}>{{ title }}</{{ title_element }}>
  {% endif %}
  

  <p class="description" id="user-document-upload-description">
  <strong>Upload documents such as certificates, licenses, etc.</strong>
  <br/><em><span class="text-red">Be sure to click the "Save" button to complete the uploads.</span></em>
  <!--<br/><span class="text-smaller">Allowed File Types: doc, docx, pdf, jpg, jpeg, gif, xls, xlsx
  <br/>Maximum File Size: 50MB</span>--></p>


  {% if collapsible %}
  <div class="field-group-wrapper">
  {% endif %}
  {{children}}
  {% if collapsible %}
  </div>
  {% endif %}

  <div id="document-uploads-save-profile-button-wrapper">
    <!-- Do not change the label (value) on this button or it will no longer work.  Button saves ENTIRE profile; not just the file uploads. -->
    <input data-drupal-selector="edit-submit-button-3" type="submit" id="edit-submit-button-3" name="op" value="Save" class="button button--primary js-form-submit form-submit button-small">
  </div>
</{{ wrapper_element }}>
<!-- END: includes/field-group-document-uploads.html.twig -->