{#
/**
 * @file
 * Default theme implementation to display a group.
 *
 * Available variables:
 * - group: The group entity with limited access to object properties and
 *   methods. Only "getter" methods (method names starting with "get", "has",
 *   or "is") and a few common methods such as "id" and "label" are available.
 *   Calling other methods (such as group.delete) will result in an exception.
 * - label: The title of the group.
 * - content: All group items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the
 *   printing of a given child element.
 * - url: Direct URL of the current group.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - group: The current template type (also known as a "theming hook").
 *   - group--[type]: The current group type. For example, if the group is a
 *     "Classroom" it would result in "group--classroom". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - group--[view_mode]: The View Mode of the group; for example, a
 *     teaser would result in: "group--teaser", and full: "group--full".
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_group()
 *
 * @ingroup themeable
 */
#}


{# For ADRN, ONLY show the buttons if a user IS logged in #}
{% if logged_in %}
  {% set button_left = get_join_group_link(null, null, {'class': ['button', 'button-secondary', 'text-bold', 'opigno-quiz-app-course-button', 'd-block', 'text-uppercase', 'join-link']})|replace({'Subscribe to training': 'Enroll in Training'}) %}
  {% set button_right = get_start_link(null, {'class': ['button', 'button-secondary', 'd-inline-block']})|replace({'Subscribe to training': 'Enroll in Training'}) %}
{%  else  %}
  {% set button_left = NULL %}
  {% set button_right = NULL %}
{%  endif  %}


<!-- add some css classes depending on delivery method. This way we can hide and show elements accordingly -->
{%  if (training_instance_delivery_method_is_scheduled == true) %}
  {%
    set classes = [
      'group-opigno-course',
      'training-delivery-method-scheduled',
    ]
  %}
  {%  else %}
    {%
      set classes = [
        'group-opigno-course',
        'training-delivery-method-ondemand',
      ]
    %}
{% endif %}

<div{{ attributes.addclass(classes) }}>



  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}


  <!-- START: row -->
  <div class="row">
      <!-- ------- START: Progress Bar and Heading------- -->
      {% if opigno_catalog_is_member(group.id()) %}
          <div class="container" id="course-heading">
            <div class="row">
              <div class="col-md-12">
                <div class="lp_title_and_image">
                 <span>{{ content.field_learning_path_media_image }}</span><span> <h2 class="title-above-progress-bar" style="display: inline;">{{ label }}</h2></span>
                </div>
              </div>
            </div>
          </div>
          
          {%  if (training_instance_delivery_method_is_scheduled == false) %}
          <div class="container" id="progress-bar">
            <div class="row margin-bottom-25">
              {{ get_progress() }}
            </div>
          </div>
          {%  endif %}

      {% endif %}
      <!-- ------- END Progress Bar and Heading ------- -->


    <!-- ------- START: Left Section: Image and Info ------- -->
    {% if opigno_catalog_is_member(group.id()) %}

    {% else %}

      <div class="col-md-4" id="learning_path_left">
        <section>
          <div class="content">
            <div class="lp-image">
              {% if content.field_learning_path_media_image[0] %}
              <!-- <div style="background-color: #e9e9e9; font-size: 13px; padding:2px; text-align: center; width: 150px;"> -->
                {# content.field_training_delivery_method  #}
              <!-- </div> -->

                {{ content.field_learning_path_media_image }}
              {% else %}
                {# opigno_catalog_get_default_image('learning_path') #}
              {% endif %}
            </div>
            
                  <!-- START: course number -->
                  {%  if content.field_course_id %}
                    <div class="category d-flex mt-2" id="training-instance-course-number">
                      <div class="label">{{ 'Course #'|t }}</div>
                      <div class="value text-right ml-auto">
                          {{ content.field_course_id  }}
                      </div>
                    </div>
                  {%  endif %}


                  <!-- START: Duration -->
                  {% if group.field_learning_path_duration is empty %}
                    <!-- duration is empty so do not display. leave this empty if or things break -->
                  {% else %}
                      {% if group.field_learning_path_duration.value >= 1 %}
                        <div class="category d-flex mt-2">
                          <div class="label">{{ 'Duration'|t }}</div>
                          <div class="value text-right ml-auto">{{ group.field_learning_path_duration.value }} hours</div>
                        </div>

                      {% else %}
                        duration is not greater than 1
                    {% endif %}
                  {% endif %}

                  <!-- START: training delivery type -->
                  <div class="category d-flex  mt-2">
                    <div class="label">{{ 'Training Type'|t }}</div>
                    <div class="value text-right ml-auto">{{ content.field_training_delivery_method  }}</div>
                  </div>

                  <!-- START: price -->
                  <div class="category d-flex mt-2">
                    <div class="label">{{ 'Cost'|t }}</div>
                    <div class="value text-right ml-auto">
                    {%  if(group.field_lp_price.value) %}
                      {{ group.field_lp_price.value }}
                    {%  else  %}
                      Free
                    {% endif %}
                    </div>
                  </div>

                  <hr>

                  <!-- START: Category -->
                  <div class="category d-flex mt-2">
                    <div class="label">{{ 'Category'|t }}</div>
                    <div class="value text-right ml-auto">{{ learning_path_category }}</div>
                  </div>

                  <!-- START: IAR Level -->
                  <div class="category d-flex mt-2">
                    <div class="label">{{ 'I AM Ready Level'|t }}</div>
                    <div class="value text-right ml-auto"> {{ content.field_training_iar_level }}</div>
                  </div>

                  <hr>

                  <!-- START: Prerequisites -->
                  <div class="category d-flex mt-2">
                    <div class="label">{{ 'Prerequisites'|t }}</div>
                    <div class="value text-right ml-auto">
                      {% if content.field_training_prerequisite_text %}
                        {{ content.field_training_prerequisite_text }}
                      {% else %}
                        None
                      {% endif %}
                    </div>
                  </div>


                </div>
            

                  <div class="lp-enroll-button lp-enroll-button-right margin-top-25">
                    {{ button_left|raw }}
                  </div>

        </section>
       </div>
    {% endif %}

    <!-- ------- END: Left Section: Image and Info ------- -->



    <!-- ------- START: Right (main) Section: Course Descrition OR Outline, depending on if registered ------- -->
 

              {# if user IS registered for training #}
              {% if opigno_catalog_is_member(group.id()) %}
                <div class="container">
                  <div class="row training-content-for-enrolled-student">
                    <div id="learning-path-right" {{ content_attributes.addClass('col-md-12') }}>
                      {%  if (training_instance_delivery_method_is_scheduled == false) %}
                       <h2>Course Modules</h2>
                      {%  endif %}
                    </div>

                    {{ get_training_content() }}
                  </div><!-- /row -->
                  </div><!-- /container -->


              {# if user IS NOT registered for training #}
              {%  else  %}
                    <div id="learning-path-right" {{ content_attributes.addClass('col-md-8') }}>

                <h2 class="course-title bg-primary mb-2 px-3 py-2">{{ label }}</h2>


                <!-- START: Course ID --><!-- JULIE - come back -->
                <div style="font-size: 12px; text-align: right;">Course #: {{ content.field_learning_path_course_id|raw }}</div>

                <!-- START: Full Description -->
                <div class="lp-description margin-top-25">
                  <h3>Course Description</h3>
                  {{  content.field_learning_path_description }}
                </div>

                <!-- START: Training Outline -->
                <div class="lp-outline margin-top-25 border-top padding-top-25">
                  <h3>Course Outline</h3>
                  {{  content.field_training_outline }}
                </div>

                <div class="lp-enroll-button lp-enroll-button-right margin-top-25">
                    {{ button_right|raw }}
                </div>

            {% endif %}

    </div><!-- /group-content -->
    <!-- ------- END: Right (main) Section: Course Descrition OR Outline, depending on if registered ------- -->

  </div> <!-- /row -->
</div> <!-- /group-opigno-course -->
