<div{{ attributes.addClass('opigno-result-item') }}>
	<div class="container">
		<div class="row mb-4">
			<!-- <div class="col-md-1 opigno-result-item-progress-icon">
				DONE!
			</div>-->

			<div class="col-md-11">	
		    <div>{{ label }}</div>
		    <div>{{ question_body }}</div>
		    <div>{{ score }}</div>
		    {% if content %}
		        {{- content -}}
		    {% endif %}

		    <!-- JULIE - come back and remove this! It is for debug only -->
			<div style="background-color:red; display: none;">

			Score = {{  content.opigno_answer  }}
			<ol>
			  {% for key, value in _context  %}
			    <li>{{ key }}</li>
				{% if loop.index == 17 %}
					Score = 
					{{ dump(value) }}
				{% endif %}
			  {% endfor %}
			</ol>
			</div>


		    </div>
	    </div>
    </div>
</div>
