<!-- START: region-content--admin-learning-path.html.twig -->
{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}

<!-- since this is just for a single admin screen go ahead and put styles in this file so it's not loaded with all the end user css, and so it doesn't end up overwriting something we don't want to overwrite  -->
<style>
  body.admin-learning-path .step-list-aside-wrapper {
    margin-top: 0;
  }

  .aside-col .mb-3{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0 !important;
  }

  body.admin-learning-path .step-list-aside-wrapper h2 {
    padding:5px 10px;
  }

  body.admin-learning-path .step-list-aside-wrapper h2,
  body.admin-learning-path .step-list-aside-wrapper ul.step-list-aside li:after {
    background-color: gray !important;
  }

  a#edit-unpublish,
  a#edit-delete{
    background-color: #eee !important;
    color: gray;
  }
</style>


{% if content %}
  <div class="row">
    <div class="col-md-3 aside-col">
      {{ step_list_aside }}
    </div>
    <div class="col-md-9 content-col">
      <div{{ attributes }}>
        {{ add_member_link }}
        {{ content }}
      </div>
    </div>
  </div>

{% endif %}
<!-- END: region-content--admin-learning-path.html.twig -->
