.ajax-progress{display:inline-block;padding:1px 5px 2px 5px;}[dir="rtl"] .ajax-progress{float:right;}.ajax-progress-throbber .throbber{display:inline;padding:1px 5px 2px;background:transparent url(/core/misc/throbber-active.gif) no-repeat 0 center;}.ajax-progress-throbber .message{display:inline;padding:1px 5px 2px;}tr .ajax-progress-throbber .throbber{margin:0 2px;}.ajax-progress-bar{width:16em;}.ajax-progress-fullscreen{position:fixed;z-index:1000;top:48.5%;left:49%;width:24px;height:24px;padding:4px;opacity:0.9;border-radius:7px;background-color:#232323;background-image:url(/core/misc/loading-small.gif);background-repeat:no-repeat;background-position:center center;}[dir="rtl"] .ajax-progress-fullscreen{right:49%;left:auto;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.js input.form-autocomplete{background-image:url(/core/misc/throbber-inactive.png);background-repeat:no-repeat;background-position:100% center;}.js[dir="rtl"] input.form-autocomplete{background-position:0% center;}.js input.form-autocomplete.ui-autocomplete-loading{background-image:url(/core/misc/throbber-active.gif);background-position:100% center;}.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading{background-position:0% center;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon:before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error:before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
body.drag{cursor:move;}tr.region-title{font-weight:bold;}tr.region-message{color:#999;}tr.region-populated{display:none;}tr.add-new .tabledrag-changed{display:none;}.draggable a.tabledrag-handle{float:left;overflow:hidden;height:1.7em;margin-left:-1em;cursor:move;text-decoration:none;}[dir="rtl"] .draggable a.tabledrag-handle{float:right;margin-right:-1em;margin-left:0;}a.tabledrag-handle:hover{text-decoration:none;}a.tabledrag-handle .handle{width:14px;height:14px;margin:-0.4em 0.5em 0;padding:0.42em 0.5em;background:url(/core/misc/icons/787878/move.svg) no-repeat 6px 7px;}a.tabledrag-handle:hover .handle,a.tabledrag-handle:focus .handle{background-image:url(/core/misc/icons/000000/move.svg);}.touchevents .draggable td{padding:0 10px;}.touchevents .draggable .menu-item__link{display:inline-block;padding:10px 0;}.touchevents a.tabledrag-handle{width:40px;height:44px;}.touchevents a.tabledrag-handle .handle{height:21px;background-position:40% 19px;}[dir="rtl"] .touch a.tabledrag-handle .handle{background-position:right 40% top 19px;}.touchevents .draggable.drag a.tabledrag-handle .handle{background-position:50% -32px;}.tabledrag-toggle-weight-wrapper{text-align:right;}[dir="rtl"] .tabledrag-toggle-weight-wrapper{text-align:left;}.indentation{float:left;width:20px;height:1.7em;margin:-0.4em 0.2em -0.4em -0.4em;padding:0.42em 0 0.42em 0.6em;}[dir="rtl"] .indentation{float:right;margin:-0.4em -0.4em -0.4em 0.2em;padding:0.42em 0.6em 0.42em 0;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/misc/tree.png) no-repeat -11px center;}
.joyride-tip-guide{background:#000;background:rgba(0,0,0,0.8);color:#fff;border-radius:5px;}@media only screen and (max-width:767px){.joyride-tip-guide{border-radius:0;}}.joyride-tip-guide .joyride-nub{border:solid 14px rgba(0,0,0,0.8);}.joyride-tip-guide .joyride-nub.top{border-top-color:transparent;border-left-color:transparent;border-right-color:transparent;}.joyride-tip-guide .joyride-nub.bottom{border-bottom-color:transparent;border-left-color:transparent;border-right-color:transparent;}.joyride-tip-guide .joyride-nub.right{border-top-color:transparent;border-right-color:transparent;border-bottom-color:transparent;}[dir="rtl"] .joyride-tip-guide .joyride-nub.right{border-left-color:transparent;border-right-color:rgba(0,0,0,0.8);}.joyride-tip-guide .joyride-nub.left{border-top-color:transparent;border-left-color:transparent;border-bottom-color:transparent;}[dir="rtl"] .joyride-tip-guide .joyride-nub.left{border-left-color:rgba(0,0,0,0.8);border-right-color:transparent;}.joyride-tip-guide .joyride-nub.top-right{border-top-color:transparent;border-left-color:transparent;border-right-color:transparent;}.joyride-tip-guide h2{color:#fff;}.joyride-tip-guide p{line-height:1.385em;}.joyride-tip-guide a{color:#fff;}.joyride-tip-guide .joyride-next-tip{margin:0;}.joyride-timer-indicator-wrap{border:solid 1px rgba(255,255,255,0.1);}.joyride-timer-indicator{background:rgba(255,255,255,0.25);}.joyride-close-tip{color:rgba(255,255,255,0.4);text-decoration:none;font-size:1.4em;font-weight:bold;}.joyride-close-tip:hover,.joyride-close-tip:focus{color:rgba(255,255,255,0.9);text-decoration:none;}.joyride-modal-bg{background:rgba(0,0,0,0.5);}.joyride-expose-wrapper{background-color:#fff;}.joyride-expose-cover{background:transparent;}
.calendar-calendar tr.odd,.calendar-calendar tr.even{background-color:#fff;}.calendar-calendar table{border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;width:100%;clear:both;}.calendar-calendar .month-view table{border:none;padding:0;margin:0;width:100%;clear:both;}.calendar-calendar .year-view td{width:32%;padding:1px;border:none;}.calendar-calendar .year-view td table td{width:13%;padding:0;}.calendar-calendar tr{padding:0;margin:0;background-color:white;}.calendar-calendar th{color:#fff;background-color:#ccc;text-align:center;margin:0;}.calendar-calendar th a{font-weight:bold;color:#fff;background-color:#ccc;}.calendar-calendar td{width:12%;min-width:12%;border:1px solid #ccc;color:#777;text-align:right;vertical-align:top;margin:0;padding:0;}.calendar-calendar .mini{border:none;}.calendar-calendar td.week{width:1%;min-width:1%;}.calendar-calendar .week{clear:both;font-style:normal;color:#555;font-size:0.8em;}.calendar-calendar .week a{font-weight:normal;}.calendar-calendar .inner{min-height:5em;height:auto !important;height:5em;padding:0;margin:0;}.calendar-calendar .inner div{padding:0;margin:0;}.calendar-calendar .inner p{padding:0 0 .8em 0;margin:0;}.calendar-calendar td a{font-weight:bold;text-decoration:none;}.calendar-calendar td a:hover{text-decoration:underline;}.calendar-calendar td.year,.calendar-calendar td.month{text-align:center;}.calendar-calendar th.days{color:#ccc;background-color:#224;text-align:center;padding:1px;margin:0;}.calendar-calendar div.day{float:right;text-align:center;padding:0.125em 0.25em 0 0.25em;margin:0;background-color:#f3f3f3;border:1px solid gray;border-width:0 0 1px 1px;clear:both;width:1.5em;}.calendar-calendar div.calendar{background-color:#fff;border:solid 1px #ddd;text-align:left;margin:0 .25em .25em 0;width:96%;float:right;clear:both;}.calendar-calendar .day-view div.calendar{float:none;width:98%;margin:1% 1% 0 1%;}.calendar-calendar div.title{font-size:.8em;text-align:center;}.calendar-calendar div.title a{color:#000;}.calendar-calendar div.title a:hover{color:#c00;}.calendar-calendar .content{clear:both;padding:3px;padding-left:5px;}.calendar div.form-item{white-space:normal;}table td.mini,table th.mini,table.mini td.week{padding:0 1px 0 0;margin:0;}table td.mini a{font-weight:normal;}.calendar-calendar .mini-day-off{padding:0px;}.calendar-calendar .mini-day-on{padding:0px;}table .mini-day-on a{text-decoration:underline;}.calendar-calendar .mini .title{font-size:.8em;}.mini .calendar-calendar .week{font-size:.7em;}.mini-row{width:100%;border:none;}.mini{width:32%;vertical-align:top;}.calendar-calendar .stripe{height:5px;width:auto;font-size:1px !important;line-height:1px !important;}.calendar-calendar .day-view .stripe{width:100%;}table.calendar-legend{background-color:#ccc;width:100%;margin:0;padding:0;}table.calendar-legend tr.odd .stripe,table.calendar-legend tr.even .stripe{height:12px !important;font-size:9px !important;line-height:10px !important;}.calendar-legend td{text-align:left;}.calendar-empty{font-size:1px;line-height:1px;}.calendar-calendar td.calendar-agenda-hour{font-family:serif;text-align:right;border:none;border-top:1px #333 dotted;padding-top:.25em;width:1%;}.calendar-calendar td.calendar-agenda-no-hours{min-width:1%;}.calendar-calendar td.calendar-agenda-hour .calendar-hour{font-size:1.2em;font-weight:bold;}.calendar-calendar td.calendar-agenda-hour .calendar-ampm{font-size:1em;}.calendar-calendar td.calendar-agenda-items{border:1px #333 dotted;text-align:left;}.calendar-calendar td.calendar-agenda-items div.calendar{width:auto;padding:.25em;margin:0;}.calendar-calendar div.calendar div.inner .calendar-agenda-empty{width:100%;text-align:center;vertical-align:middle;padding:1em 0;background-color:#fff;}.calendar-date-select form{text-align:right;float:right;width:25%;}.calendar-date-select div,.calendar-date-select input,.calendar-date-select label{text-align:right;padding:0;margin:0;float:right;clear:both;}.calendar-date-select .description{float:right;}.calendar-label{font-weight:bold;display:block;clear:both;}.calendar-calendar div.date-nav{background-color:#ccc;color:#777;width:auto;border:1px solid #ccc;}.calendar-calendar div.date-nav a,.calendar-calendar div.date-nav h3{color:#777;}.calendar-calendar th.days{background-color:#eee;color:#777;font-weight:bold;border:1px solid #ccc;}.calendar-calendar td.empty{background:#ccc;border-color:#ccc;}.calendar-calendar table.mini td.empty{background:#fff;border-color:#fff;}.calendar-calendar td div.day{border:1px solid #ccc;border-top:none;border-right:none;margin-bottom:2px;}.calendar-calendar td .inner div,.calendar-calendar td .inner div a{background:#eee;}.calendar-calendar div.calendar{border:none;font-size:x-small;}.calendar-calendar td .inner div.calendar div,.calendar-calendar td .inner div.calendar div a{border:none;background:#ffc;padding:0 2px;}.calendar-calendar td .inner div.calendar div.calendar-more,.calendar-calendar td .inner div.calendar div.calendar-more a{color:#444;background:#fff;text-align:right;}.calendar-calendar td .inner .view-field,.calendar-calendar td .inner .view-field a{color:#444;font-weight:normal;}.calendar-calendar td span.date-display-single,.calendar-calendar td span.date-display-start,.calendar-calendar td span.date-display-end,.calendar-calendar td span.date-display-separator{font-weight:bold;}.calendar-calendar td .inner div.day a{color:#4b85ac;}.calendar-calendar tr td.today,.calendar-calendar tr.odd td.today,.calendar-calendar tr.even td.today{background-color:#C3D6E4;}.calendar-calendar td .inner div.calendar div div.view-data-node-data-field-date-field-date-value{border-bottom:1px solid #ccc;}.calendar-calendar td.past{}.calendar-calendar td.future{}.calendar-calendar td.has-events{}.calendar-calendar td.has-no-events{}
.calendar-calendar tr.odd,.calendar-calendar tr.even{background-color:#fff;}.calendar-calendar table{border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;width:100%;}.calendar-calendar .month-view table{border:none;padding:0;margin:0;width:100%;}.calendar-calendar .year-view td{width:32%;padding:1px;border:none;}.calendar-calendar .year-view td table td{width:13%;padding:0;}.calendar-calendar tr{padding:0;margin:0;background-color:white;}.calendar-calendar th{text-align:center;margin:0;}.calendar-calendar th a{font-weight:bold;}.calendar-calendar td{width:14%;border:1px solid #ccc;color:#777;text-align:right;vertical-align:top;margin:0;padding:0;}.calendar-calendar .mini{border:none;}.calendar-calendar td.week{width:1%;min-width:1%;}.calendar-calendar .week{clear:both;font-style:normal;color:#555;font-size:0.8em;}.calendar-calendar .inner{height:auto !important;height:5em;padding:0;margin:0;}.calendar-calendar .inner div{padding:0;margin:0;}.calendar-calendar .inner p{padding:0 0 .8em 0;margin:0;}.calendar-calendar td a{font-weight:bold;text-decoration:none;}.calendar-calendar td a:hover{text-decoration:underline;}.calendar-calendar td.year,.calendar-calendar td.month{text-align:center;}.calendar-calendar th.days{color:#ccc;background-color:#224;text-align:center;padding:1px;margin:0;}.calendar-calendar div.day{float:right;text-align:center;padding:0.125em 0.25em 0 0.25em;margin:0;background-color:#f3f3f3;border:1px solid gray;border-width:0 0 1px 1px;clear:both;width:1.5em;}.calendar-calendar div.calendar{background-color:#fff;border:solid 1px #ddd;text-align:left;margin:0 .25em .25em 0;width:96%;float:right;clear:both;}.calendar-calendar .day-view div.calendar{float:none;width:98%;margin:1% 1% 0 1%;}.calendar-calendar div.title{font-size:.8em;text-align:center;}.calendar-calendar div.title a{color:#000;}.calendar-calendar div.title a:hover{color:#c00;}.calendar-calendar .content{clear:both;padding:3px;padding-left:5px;}.calendar div.form-item{white-space:normal;}table td.mini,table th.mini,table.mini td.week{padding:0 1px 0 0;margin:0;}table td.mini a{font-weight:normal;}.calendar-calendar .mini-day-off{padding:0px;}.calendar-calendar .mini-day-on{padding:0px;}table .mini-day-on a{text-decoration:underline;}.calendar-calendar .mini .title{font-size:.8em;}.mini .calendar-calendar .week{font-size:.7em;}.mini-row{width:100%;border:none;}.mini{width:32%;vertical-align:top;}.calendar-calendar .stripe{height:5px;width:auto;font-size:1px !important;line-height:1px !important;}.calendar-calendar .day-view .stripe{width:100%;}table.calendar-legend{background-color:#ccc;width:100%;margin:0;padding:0;}table.calendar-legend tr.odd .stripe,table.calendar-legend tr.even .stripe{height:12px !important;font-size:9px !important;line-height:10px !important;}.calendar-legend td{text-align:left;padding-left:5px;}.calendar-empty{font-size:1px;line-height:1px;}.calendar-calendar td.calendar-agenda-hour{text-align:right;border:none;border-top:1px solid #CCCCCC;padding-top:.25em;width:1%;}.calendar-calendar td.calendar-agenda-no-hours{min-width:1%;}.calendar-calendar td.calendar-agenda-hour .calendar-hour{font-size:1.2em;font-weight:bold;}.calendar-calendar td.calendar-agenda-hour .calendar-ampm{font-size:1em;}.calendar-calendar td.calendar-agenda-items{border:1px solid #CCCCCC;text-align:left;}.calendar-calendar td.calendar-agenda-items div.calendar{width:auto;padding:.25em;margin:0;}.calendar-calendar div.calendar div.inner .calendar-agenda-empty{width:100%;text-align:center;vertical-align:middle;padding:1em 0;background-color:#fff;}.calendar-date-select form{text-align:right;float:right;width:25%;}.calendar-date-select div,.calendar-date-select input,.calendar-date-select label{text-align:right;padding:0;margin:0;float:right;clear:both;}.calendar-date-select .description{float:right;}.calendar-label{font-weight:bold;display:block;clear:both;}.calendar-calendar div.date-nav{background-color:#ccc;color:#777;padding:0.2em;width:auto;border:1px solid #ccc;}.calendar-calendar div.date-nav a,.calendar-calendar div.date-nav h3{color:#777;text-decoration:none;}.calendar-calendar th.days{background-color:#eee;color:#777;font-weight:bold;border:1px solid #ccc;}.calendar-calendar td.empty{background:#ccc;border-color:#ccc;color:#cc9;}.calendar-calendar table.mini td.empty{background:#fff;border-color:#fff;}.calendar-calendar td div.day{border:1px solid #ccc;border-top:none;border-right:none;margin-bottom:2px;}.calendar-calendar td .inner div,.calendar-calendar td .inner div a{background:#eee;}.calendar-calendar div.calendar{border:none;font-size:x-small;}.calendar-calendar td .inner div.calendar div,.calendar-calendar td .inner div.calendar div a{border:none;background:#ffc;padding:0;}.calendar-calendar td .inner div.calendar div.calendar-more,.calendar-calendar td .inner div.calendar div.calendar-more a{color:#444;background:#fff;text-align:right;}.calendar-calendar td .inner .view-field,.calendar-calendar td .inner .view-field a{color:#444;font-weight:normal;}.calendar-calendar td span.date-display-single,.calendar-calendar td span.date-display-start,.calendar-calendar td span.date-display-end,.calendar-calendar td span.date-display-separator{font-weight:bold;}.calendar-calendar td .inner div.day a{color:#4b85ac;}.calendar-calendar tr td.today,.calendar-calendar tr.odd td.today,.calendar-calendar tr.even td.today{background-color:#C3D6E4;}.calendar-calendar td .inner div.calendar div div.view-data-node-data-field-date-field-date-value{}.calendar-calendar td.past{}.calendar-calendar td.future{}.calendar-calendar td.has-events{}.calendar-calendar td.has-no-events{}.calendar-calendar tbody{border-top:none;}.calendar-calendar .month-view .full .inner,.calendar-calendar .week-view .full .multi-day .inner{height:auto;min-height:auto;}.calendar-calendar .week-view .full .calendar-agenda-hour,.calendar-calendar .month-view .full .single-day .inner .view-item{float:left;width:100%;}.calendar-calendar .week-view .full .calendar-agenda-hour,.calendar-calendar .day-view .full .calendar-agenda-hour{padding-right:2px;}.calendar-calendar .week-view .full .calendar-agenda-hour{width:6%;min-width:0px;}.calendar-calendar .week-view .full .days{width:13%;}.calendar-calendar .month-view .full div.calendar,.calendar-calendar .week-view .full div.calendar,.calendar-calendar .day-view div.calendar{width:auto;}.calendar-calendar .month-view .full tr.date-box,.calendar-calendar .month-view .full tr.date-box td,.calendar-calendar .month-view .full tr.multi-day,.calendar-calendar .month-view .full tr.multi-day td{height:19px;max-height:19px;}.calendar-calendar .month-view .full tr.single-day .no-entry,.calendar-calendar .month-view .full tr.single-day .no-entry .inner{height:44px !important;line-height:44px;}.calendar-calendar .month-view .full tr.single-day .noentry-multi-day,.calendar-calendar .month-view .full tr.single-day .noentry-multi-day .inner{height:22px !important;line-height:22px;}.calendar-calendar .month-view .full td,.calendar-calendar .week-view .full td,.calendar-calendar .day-view  td{vertical-align:top;padding:1px 2px 0 2px}.calendar-calendar .month-view .full td.date-box{height:1%;border-bottom:0px;padding-bottom:2px;}.calendar-calendar .month-view .full .week{font-size:inherit;}.calendar-calendar .month-view .full .week a,.calendar-calendar .week-view .full .week a{color:#4b85ac;}.calendar-calendar .month-view .full td .inner div.day,.calendar-calendar .month-view .full td .inner div.day a{border:none;background:none;margin-bottom:0px;}.calendar-calendar .month-view .full td.date-box .inner,.calendar-calendar .week-view .full td.date-box .inner{min-height:inherit;}.calendar-calendar .month-view .full td.multi-day,.calendar-calendar .week-view .full td.multi-day{border-top:0px;border-bottom:0px;}.calendar-calendar .week-view .full .first td.multi-day{border-top:1px solid #CCCCCC;}.calendar-calendar .month-view .full td.single-day{border-top:0px;}.calendar-calendar .month-view .full td.multi-day .inner,.calendar-calendar .week-view .full td.multi-day .inner,.calendar-calendar .day-view .full td.multi-day .inner{min-height:inherit;width:auto;position:relative;}.calendar-calendar .month-view .full td.multi-day.no-entry{min-height:0px;}.calendar-calendar .month-view .full td.single-day .calendar-empty,.calendar-calendar .month-view .full td.single-day.empty,.calendar-calendar .month-view .full td.date-box.empty{background:#F4F4F4;}.calendar-calendar .month-view .full td.single-day .inner div,.calendar-calendar .month-view .full td.single-day .inner div a,.calendar-calendar .month-view .full td.multi-day .inner div,.calendar-calendar .month-view .full td.multi-day .inner div a,.calendar-calendar .month-view .full td .inner div.calendar.monthview div,.calendar-calendar .month-view .full td .inner div.calendar.monthview div a,.calendar-calendar .week-view .full td.single-day .inner div,.calendar-calendar .week-view .full td.single-day .inner div a,.calendar-calendar .week-view .full td.multi-day .inner div,.calendar-calendar .week-view .full td.multi-day .inner div a,.calendar-calendar .week-view .full td .inner div.calendar.weekview div,.calendar-calendar .week-view .full td .inner div.calendar.weekview div a,.calendar-calendar .day-view .full td .inner div.view-item,.calendar-calendar .day-view .full td .inner div.calendar div,.calendar-calendar .day-view .full td .inner div.calendar div a{background:none;}.calendar-calendar .day-view .full td .inner div.calendar div,.calendar-calendar .day-view .full td .inner div.calendar div a{margin:0px 3px;}.calendar-calendar .day-view .full td .inner div.calendar div.stripe{margin:0px;}.calendar-calendar .month-view .full tr td.today,.calendar-calendar .month-view .full tr.odd td.today,.calendar-calendar .month-view .full tr.even td.today{background:none;border-left:2px solid #7C7F12;border-right:2px solid #7C7F12;}.calendar-calendar .month-view .full td.date-box.today{border-width:2px 2px 0px 2px;border-style:solid;border-color:#7C7F12;}.calendar-calendar .month-view .full tr td.single-day.today{border-bottom:2px solid #7C7F12;}.calendar-calendar .month-view .full tr td.multi-day.starts-today{border-left:2px solid #7C7F12;}.calendar-calendar .month-view .full tr td.multi-day.ends-today{border-right:2px solid #7C7F12;}.calendar-calendar .month-view .full tr td.multi-day,.calendar-calendar .month-view .full tr td.single-day{border-top:0px;}.calendar-calendar .month-view .full tr td.multi-day,.calendar-calendar .month-view .full tr td.date-box{border-bottom:0px;}.calendar-calendar .month-view .full .inner .monthview,.calendar-calendar .week-view .full .inner .weekview,.calendar-calendar .day-view .full .inner .dayview{-moz-border-radius:5px;border-radius:5px;width:auto;float:none;display:block;margin:.25em auto;position:relative;}.calendar-calendar .month-view .full td.single-day div.monthview,.calendar-calendar .week-view .full td.single-day div.weekview,.calendar-calendar .day-view .full td.single-day div.dayview{background:#ffc;width:auto;padding:0px 3px;overflow:hidden;}.calendar-calendar .month-view .full td.single-day .calendar-more div.monthview{background:none;}.calendar-calendar .day-view td div.dayview{padding:0px;}.calendar-calendar .month-view .full td.multi-day div.monthview,.calendar-calendar .week-view .full td.multi-day div.weekview,.calendar-calendar .day-view .full td.multi-day div.dayview{background:#74a5d7;height:1.9em;overflow:hidden;margin:0px auto;color:#ffffff;position:relative;}.calendar-calendar .week-view .full td.multi-day div.weekview{height:3.5em;}.calendar-calendar .month-view .full td.multi-day .inner .view-field,.calendar-calendar .month-view .full td.multi-day .inner .view-field a,.calendar-calendar .week-view .full td.multi-day .inner .view-field,.calendar-calendar .week-view .full td.multi-day .inner .view-field a,.calendar-calendar .day-view .full td.multi-day .inner .view-field,.calendar-calendar .day-view .full td.multi-day .inner .view-field a{color:#ffffff;}.calendar-calendar .full td.multi-day .calendar .view-field,.calendar-calendar .full td.single-day .calendar .view-field{}.calendar-calendar .day-view .full td.multi-day div.dayview,.calendar-calendar .week-view .full td.multi-day div.weekview{margin-bottom:2px;}.calendar-calendar .month-view .full td.multi-day .calendar.monthview .view-field{white-space:nowrap;float:left;margin-right:3px;}.calendar-calendar .week-view .full td.multi-day .calendar.weekview .view-field{white-space:nowrap;display:inline;margin-right:3px;}.calendar-calendar .day-view .full td.multi-day .calendar.weekview .view-field{display:block;}.calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents,.calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents{position:absolute;width:3000px;left:5px;}.calendar-calendar .day-view td .stripe,.calendar-calendar .month-view .full td .stripe,.calendar-calendar .week-view .full td .stripe{-moz-border-radius:5px 5px 0px 0px;border-radius:5px 5px 0px 0px;left:0px;top:0px;width:100%;height:3px;z-index:2;}.calendar-calendar .full td.single-day .continuation,.calendar-calendar .full td.single-day .continues,.calendar-calendar .full td.single-day .cutoff{display:none;}.calendar-calendar .month-view .full td.multi-day  .inner .monthview .continuation,.calendar-calendar .week-view .full td.multi-day  .inner .weekview .continuation{float:left;margin-right:3px;height:1.9em;}.calendar-calendar .week-view .full td.multi-day  .inner .weekview .continuation{height:2.75em;padding-top:0.75em;margin-right:8px;}.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff{position:absolute;right:0px !important;right:-1px;width:10px;text-align:left;background:#74a5d7;-moz-border-radius:0px 5px 5px 0px;border-radius:0px 5px 5px 0px;height:1.9em;padding-left:6px;z-index:1;}.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff{height:2.75em;padding-top:0.75em;}.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff{width:8px;padding-left:0px;}.calendar-calendar .week-view .full td.multi-day{padding:2px;}.calendar-calendar .week-view td.single-day div.calendar{width:100%;padding-left:0px;padding-right:0px;}.calendar-calendar .week-view .full tr.last td.multi-day{border-bottom:1px solid #CCCCCC;}.view .date-nav-wrapper .clear-block{margin-bottom:10px;}.view .date-nav-wrapper{position:relative;margin-top:5px;width:100%;}.view .date-nav-wrapper .date-nav{background-color:transparent;border:0px;height:30px;height:auto;min-height:30px;position:relative;margin-bottom:10px;}.view .date-nav-wrapper .date-prev a,.view .date-nav-wrapper .date-next a{text-decoration:none;color:inherit;font-size:12px;}.view .date-nav-wrapper.date-nav a:hover{text-decoration:underline;}.view .date-nav-wrapper .date-prev{-moz-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;background:none repeat scroll 0 0 #dfdfdf;float:none;padding:5px 0;position:absolute;right:60px;left:auto;text-align:right;top:0px;width:auto;z-index:1;font-size:12px;}.block-views .view .date-nav-wrapper .date-prev{left:0;right:auto;}.view .date-nav-wrapper .date-prev a{margin-left:10px;font-weight:bold;}.view .date-nav-wrapper .date-heading{position:relative;width:100%;top:0px;text-align:center;z-index:0;}.view .date-nav-wrapper .date-heading h3{line-height:30px;font-size:1.7em;}.view .date-nav-wrapper .date-next{-moz-border-radius:0px 5px 5px 0px;border-radius:0px 5px 5px 0px;background:none repeat scroll 0 0 #dfdfdf;float:none;padding:5px 0;position:absolute;right:0px;text-align:right;top:0px;width:auto;z-index:1;font-size:12px;}.view .date-nav-wrapper .date-next a{margin-right:10px;font-weight:bold;}.attachment .calendar-calendar{margin-top:20px;clear:both;}.calendar-calendar th a,.attachment .calendar-calendar th{background-color:transparent;border:0px;}.attachment .calendar-calendar th.calendar-agenda-hour{color:#777777;font-weight:bold;text-align:right;}.view-calendar .feed-icon{margin-top:5px;}.view table.mini .date-prev,.view table.mini .date-next{background:none;}.date-nav div.date-prev,.date-nav div.date-next,.date-nav{width:auto;}ul.calendar-links,.region-content ul.calendar-links{margin:0;padding:0;}.year-view div.month-view div.date-nav{background-color:#DFDFDF;min-height:20px;}
html.inIframe footer#site-footer,html.inIframe header#site-header,html.inIframe #menu-wrapper,html.inIframe [id*="block-"][id*="-breadcrumbs"],html.inIframe h1,html.inIframe #toolbar-administration,html.inIframe .alert{display:none !important;}html.inIframe .lp-content-item-errors .alert,html.inIframe .opigno-alert-danger{display:block !important;}html.inIframe body{padding-top:0 !important;}html.inIframe .container{max-width:none;}html.inIframe,html.inIframe body,html.inIframe .dialog-off-canvas-main-canvas{min-height:1px !important;display:block !important;}html.inIframe #main{padding-left:0;padding-right:0;}html.inIframe body #main #main-content{flex:0 0 auto;}
.toolbar-icon-opigno-module-settings:before{background-image:url(/modules/contrib/opigno_module/img/opigno-module-menu.svg);}
#site-header #search-form form .form-group{margin:0;}
