<footer class="bkg-darkest-gray padding-top-50 padding-bottom-100" id="footer-block">
  <article class="container-fluid">
    <section class="row">

    <!-- ------- Footer Logo, Donate, Copyright (full screen) -------- -->
    <div class="col-lg-6 text-sm-center text-lg-left align-center-on-mobile-left-on-desktop">
        {%  if site_config_logo_additional_url %}
          <div id="footer-logo">
            <img alt="{{ site_config_site_full_name }}" src="{{ site_config_logo_additional_url }}" />            
          </div>
        {%  endif %}

        {% if site_config_donate_button_url %}
          <div id="footer-donate-button">
            <a href="{{ site_config_donate_button_url }}" target="_blank" class="button button-rounded button-primary my-3 px-5 text-almost-black text-semibold">{{ site_config_donate_button_text }}</a>          
          </div>
        {% endif %}

        {%  if site_config_copyright %}
          <div class="copyright desktop-only">
            <span class="copyright-year">&copy;{{ "now"|date("Y") }}</span>&nbsp;<span class="copyright-text">{{ site_config_copyright | raw}}</span>
          </div>
        {%  endif %}
      </div>

      <!-- ------- Footer Quick Links and Social Media Links -------- -->
      <div class="col-lg-3 text-sm-center text-lg-left align-center-on-mobile-left-on-desktop" id="footer-links">
        <div id="footer-quick-links">
          {%  if site_config_footer_links_set_1 %}
              {{ site_config_footer_links_set_1 | raw }}
          {%  endif %}
        </div><!-- /footer-quick-links -->

        <div id="footer-social-links">
          <p class="text-light-gray">{{ site_config_social_heading }}</p>
          <ul class="horizontal">
            {% if (site_config_social_facebook_url) %}
              <li class="first"><a href="{{ site_config_social_facebook_url }}" target="_blank"><img alt="Facebook" src="{{ base_path ~ directory }}/images/social-media-icons/facebook.png" /></a></li>
            {%  endif %}

            {% if (site_config_social_twitter_url) %}
              <li><a href="{{ site_config_social_twitter_url }}" target="_blank"><img alt="Twitter" src="{{ base_path ~ directory }}/images/social-media-icons/twitter.png" /></a></li>
            {%  endif %}

            {% if (site_config_social_youtube_url) %}
              <li><a href="{{ site_config_social_youtube_url }}" target="_blank"><img alt="YouTube" src="{{ base_path ~ directory }}/images/social-media-icons/youtube.png" /></a></li>
            {%  endif %}

            {% if (site_config_social_linkedin_url) %}
              <li><a href="{{ site_config_social_linkedin_url }}" target="_blank"><img alt="Facebook" src="{{ base_path ~ directory }}/images/social-media-icons/linked-in.png" /></a></li>
            {%  endif %}


            {% if (site_config_social_instagram_url) %}
              <li class="last"><a href="{{ site_config_social_instagram_url }}" target="_blank"><img alt="Instagram" src="{{ base_path ~ directory }}/images/social-media-icons/instagram.png" /></a></li>
            {%  endif %}
          </ul>
        </div> <!-- /footer-social-links -->
      </div> <!-- /footer-links -->


      <!-- ------- Footer Need Help Links, Copyright (mobile screen) -------- -->
      <div class="col-lg-3 text-sm-center text-lg-left align-center-on-mobile-left-on-desktop" id="footer-links-help">
          {%  if site_config_footer_links_set_2 %}
              {{ site_config_footer_links_set_2 | raw }}
          {%  endif %}
        <div id="footer-link-to-main-site" class="text-sm-center text-lg-left mt-5">
          <a href="{{ site_config_organization_website_url }}" target="_blank">{{ site_config_organization_website_title }}</a>
        </div>

        {%  if site_config_copyright %}
          <div class="copyright mobile-only align-center">
            <span class="copyright-year">&copy;{{ "now"|date("Y") }}</span>&nbsp;<span class="copyright-text">{{ site_config_copyright | raw}}</span>
          </div>
        {%  endif %}
      </div>
    </section>
  </article>
</footer>
