{% if page.drn_admin_menu %}
    {{ page.drn_admin_menu }}
{% endif %}

{% if (logged_in and site_config_sitewide_notification) %}
  <section id="sitewide-notification">
    {{ site_config_sitewide_notification | raw }}
  </section>
{%  endif %}


<header id="site-header" class="header-wrapper px-3">
  <section class="d-flex align-items-center">
    <article id="header-branding" class="d-flex align-items-center mr-auto">
      <section id="header-logo">
        {%  if site_config_logo_header_url %}
          <div id="footer-logo">
            <img alt="{{ site_config_site_full_name }}" src="{{ site_config_logo_header_url }}" />            
          </div>
        {%  endif %}
      </section>
      {% if page.menu %}
        <section id="header-nav" class="ml-4 ul-horizontal">
            {{ page.menu }}
        </section>
      {% endif %}
    </article>

    {% if logged_in %}
      <article id="header-icons" class="d-flex">
        {% if page.admin_opigno %}
          <section class="d-none d-md-block dropdown p-2">
            <a href="#" id="header-admin-dropdown" class="header-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
            <article class="dropdown-menu dropdown-menu-right">
              <section class="dropdown-menu-header d-flex align-items-center p-4">
                <article class="mr-auto"><strong>{{ 'administration'|t }}</strong></article>
                <article class="close-dropdown">close</article>
              </section>
              <section class="dropdown-menu-content p-4 d-flex">
                {{ page.admin_opigno }}
              </section>
            </article>
          </section>
        {% endif %}

        <section id="shopping-cart-link" class="p-2">
          <a href="/cart" class="header-icon">
            <i class="fa fa-shopping-cart"></i>
            {% if cart_item_count %}
              <div class="unread">{{ cart_item_count }}</div>
            {% endif %}</a>
        </section>

        <div id="header-right">
          <section id="header-notifications-dropdown" class="user-notifications dropdown p-2">
            <a href="{{ path('view.opigno_notifications.page_all') }}" id="notifications-icon-dropdown" class="header-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell"></i>
              {% if notifications_unread_count %}
                <div class="unread">{{ notifications_unread_count }}</div>
              {% endif %}
            </a>
            <article class="dropdown-menu dropdown-menu-right">
              <section class="dropdown-menu-header d-flex align-items-center p-4">
                <article class="mr-auto"><strong>{{ 'notifications'|t }}</strong></article>
                <article class="close-dropdown">close</article>
              </section>
              <section class="dropdown-menu-content">
                <a id="read-all-notifications" class="mark-as-read mb-5" href="#">{{ 'Mark as all read'|t }}</a>
                {{ notifications_unread }}
              </section>
              <section class="dropdown-menu-end-button mt-5">
                <a class="primary text-center" href="{{ path('view.opigno_notifications.page_all') }}">{{ 'See all notifications'|t }}</a>
              </section>
              {{ attach_library('opigno_notification/opigno_notification') }}
            </article>
          </section>
        </div>
      </article>

      <article id="header-user">
        <section id="header-user-dropdown" class="dropdown ml-3">
          <a href="{{ url('entity.user.canonical', {'user': user.id}) }}" class="d-flex" data-toggle="dropdown">
            <span class="picto mx-auto my-1" {% if user_picture %}style="background-image:url('{{ user_picture }}')"{% endif %}></span>
          </a>
          <div id="header-user-name">
            {{ loggedin_user_first_name }} {{ loggedin_user_last_name }}
          </div>
          <article class="dropdown-menu dropdown-menu-right">
            <section class="dropdown-menu-header d-flex align-items-center p-4">
              <article class="mr-auto"><strong>{{ user.username }}</strong></article>
              <article class="close-dropdown">close</article>
            </section>
            <section class="dropdown-menu-content mt-5">
              <a class="dropdown-item" href="/user">
                <span>{{ 'My Dashboard'|t }}</span>
              </a>
              <a class="dropdown-item" href="{{ url('entity.user.edit_form', {'user': user.id}) }}">
                <span>{{ 'Update Profile'|t }}</span>
              </a>
              <!-- <a class="dropdown-item" href="/user/password"> -->
               <a class="dropdown-item" href="/user/{{user.id}}/edit?pass-reset">
                <span>{{ 'Change Password'|t }}</span>
              </a>
            </section>
            <section class="dropdown-menu-end-button mt-5">
              <a class="primary text-center" href="{{ url('user.logout') }}">{{ 'Logout'|t }}</a>
            </section>
          </article>
        </section>
      </article>

      <button class="navbar-toggler"></button>
    {% else %}
      <div id="header-right" class="ml-auto d-flex">
        <div id="nav-right-inner" class="align-right text-right pt-3">
          <a class="button button-secondary button-rounded text-white text-semibold" href="/user/login">Sign in</a>
          <p class="login-instructions text-smaller">Don't have an account? <a href="/user/register">Sign up here</a></p>
        </div>
      </div>
    {% endif %}

  </section>
</header>
