<!-- START: page--user--register.html.twig -->
    <div id="content-wrapper">
      	<div class="container">
      		<div class="user-form-wrapper px-lg-6" id="user-form-wrapper-register">
	       		<div class="row text-center">
	       			<div class="col">
	       				{% if page.status_messages %}
					        <div class="message-wrapper">
					            {{ page.status_messages }}
					        </div>
					    {% endif %}


	    				<p class="text-center text-smaller" id="register-intro-text">
	    					<a href="/user">Already have an account? Sign in here.</a>
	    				</p>

	    				<h1 class="page-title">Sign Up</h1>
	    			</div>
	    		</div>

	       		<div class="row">
	       			<div class="col">
				    	<div class="user-form" id="user-form-register">
				        	{{ register_form_custom }}
				       	</div>
				    </div>
				</div>

				<section class="row">
					<div class="col pt-5">
						<p class="text-left"><strong>Need Help?</strong> <a href="/contact?subject=portal&subtopic=sign_up">Submit a ticket &raquo;</a> </p>
					</div>
				</section>
       		</div>
       	</div> <!-- /container -->
    </div><!-- /content-wrapper -->
<!-- END: page--user--register.html.twig -->
