<article class="container user-form-wrapper" id="user-form-wrapper-login">
  <section class="row">
    <article class="col">
      {% if page.status_messages %}
        <div class="message-wrapper">
            {{ page.status_messages }}
        </div>
      {% endif %}

      <h1 class="page-title">Welcome Back</h1>
    </article>
  </section>

  <section class="row my-3 px-lg-6">
    <article class="col">
      <div class="user-form" id="user-form-login">
        {{ login_form_custom }}
      </div>
    </article>
  </section>

  <section class="row my-5 px-lg-6">
    <article class="col">
      <p>Sign in and update your profile and email for the latest news and ways to engage with ADRN.</p>
    </article>
  </section>

  <section class="row">
    <article class="col">
      <p class="text-left"><strong>NEW VOLUNTEER?</strong> <a href="/user/register">Complete a Volunteer Profile to get started &raquo;</a> </p>
    </article>
  </section>

  <section class="row">
    <div class="col">
      <p class="text-left"><strong>Need Help?</strong> <a href="/contact?subject=portal&subtopic=sign_in">Submit a ticket &raquo;</a> </p>
    </div>
  </section>

</article>
