{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

{% include '@drn_base/layout/header.html.twig' %}

<article class="container-fluid p-0 m-0">
  <section class="row">
    <article class="col">
      <section class="d-flex flex-column flex-lg-row">
        {% if logged_in %}<!-- NOTE: must check for logged_in, even if Drupal block config is set to Roles = Authenitcated -->
          {% if page.sidebar_menu %}
            <aside id="sidebar-nav" class="m-0 pl-5 pl-lg-2 pr-2 py-4">
              <button class="d-lg-none navbar-toggler" type="button" onclick="document.getElementById('sidebar-toggle-content').classList.toggle('d-none')">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div id="sidebar-toggle-content" class="d-none d-lg-block">
                <div id="sidebar-nav-button" class="mt-2 mb-3 ml-2 px-3">
                  <a href="/courses" class="button button-small button-primary">Register for Training</a>
                </div>
                {{ page.sidebar_menu }}
              </div>
            </aside>
          {% endif %}
        {% endif %}
        <article class="flex-grow-1 p-4">
          {% if page.status_messages %}
            <div class="message-wrapper">
                {{ page.status_messages }}
            </div>
          {% endif %}

          {% if page.top %}
            <div id="content-top">
              {{ page.top }}
            </div>
          {% endif %}

          {% if page.content %}
            <div id="content-wrapper">
              {{ page.content }}
            </div>
          {% endif %}

          {% if page.bottom %}
            <div id="bottom-content">
              {{ page.bottom }}
            </div>
          {% endif %}
        </article>
      </section>
    </article>
  </section>
  <section class="row">
    <article class="col p-0">
      {% if page.content_not_contained %}
        <div id="content-not-contained">
          {{ page.content_not_contained }}
        </div>
      {% endif %}      
    </article>
  </section>
</article>

{% include '@drn_base/layout/footer.html.twig' %}
