{% include '@drn_base/layout/header.html.twig' %}

<article class="container-fluid p-0 m-0">
  <section class="row">
    <article class="col">
      <section class="d-flex flex-column flex-lg-row">
        {% if logged_in %}<!-- NOTE: must check for logged_in, even if Drupal block config is set to Roles = Authenitcated -->
          {% if page.sidebar_menu %}
            <aside id="sidebar-nav" class="m-0 pl-5 pl-lg-2 pr-2 py-4">
              <button class="d-lg-none navbar-toggler" type="button" onclick="document.getElementById('sidebar-toggle-content').classList.toggle('d-none')">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div id="sidebar-toggle-content" class="d-none d-lg-block">
                <div id="sidebar-nav-button" class="mt-2 mb-3 ml-2 px-3">
                  <a href="/courses" class="button button-small button-primary">Register for Training</a>
                </div>
                {{ page.sidebar_menu }}
              </div>
            </aside>
          {% endif %}
        {% endif %}
        <article class="flex-grow-1 p-4">
          {% if page.status_messages %}
            <div class="message-wrapper">
                {{ page.status_messages }}
            </div>
          {% endif %}

          {% if is_org_page %}
            {% include 'page--lsc.html.twig' %}
          {% else %}
            {% if page.top %}
              <div id="content-top">
                {{ page.top }}
              </div>
            {% endif %}
            
            {% if page.content %}
              <div id="content-wrapper">
                {{ page.content }}
              </div>
            {% endif %}

            {% if page.bottom %}
              <div id="bottom-content">
                {{ page.bottom }}
              </div>
            {% endif %}
          {% endif %}

        </article>
      </section>
    </article>
  </section>
</article>

{% include '@drn_base/layout/footer.html.twig' %}


{{ join_group_form }}
{{ delete_lp_form }}
