<article class="container-fluid">
    <section class="row">
        <article class="col">
				<h1 class="mb-3">{{ org_name }}</h1>
        </article>
    </section>
    <section class="row mx-2 mb-4 p-0 box-with-dropshadow-border">
        <article class="col">
            <section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
                <article class="col-12 col-lg-6 pl-0 py-2">
                    <h3>Life Sustaining Church Status</h3>
                </article>
                <article class="col-12 col-lg-6 pr-0 py-2 text-right">
                    <p><strong>Current Life Sustaining Church Level:</strong> {{ org_lsc_status }}</P>
                </article>
            </section>
            <section class="row justify-content-center p-3">
                {% for lvl in org_lsc_levels %}
                    <article class="col-shrink mx-2">
                        <div class="progress-circle mx-auto my-2 per{{ lvl.percent }}{% if lvl.percent > 50 %} over50{% endif %}">
                            <span>{{ lvl.percent }}%</span>
                            <div class="left-half-clipper">
                                <div class="first50-bar"></div>
                                <div class="value-bar"></div>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="mb-0">Level {{ lvl.level }}<!--sup><button type="button" class="btn btn-secondary button-tooltip" data-toggle="tooltip" data-placement="right" title="Description of this iar level goes here.">?</button></sup--></p>
                            <p class="color-drn-accent">{{ lvl.label }}</p>
                        </div>
                    </article>
                {% endfor %}
            </section>
            <section class="row p-3">
                <article class="col py-2 text-center">
                    <a href="/group/{{ org_id }}/life-sustaining" class="button button-primary">View Life Sustaining Church Requirements</a>
                </article>
            </section>
        </article>
    </section>
    <section class="row">
        <article class="col-12 col-lg-6 p-2 pr-lg-3">
            <section class="row mb-4 box-with-dropshadow-border">
                <article class="col">
                    <section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
                        <article class="col-12 col-lg-6 pl-0 py-2">
                            <h3>Information</h3>
                        </article>
                        <article class="col-12 col-lg-6 pr-0 py-2 text-right">
                            {% if has_edit_group_permission %}<a href="/group/{{ org_id }}/edit" class="font-weight-bold">Edit</a>{% endif %}
                        </article>
                    </section>
                    <section class="row p-3">
                        <article class="col">
                            <div><label>Type of Organization: </label> {{ org_type | default("N/A") }}</div>
                            <div class="mt-2"><label>Sector: </label> {% if linked_sector_id %}<a href="/node/{{ linked_sector_id }}">{{ org_sector }}</a>{% else %}{{ org_sector | default("N/A") }}{% endif %}</div>
                            <div class="mt-2"><label>Size: </label> {{ org_size | default("N/A") }}</div>
                            <div class="mt-2"><label>Office Phone: </label> {{ org_office_phone | default("N/A") }}</div>
                            <div class="mt-2"><label>Cell Phone: </label> {{ org_cell_phone | default("N/A") }}</div>
                            <div class="mt-2"><label>Email: </label> {{ org_email | default("N/A") }}</div>
                            <div class="mt-2 mb-3">{{ org_website | default("N/A") }}</div>
                            <div class="mt-2"><label>Physical Address: </label> {{ org_physical_address | default("N/A") }}</div>
                            <div class="mt-2"><label>Mailing Address: </label> {{ org_mailing_address | default("N/A") }}</div>
                            <div class="mt-2"><label>Primary Language: </label> {{ org_language | default("N/A") }}</div>
                            <div class="mt-2"><label>Additional Languages: </label>
								{% for l in org_additional_languages %}
									<p class="m-0">{{ l }}</p>
                                {% else %}
									<p class="m-0">N/A</p>
								{% endfor %}
                            </div>
                        </article>
                    </section>
                </article>
            </section>
            <section class="row mb-4 box-with-dropshadow-border">
                <article class="col">
                    <section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
                        <article class="col-12 col-lg-6 pl-0 py-2">
                            <h3>Status</h3>
                        </article>
                        <article class="col-12 col-lg-6 pr-0 py-2 text-right">
                            {% if has_edit_group_permission %}<a href="/group/{{ org_id }}/edit" class="font-weight-bold">Edit</a>{% endif %}
                        </article>
                    </section>
                    <section class="row p-3">
                        <article class="col">
                            <div class="mt-2"><label>Status: </label> {{ org_status | default("N/A") }}</div>
                            <div class="mt-2"><label>Meeting with Organization Leader Date: </label> {{ org_meet_with_leader | default("N/A") }}</div>
                            <div class="mt-2"><label>Join Form Completed: </label> {{ org_paperwork_signed | default("N/A") }}</div>
                            <div class="mt-2"><label>Join the Network Date: </label> {{ org_join_network | default("N/A") }}</div>
                            <div class="mt-2"><label>Left the Network Date: </label> {{ org_left_network | default("N/A") }}</div>
                            <div class="mt-2"><label>Connected in Crisis Start Date: </label> {{ org_crisis_start | default("N/A") }}</div>
                            <div class="mt-2"><label>Connected in Crisis End Date: </label> {{ org_crisis_end | default("N/A") }}</div>
                            <div class="mt-2"><label>Organization Orientation Date: </label> {{ org_orientation | default("N/A") }}</div>
                            <div class="mt-2"><label>Engagement Level: </label> {{ org_engagement_level | default("N/A") }}</div>
                            <div class="mt-2"><label>Disaster Plan in Place: </label> {{ org_disaster_plan | default("N/A") }}</div>
                            <div class="mt-2"><label>Preparedness Peace: </label> {{ org_preparedness_peace | default("N/A") }}</div>
                            <div class="mt-2"><label>Core Team Start: </label> {{ org_core_team_start | default("N/A") }}</div>
                            <div class="mt-2"><label>Core Team End: </label> {{ org_core_team_end | default("N/A") }}</div>
                        </article>
                    </section>
                </article>
            </section>
        </article>
        <article class="col-12 col-lg-6 p-2 pl-lg-3">
            <section class="row mb-4 box-with-dropshadow-border">
                <article class="col">
                    <section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
                        <article class="col-12 col-lg-6 pl-0 py-2">
                            <h3>Contacts</h3>
                        </article>
                        <article class="col-12 col-lg-6 pr-0 py-2 text-right">
                            {% if has_edit_group_permission %}<a href="/group/{{ org_id }}/edit" class="font-weight-bold">Edit</a>{% endif %}
                        </article>
                    </section>
                    <section class="row p-3">
                        <article class="col">
                            {% for c in org_contacts %}
                                <div class="mb-3">
                                    <div><label class="m-0">Name: </label> {{ c.name | default("N/A") }}</div>
                                    <div><label class="m-0">Cell Phone: </label> {{ c.phone | default("N/A") }}</div>
                                    <div><label class="m-0">Title(s): </label> {{ c.title | default("N/A") }}</div>
                                    <div><label class="m-0">Lead: </label> {{ c.lead | default("N/A") }}</div>
                                    {% if "DRC" in c.title %}
                                        <div><label class="m-0">DRC Start Date (DRC Ethics Statement): </label> {{ c.start | default("N/A") }}</div>
                                    {% else %}
                                        <div><label class="m-0">Start Date: </label> {{ c.start | default("N/A") }}</div>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="mb-3">
                                    <div><p>There are no current contacts for this organization</p></div>
                                </div>
                            {% endfor %}
                        </article>
                    </section>
                </article>
            </section>
            <section class="row mb-4 box-with-dropshadow-border">
                <article class="col">
                    <section class="row bkg-light-gray m-0 px-4 pt-4 pb-3">
                        <article class="col-12 col-lg-6 pl-0 py-2">
                            <h3>Resources</h3>
                        </article>
                        <article class="col-12 col-lg-6 pr-0 py-2 text-right">
                            {% if has_edit_group_permission %}<a href="/group/{{ org_id }}/edit" class="font-weight-bold">Edit</a>{% endif %}
                        </article>
                    </section>
                    <section class="row p-3">
                        <article class="col">
                            <div class="mt-2"><label>Available Resources: </label>
								{% for r in org_resources %}
									<p class="m-0 ml-3">{{ r }}</p>
                                {% else %}
									<p class="m-0 ml-3">N/A</p>
								{% endfor %}
                            </div>
                            <div class="mt-3">{{ org_resource_comments | default("N/A") }}</div>
                        </article>
                    </section>
                </article>
            </section>
        </article>
    </section>
</article>
