<!-- START: page--user--password.html.twig -->
    <div id="content-wrapper">
      	<div class="container">
      		<div class="user-form-wrapper" id="user-form-wrapper-pw-reset">
	       		<div class="row text-center">
	       			<div class="col">
	       				{% if page.status_messages %}
					        <div class="message-wrapper">
					            {{ page.status_messages }}
					        </div>
					    {% endif %}

	    				<h1 class="page-title">Reset Your Password</h1>
	    			</div>
	    		</div>

	       		<div class="row px-lg-6">
	       			<div class="col">
				    	<div class="user-form" id="user-form-register">
				        	{{ page.content }}
				       	</div>
				    </div>
				</div>

				<section class="row">
					<div class="col ml-5">
						<p class="text-left"><strong>Need Help?</strong> <a href="/contact?subject=portal&subtopic=reset_password">Submit a ticket &raquo;</a> </p>
					</div>
				</section>

       		</div>
       	</div> <!-- /container -->
    </div><!-- /content-wrapper -->
<!-- END: page--user--password.html.twig -->
