<!-- START: page--user--reset.html.twig -->
    <div id="content-wrapper" class="page-user-reset">
      	<div class="container">
      		<div class="user-form-wrapper px-lg-6" id="user-form-wrapper-pw-reset-by-admin">
	       		<div class="row text-center">
	       			<div class="col">
	       				{% if page.status_messages %}
					        <div class="message-wrapper">
					            {{ page.status_messages }}
					        </div>
					    {% endif %}

	    				<h1 class="page-title">Password Reset</h1>
	    			</div>
	    		</div>

	       		<div class="row">
	       			<div class="col">
				    	<div class="user-form" id="user-form-register">
				        	{{ page.content }}
				       	</div>
				    </div>
				</div>

       		</div>
       	</div> <!-- /container -->
    </div><!-- /content-wrapper -->
<!-- END: page--user--reset.html.twig -->
